Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

app assembleRelease test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs db test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs download test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs index test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

app lint:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

legacy checkstyle:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs lint ktlintCheck:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

legacy lint pmd:
  stage: lint
  image:
    name: registry.gitlab.com/gitlab-ci-utils/gitlab-pmd-cpd:latest
    entrypoint:
    - ''
  parallel:
    matrix:
    - PMD_VARIANT: main
      PMD_RULESETS: config/pmd/rules.xml,config/pmd/rules-main.xml
      PMD_FILE_PATHS:
      - legacy/src/main/java
    - PMD_VARIANT: test
  ...

app tools scripts:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

legacy errorprone:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs database schema:
  stage: lint
  image: debian:bookworm-backports
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install openjdk-17-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  ...

Fix missing icon bug in pre-approval dialog
  app/src/main/kotlin/org/fdroid/install/AppInstallManager.kt
  app/src/main/kotlin/org/fdroid/install/InstallState.kt
  app/src/main/kotlin/org/fdroid/install/SessionInstallManager.kt
  app/src/main/kotlin/org/fdroid/ui/apps/InstallingAppRow.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppItem.kt
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
Due: app assembleRelease test, app lint, app tools scripts

Increase height of category chips slightly to reduce clutter.
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryChip.kt
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryList.kt
Due: app assembleRelease test, app lint, app tools scripts

Tweak main category layout to separate groups of categories.
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryList.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverContent.kt
Due: app assembleRelease test, app lint, app tools scripts

Show banner alerting users to how google developer verification threatens F-Droid.
  app/src/main/res/values/strings.xml
  legacy/src/main/java/org/fdroid/fdroid/Preferences.java
  legacy/src/main/java/org/fdroid/fdroid/Utils.kt
  legacy/src/main/java/org/fdroid/fdroid/views/CallToActionBanner.kt
  legacy/src/main/java/org/fdroid/fdroid/views/main/LatestViewBinder.java
  legacy/src/main/res/layout/main_tab_latest.xml
  legacy/src/main/res/values/colors.xml
  legacy/src/test/java/org/fdroid/fdroid/views/CallToActionBannerTest.kt
Due: app assembleRelease test, app lint, legacy checkstyle, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone

Upgrade CI image to bookworm
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Show banner alerting users to how google developer verification threatens F-Droid.
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/Utils.kt
  app/src/main/java/org/fdroid/fdroid/views/CallToActionBanner.kt
  app/src/main/java/org/fdroid/fdroid/views/main/LatestViewBinder.java
  app/src/main/res/layout/main_tab_latest.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/org/fdroid/fdroid/views/CallToActionBannerTest.kt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Allow one more year of SHA1 in index v1 tests
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

remove weblate check on stable branch
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Re-add missing import in RepositoryDiffTest
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDiffTest.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Add translations from website repo
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-fa/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-id/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-sq/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-uk/strings.xml
  tools/copy-keepandroidopen-strings.py
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

CI: Pass with warning if flaky tests fail after 5 attempts
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

bump version code for 1.23.2
  app/build.gradle
Due: app assembleRelease test, app lint, app tools scripts

Add changelog for 1.23.2
  CHANGELOG.md
Due: none

Move most important strings for translation
  app/src/main/res/values/new-strings.xml
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

DNS cache feature 2.0 refactor + fix
  app/build.gradle.kts
  app/src/androidTest/java/org/fdroid/download/DnsCacheTest.kt
  app/src/main/kotlin/org/fdroid/download/DnsCache.kt
  app/src/main/kotlin/org/fdroid/download/DnsWithCache.kt
  app/src/main/kotlin/org/fdroid/download/DownloadModule.kt
  app/src/main/kotlin/org/fdroid/download/FDroidMirrorParameterManager.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetailsViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
  legacy/src/androidTest/java/org/fdroid/fdroid/net/DnsCacheTest.kt
  legacy/src/androidTest/java/org/fdroid/fdroid/net/DnsWithCacheTest.java
  legacy/src/main/java/org/fdroid/fdroid/FDroidApp.java
  legacy/src/main/java/org/fdroid/fdroid/net/DnsCache.java
  legacy/src/main/java/org/fdroid/fdroid/net/DnsWithCache.java
  legacy/src/main/java/org/fdroid/fdroid/net/DownloaderFactory.java
  legacy/src/main/java/org/fdroid/fdroid/net/FDroidMirrorParameterManager.java
  libs/download/api/android/download.api
  libs/download/src/commonMain/kotlin/org/fdroid/download/MirrorChooser.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/MirrorParameterManager.kt
Due: app assembleRelease test, libs download test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone

feat: update color definitions for light and dark themes
  app/src/main/kotlin/org/fdroid/ui/Color.kt
Due: app assembleRelease test, app lint, app tools scripts

Consistent chip layout throughout.
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryChip.kt
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryList.kt
  app/src/main/kotlin/org/fdroid/ui/categories/ChipFlowRow.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppsFilter.kt
  app/src/main/kotlin/org/fdroid/ui/search/SearchResults.kt
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
Due: app assembleRelease test, app lint, app tools scripts

Fix bugs with keyboard navigation
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverContent.kt
  app/src/main/kotlin/org/fdroid/ui/utils/OnboardingCard.kt
Due: app assembleRelease test, app lint, app tools scripts

Show us in TV launchers
  app/src/main/AndroidManifest.xml
  app/src/main/res/drawable/ic_banner_foreground.xml
  app/src/main/res/mipmap-anydpi-v26/ic_banner.xml
  app/src/main/res/mipmap-xhdpi/ic_banner.png
  app/src/main/res/values/ic_banner_background.xml
Due: app assembleRelease test, app lint, app tools scripts

Fix crash when state got cleaned up when we run checkUserConfirmation()
  app/src/main/kotlin/org/fdroid/install/AppInstallManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Port old panic feature over
  app/build.gradle.kts
  app/src/basic/kotlin/org/fdroid/ui/navigation/ExtraNavigationEntries.kt
  app/src/basic/kotlin/org/fdroid/ui/settings/ExtraPrivacySettings.kt
  app/src/full/AndroidManifest.xml
  app/src/full/kotlin/org/fdroid/ui/navigation/ExtraNavigationEntries.kt
  app/src/full/kotlin/org/fdroid/ui/panic/ExitActivity.kt
  app/src/full/kotlin/org/fdroid/ui/panic/PanicActivity.kt
  app/src/full/kotlin/org/fdroid/ui/panic/PanicResponderActivity.kt
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettings.kt
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettingsState.kt
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettingsViewModel.kt
  app/src/full/kotlin/org/fdroid/ui/settings/ExtraPrivacySettings.kt
  app/src/main/kotlin/org/fdroid/db/InitialData.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  app/src/main/kotlin/org/fdroid/ui/Main.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
Due: app assembleRelease test, app lint, app tools scripts

Show initial screen faster
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverPresenter.kt
Due: app assembleRelease test, app lint, app tools scripts

Turn on lint test report
  app/build.gradle.kts
  app/lint.xml
Due: app assembleRelease test, app lint, app tools scripts

Fix or flag StrictMode disk I/O warning
  app/src/main/kotlin/org/fdroid/App.kt
  app/src/main/kotlin/org/fdroid/repo/RepoUpdateManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Also ignore missing quantity lint error for Hebrew
  app/lint.xml
  legacy/lint.xml
Due: app assembleRelease test, app lint, legacy checkstyle, legacy lint pmd, app tools scripts, legacy errorprone

Animate loaded items on initial Discover screen
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryList.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverContent.kt
Due: app assembleRelease test, app lint, app tools scripts

Keep filter icon visible in app lists
  app/src/main/kotlin/org/fdroid/ui/lists/AppList.kt
  app/src/main/kotlin/org/fdroid/ui/search/ExpandedSearch.kt
  app/src/main/kotlin/org/fdroid/ui/search/TopSearchBar.kt
Due: app assembleRelease test, app lint, app tools scripts

Update libraries
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Port IPFS settings
  app/src/basic/kotlin/org/fdroid/ui/settings/ExtraPrivacySettings.kt
  app/src/basic/kotlin/org/fdroid/ui/settings/ExtraSettings.kt
  app/src/full/AndroidManifest.xml
  app/src/full/kotlin/org/fdroid/ui/settings/ExtraSettings.kt
  app/src/full/kotlin/org/fdroid/ui/settings/IPreferencesIpfs.kt
  app/src/full/kotlin/org/fdroid/ui/settings/IpfsGatewayAddActivity.kt
  app/src/full/kotlin/org/fdroid/ui/settings/IpfsGatewaySettingsActivity.kt
  app/src/full/kotlin/org/fdroid/ui/settings/IpfsManager.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Use a dialog for adding IPFS gateways
  app/src/full/AndroidManifest.xml
  app/src/full/kotlin/org/fdroid/ui/ipfs/AddGatewaysDialog.kt
  app/src/full/kotlin/org/fdroid/ui/ipfs/AddGatewaysScreen.kt
  app/src/full/kotlin/org/fdroid/ui/ipfs/IpfsGatewayAddActivity.kt
  app/src/full/kotlin/org/fdroid/ui/ipfs/IpfsGatewaySettingsActivity.kt
  app/src/full/kotlin/org/fdroid/ui/ipfs/SettingsScreen.kt
Due: app assembleRelease test, app lint, app tools scripts

Move IPFS classes into their own package
  app/src/full/AndroidManifest.xml
  app/src/full/kotlin/org/fdroid/ui/ipfs/AddGatewaysScreen.kt
  app/src/full/kotlin/org/fdroid/ui/ipfs/IPreferencesIpfs.kt
  app/src/full/kotlin/org/fdroid/ui/ipfs/IpfsGatewayAddActivity.kt
  app/src/full/kotlin/org/fdroid/ui/ipfs/IpfsGatewaySettingsActivity.kt
  app/src/full/kotlin/org/fdroid/ui/ipfs/IpfsManager.kt
  app/src/full/kotlin/org/fdroid/ui/ipfs/SettingsScreen.kt
  app/src/full/kotlin/org/fdroid/ui/settings/ExtraSettings.kt
Due: app assembleRelease test, app lint, app tools scripts

Add script to update most downloaded apps
  app/src/main/assets/most_downloaded_apps.json
  tools/update-most-downloaded-apps.py
Due: app assembleRelease test, app lint, app tools scripts

Actually wire things up so IPFS gateways get used
  app/src/basic/kotlin/org/fdroid/download/DownloadRequestInterceptor.kt
  app/src/full/kotlin/org/fdroid/download/DownloadRequestInterceptor.kt
  app/src/full/kotlin/org/fdroid/ui/ipfs/IpfsManager.kt
  app/src/main/kotlin/org/fdroid/download/DownloaderFactoryImpl.kt
Due: app assembleRelease test, app lint, app tools scripts

Hoist IPFS state to IpfsManager
  app/src/full/kotlin/org/fdroid/ui/ipfs/IPreferencesIpfs.kt
  app/src/full/kotlin/org/fdroid/ui/ipfs/IpfsGatewaySettingsActivity.kt
  app/src/full/kotlin/org/fdroid/ui/ipfs/IpfsManager.kt
  app/src/full/kotlin/org/fdroid/ui/ipfs/IpfsPreferences.kt
  app/src/full/kotlin/org/fdroid/ui/ipfs/SettingsScreen.kt
Due: app assembleRelease test, app lint, app tools scripts

Show whatsNew even if installed version is no longer in repo
  app/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
Due: app assembleRelease test, app lint, app tools scripts

Don't export activities that don't need to be opened by other apps
  app/src/full/AndroidManifest.xml
  app/src/main/AndroidManifest.xml
Due: app assembleRelease test, app lint, app tools scripts

Trim changelog before displaying it
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsItem.kt
  app/src/main/kotlin/org/fdroid/updates/UpdatesManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Ensure overflow menus are properly anchored
  app/src/main/kotlin/org/fdroid/ui/apps/MyApps.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsOverflowMenu.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsMenu.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsTopAppBar.kt
  app/src/main/kotlin/org/fdroid/ui/discover/Discover.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverOverflowMenu.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetails.kt
  app/src/main/kotlin/org/fdroid/ui/utils/TopAppBarOverflowButton.kt
Due: app assembleRelease test, app lint, app tools scripts

Remove contrast colors we have no use for at the moment
  app/src/main/kotlin/org/fdroid/ui/Color.kt
Due: app assembleRelease test, app lint, app tools scripts

Prevent intents from notifications sometimes getting ignored
  app/src/main/kotlin/org/fdroid/MainActivity.kt
Due: app assembleRelease test, app lint, app tools scripts

Path conditions:
  app assembleRelease test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, libs/**/*, legacy/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/index/**/*)
  app lint: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, legacy/**/*)
  legacy checkstyle: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/**/*)
  legacy lint pmd: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/*
  legacy errorprone: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
