Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

app assembleFullRelease test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs db test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs download test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs index test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app lint pmd checkstyle:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs lint ktlintCheck:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app tools scripts:
  stage: lint
  image: debian:bullseye-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

app errorprone:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs database schema:
  stage: lint
  image: debian:bullseye-backports
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install default-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  - export ANDROID_COMPILE_SDK=`sed -n 's,.*compileSdkVersion\s*\([0-9][0-9]*\).*,\1,p' app/build.gradle`
  ...

Translated using Weblate: Hebrew (he) by Avi Parshan <avi.pars@gmail.com>
  app/src/main/res/values-he/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  app/src/main/res/values-he/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: English (United Kingdom) (en-rGB) by Andi Chandler <andi@gowling.com>
  app/src/main/res/values-en-rGB/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Thai (th) by quack <ubawmqws@duck.com>
  app/src/main/res/values-th/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-pt/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hungarian (hu) by FaCsaba <csab.faz.2@gmail.com>
  app/src/main/res/values-hu/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (Brazil) (pt-rBR) by Carlos Luiz <ecarlosluiz9@gmail.com>
  app/src/main/res/values-pt-rBR/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Turkish (tr) by Bai <batuhanakkurt000@gmail.com>
  app/src/main/res/values-tr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Swedish (sv) by Kristoffer Grundström <swedishsailfishosuser@tutanota.com>
  app/src/main/res/values-sv/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Bulgarian (bg) by 109247019824 <stoyan@gmx.com>
  app/src/main/res/values-bg/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: French (fr) by Thomas Fournier <thomas@artivain.com>
  app/src/main/res/values-fr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

update CHANGELOG
  CHANGELOG.md
Due: none

version code 1019003
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

fixes #2673 - use the correct toast message
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] remove trailing whitespace from fingerprint
  libs/database/src/main/java/org/fdroid/repo/RepoUriGetter.kt
  libs/database/src/test/java/org/fdroid/repo/RepoUriGetterTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] improve scrolling on small screens for add repo screen
  app/src/main/AndroidManifest.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

created a new dns class that caches dns lookups and stores them in the local database
  app/build.gradle
  app/src/androidTest/java/org/fdroid/fdroid/net/HttpDownloaderTest.java
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
  app/src/main/java/org/fdroid/fdroid/net/DnsWithCache.java
  app/src/main/java/org/fdroid/fdroid/net/DownloaderFactory.java
  gradle/verification-metadata.xml
  libs/database/build.gradle
  libs/database/schemas/org.fdroid.database.FDroidDatabaseInt/2.json
  libs/database/src/dbTest/java/org/fdroid/database/AppTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/DbTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/DnsCacheDaoTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/MigrationTest.kt
  libs/database/src/main/java/org/fdroid/database/DnsCache.kt
  libs/database/src/main/java/org/fdroid/database/DnsCacheDao.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
  libs/download/src/androidMain/kotlin/org/fdroid/download/HttpManager.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/HttpManager.kt
Due: app assembleFullRelease test, libs db test, libs download test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

fixed lint and test errors
  app/src/androidTest/java/org/fdroid/fdroid/net/HttpDownloaderTest.java
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
  libs/database/build.gradle
  libs/database/src/dbTest/java/org/fdroid/database/DnsCacheDaoTest.kt
  libs/database/src/main/java/org/fdroid/database/DnsCache.kt
  libs/database/src/main/java/org/fdroid/database/DnsCacheDao.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/HttpManager.kt
Due: app assembleFullRelease test, libs db test, libs download test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

add monochrome icon for basic flavor
  app/src/basic/res/drawable/ic_launcher_monochrome.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Enable SHA-1 for index-v1 CI until 2026
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

add background to appdetail toolbar icons to make them visible on bright background
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
  app/src/main/res/drawable/background_circle.xml
  app/src/main/res/drawable/ic_arrow_back.xml
  app/src/main/res/drawable/ic_arrow_back_with_background.xml
  app/src/main/res/drawable/ic_more.xml
  app/src/main/res/drawable/ic_more_with_background.xml
  app/src/main/res/drawable/ic_notifications_off.xml
  app/src/main/res/drawable/ic_notifications_paused.xml
  app/src/main/res/drawable/ic_share_with_background.xml
  app/src/main/res/menu/details2.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/attrs.xml
  app/src/main/res/values/themes.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] don't try to sanitize null search term
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] NFC settings are not available on all devices
  app/src/main/java/org/fdroid/fdroid/NfcNotEnabledActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Translated using Weblate: Croatian (hr) by Milo Ivir <mail@milotype.de>
  app/src/main/res/values-hr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hindi (hi) by AJ07 <ajaykumarmeena676@gmail.com>
  app/src/main/res/values-hi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Bengali (bn) by Daniel Rozario <rozario@tuta.io>
  app/src/main/res/values-bn/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Afrikaans (af) by Steohen <stephenvdw.social@gmail.com>
  app/src/main/res/values-af/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  metadata/pt-PT/changelogs/1016050.txt
  metadata/pt-PT/changelogs/1018050.txt
  metadata/pt-PT/changelogs/default.txt
  metadata/pt/changelogs/1018050.txt
  metadata/pt/changelogs/default.txt
Due: none

Translated using Weblate: Dutch (nl) by Issa1553 <fairfull.playing@gmail.com>
  metadata/nl/changelogs/1000011.txt
  metadata/nl/changelogs/default.txt
Due: none

Translated using Weblate: Estonian (et) by Kristjan Räts <kristjanrats@gmail.com>
  app/src/main/res/values-et/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  app/src/main/res/values-es/strings.xml
  metadata/es/changelogs/1018050.txt
  metadata/es/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hungarian (hu) by Kingproone <PlayerGuy@protonmail.com>
  metadata/hu/changelogs/default.txt
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  metadata/uk/changelogs/default.txt
Due: none

Translated using Weblate: Danish (da) by Kenneth Schack Banner <ksb@fasb.dk>
  app/src/main/res/values-da/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Lithuanian (lt) by Džiugas J <dziugas1959@hotmail.com>
  app/src/main/res/values-lt/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Malayalam (ml) by Akhil Raj <akhilakae07@gmail.com>
  app/src/main/res/values-ml/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Yue (Traditional) (yue) by Ray <ray@users.noreply.hosted.weblate.org>
  metadata/yue/changelogs/default.txt
  metadata/zh-Hant-HK/changelogs/default.txt
Due: none

Translated using Weblate: Tamil (ta) by "K.B.Dharun Krishna" <kbdharunkrishna@gmail.com>
  app/src/main/res/values-ta/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Danish (da) by Hans Henrik Juhl <hans@kopula.dk>
  app/src/main/res/values-da/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
