Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Path conditions:
  app assembleRelease test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, libs/**/*, legacy/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/index/**/*)
  app lint: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, legacy/**/*)
  legacy checkstyle: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/**/*)
  legacy lint pmd: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/*
  legacy errorprone: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)

Sort new apps by added date
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Translations update from weblate
  app/src/main/res/values-be/strings.xml
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-hi/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-lt/strings.xml
  app/src/main/res/values-lv/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  metadata/tr/changelogs/1006050.txt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

restore mirror ordering by error count
  app/src/androidTest/java/org/fdroid/download/DnsCacheTest.kt
  app/src/androidTest/java/org/fdroid/download/ErrorCacheTest.kt
  app/src/main/kotlin/org/fdroid/download/ErrorCache.kt
  app/src/main/kotlin/org/fdroid/download/FDroidMirrorParameterManager.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/MirrorChooser.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/MirrorParameterManager.kt
  libs/download/src/commonTest/kotlin/org/fdroid/download/MirrorChooserTest.kt
Due: app assembleRelease test, libs download test, app lint, libs lint ktlintCheck, app tools scripts

Disable SessionInstaller on old Xiaomi MIUI devices
  app/src/main/kotlin/org/fdroid/install/AppInstallManager.kt
  app/src/main/kotlin/org/fdroid/install/SessionInstallManager.kt
  app/src/main/kotlin/org/fdroid/utils/Utils.kt
  app/src/test/java/org/fdroid/install/AppInstallManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Also disable SessionInstaller on newer Chinese MIUI devices
  app/src/main/kotlin/org/fdroid/utils/Utils.kt
Due: app assembleRelease test, app lint, app tools scripts

Release 2.0.2
  CHANGELOG.md
  app/build.gradle.kts
Due: app assembleRelease test, app lint, app tools scripts

Add Audiobook category
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
Due: app assembleRelease test, app lint, app tools scripts

add panic/hide explanation
  app/src/full/kotlin/org/fdroid/ui/panic/PanicActivity.kt
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettingsViewModel.kt
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Shorter titlebar title for author view
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Clarify AI usage in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none
