Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleRelease test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, libs/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/index/**/*)
  app lint checkstyle: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/**/*)
  app lint pmd: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/*
  app errorprone: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)

fix(ipfs): avoid redundant http redirects
  app/src/main/java/org/fdroid/fdroid/Preferences.java
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

CI: Pass with warning if flaky tests fail after 5 attempts
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

CI: Remove kvm skipped job
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

ci: add Checkstyle to MR widgets
  .gitlab-ci.yml
  tools/checkstyle-to-codeclimate.py
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

fix: optimize caching strategy in CI configuration
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

[db] Update repositoriesState atomically in RepoManager
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

[db] add a way to get apps for a list of package names
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

[db] allow providing PackageInfo maps to avoid hammering PackageManager
  libs/database/src/dbTest/java/org/fdroid/database/AppListItemsTest.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
  libs/database/src/main/java/org/fdroid/database/AppPrefsDao.kt
  libs/database/src/main/java/org/fdroid/database/VersionDao.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

[db] Add new DbAppChecker which finds updates and apps with issues
  libs/database/src/main/java/org/fdroid/database/App.kt
  libs/database/src/main/java/org/fdroid/database/AppCheckResult.kt
  libs/database/src/main/java/org/fdroid/database/DbAppChecker.kt
  libs/database/src/main/java/org/fdroid/database/DbUpdateChecker.kt
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
  libs/index/api/android/index.api
  libs/index/src/androidMain/kotlin/org/fdroid/UpdateChecker.kt
Due: app assembleRelease test, libs db test, libs index test, libs lint ktlintCheck, libs database schema

Revise MONTI Neural Droid Agent configuration
  .github/agents/my-agent.agent.md
Due: none

Update .github/agents/my-agent.agent.md
  .github/agents/my-agent.agent.md
Due: none

next
  basic/.gitignore
  basic/build.gradle.kts
  basic/proguard-rules.pro
  basic/src/main/AndroidManifest.xml
  basic/src/main/java/org/fdroid/basic/MainActivity.kt
  basic/src/main/java/org/fdroid/basic/ui/icons/PackageVariant.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Apps.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Main.kt
  basic/src/main/java/org/fdroid/basic/ui/main/MainOverflowMenu.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppDetails.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppNavigationItem.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppSearchInputField.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppsFilter.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppsSearch.kt
  basic/src/main/java/org/fdroid/basic/ui/theme/Color.kt
  basic/src/main/java/org/fdroid/basic/ui/theme/Theme.kt
  basic/src/main/java/org/fdroid/fdroid/Compat.kt
  basic/src/main/res/drawable-v24/ic_launcher_foreground.xml
  basic/src/main/res/drawable/ic_launcher_background.xml
  basic/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  basic/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  basic/src/main/res/values/colors.xml
  basic/src/main/res/values/strings-next.xml
  basic/src/main/res/values/strings.xml
  basic/src/main/res/values/themes.xml
  gradle/libs.versions.toml
  settings.gradle
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app errorprone, libs database schema

small improvements after feedback
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Apps.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Main.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppSearchInputField.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppsFilter.kt
Due: none

navigation
  basic/build.gradle.kts
  basic/src/main/java/org/fdroid/basic/MainActivity.kt
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/About.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Apps.kt
  basic/src/main/java/org/fdroid/basic/ui/main/BottomBarScreen.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Main.kt
  basic/src/main/java/org/fdroid/basic/ui/main/MainOverflowMenu.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Repositories.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Settings.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppCarousel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppSearchInputField.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppsFilter.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppsSearch.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/Discover.kt
  basic/src/main/java/org/fdroid/basic/ui/main/updates/UpdatableAppRow.kt
  basic/src/main/res/values/strings-next.xml
  gradle/libs.versions.toml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app errorprone, libs database schema

Show installed apps and updates in My apps
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/BottomBarScreen.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Main.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Updates.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppNavigationItem.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/InstalledApp.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/InstalledAppRow.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/MyAppsList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/MyAppsScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/UpdatableApp.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/UpdatableAppRow.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/AppDetails.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/AppCarousel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/AppNavigationItem.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/AppSearchInputField.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/AppsFilter.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/AppsSearch.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/CategoryCarousel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/Discover.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/DiscoverScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/FilterPresenter.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/Names.kt
  basic/src/main/java/org/fdroid/basic/ui/main/lists/AppItem.kt
  basic/src/main/java/org/fdroid/basic/ui/main/lists/AppList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/updates/UpdatableApp.kt
Due: none

implement updates tab
  basic/build.gradle.kts
  basic/src/main/java/org/fdroid/basic/MainActivity.kt
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Main.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Updates.kt
  basic/src/main/java/org/fdroid/basic/ui/main/updates/UpdatableApp.kt
  basic/src/main/java/org/fdroid/basic/ui/main/updates/UpdatableAppRow.kt
Due: none

improve search and filtering code
  basic/build.gradle.kts
  basic/src/main/java/org/fdroid/basic/MainActivity.kt
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Apps.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Main.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppDetails.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppItem.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppNavigationItem.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppsFilter.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppsSearch.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/FilterPresenter.kt
  gradle/libs.versions.toml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app errorprone, libs database schema

Add Hilt
  basic/build.gradle.kts
  basic/src/main/AndroidManifest.xml
  basic/src/main/java/org/fdroid/basic/App.kt
  basic/src/main/java/org/fdroid/basic/MainActivity.kt
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/manager/AppDetailsManager.kt
  basic/src/main/java/org/fdroid/basic/manager/MyAppsManager.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Main.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/CategoryCarousel.kt
  build.gradle
  gradle/libs.versions.toml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app errorprone, libs database schema

Show real app names and category images
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/CategoryCarousel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppItem.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/AppsSearch.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/Discover.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/Names.kt
  basic/src/main/java/org/fdroid/basic/ui/main/updates/UpdatableAppRow.kt
  basic/src/main/res/drawable/category_connectivity.png
  basic/src/main/res/drawable/category_development.png
  basic/src/main/res/drawable/category_games.png
  basic/src/main/res/drawable/category_graphics.png
  basic/src/main/res/drawable/category_internet.png
  basic/src/main/res/drawable/category_money.png
  basic/src/main/res/drawable/category_navigation.png
  basic/src/main/res/drawable/category_reading.png
  basic/src/main/res/drawable/category_science_education.png
  basic/src/main/res/drawable/category_security.png
  basic/src/main/res/drawable/category_system.png
  basic/src/main/res/drawable/category_theming.png
  basic/src/main/res/drawable/category_writing.png
Due: none

Improve app lists
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/BottomBarScreen.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Main.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/MyAppsList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/Discover.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/DiscoverScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/FilterPresenter.kt
  basic/src/main/java/org/fdroid/basic/ui/main/lists/AppList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/lists/AppsFilter.kt
Due: none

Manager based item selection
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/manager/RepositoryManager.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Main.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/InstalledAppRow.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/MyAppsScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/UpdatableAppRow.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/DiscoverScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/lists/AppList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/repositories/RepositoriesList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/repositories/RepositoriesScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/repositories/RepositoryItem.kt
Due: none

Flesh out About page a bit more
  basic/build.gradle.kts
  basic/src/main/AndroidManifest.xml
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/About.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/CategoryCarousel.kt
  basic/src/main/res/drawable-v24/ic_launcher_foreground.xml
  basic/src/main/res/drawable/category_connectivity.png
  basic/src/main/res/drawable/category_development.png
  basic/src/main/res/drawable/category_games.png
  basic/src/main/res/drawable/category_graphics.png
  basic/src/main/res/drawable/category_internet.png
  basic/src/main/res/drawable/category_money.png
  basic/src/main/res/drawable/category_navigation.png
  basic/src/main/res/drawable/category_reading.png
  basic/src/main/res/drawable/category_science_education.png
  basic/src/main/res/drawable/category_security.png
  basic/src/main/res/drawable/category_system.png
  basic/src/main/res/drawable/category_theming.png
  basic/src/main/res/drawable/category_writing.png
  basic/src/main/res/drawable/ic_launcher.png
  basic/src/main/res/drawable/ic_launcher_background.xml
  basic/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  basic/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Due: none

Add filter chip for sorting to my apps
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/manager/MyAppsManager.kt
  basic/src/main/java/org/fdroid/basic/ui/main/BottomBarScreen.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Main.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/MyAppsList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/MyAppsScaffold.kt
Due: none

More work on app details
  basic/src/main/java/org/fdroid/basic/ui/main/apps/MyAppsScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/AppDetails.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/AppDetailsLink.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/AppDetailsMenu.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/ExpandableSection.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/IApp.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/RepoChooser.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/DiscoverScaffold.kt
Due: none

use real repo icons for apps everywhere
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/manager/MyAppsManager.kt
  basic/src/main/java/org/fdroid/basic/ui/Icons.kt
  basic/src/main/java/org/fdroid/basic/ui/Names.kt
  basic/src/main/java/org/fdroid/basic/ui/main/BottomBarScreen.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/InstalledApp.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/InstalledAppRow.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/MyAppsScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/UpdatableApp.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/UpdatableAppRow.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/AppDetails.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/IApp.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/AppCarousel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/AppNavigationItem.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/DiscoverScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/lists/AppItem.kt
  basic/src/main/java/org/fdroid/basic/ui/main/lists/AppList.kt
Due: none

Fix release builds
  basic/build.gradle.kts
  basic/src/main/java/org/fdroid/IndexFile.kt
Due: none

App details screen
  basic/build.gradle.kts
  basic/src/main/AndroidManifest.xml
  basic/src/main/java/org/fdroid/IndexFile.kt
  basic/src/main/java/org/fdroid/basic/ui/Utils.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/AppDetails.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/IApp.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/License.kt
  gradle/libs.versions.toml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app errorprone, libs database schema

Use real data for categories
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/ui/categories/Category.kt
  basic/src/main/java/org/fdroid/basic/ui/categories/CategoryCard.kt
  basic/src/main/java/org/fdroid/basic/ui/categories/CategoryCarousel.kt
  basic/src/main/java/org/fdroid/basic/ui/categories/CategoryList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/BottomBarScreen.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/AppsSearch.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/CategoryCard.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/Discover.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/DiscoverScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/FilterPresenter.kt
  basic/src/main/java/org/fdroid/basic/ui/main/lists/AppsFilter.kt
Due: none

Load default repos on first start
  basic/build.gradle.kts
  basic/src/main/assets/default_repos.json
  basic/src/main/java/org/fdroid/basic/MainActivity.kt
  basic/src/main/java/org/fdroid/basic/db/DatabaseModule.kt
  basic/src/main/java/org/fdroid/basic/db/InitialData.kt
  basic/src/main/java/org/fdroid/basic/ui/main/repositories/RepositoryItem.kt
Due: none

Show different states on discover screen
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/ui/categories/CategoryList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/BottomBarScreen.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Main.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/AppsSearch.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/Discover.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/DiscoverPresenter.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/DiscoverScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/lists/AppList.kt
Due: none

Use experimental navigation3 library
  basic/build.gradle.kts
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/manager/MyAppsManager.kt
  basic/src/main/java/org/fdroid/basic/repo/RepositoryManager.kt
  basic/src/main/java/org/fdroid/basic/ui/Navigation.kt
  basic/src/main/java/org/fdroid/basic/ui/main/BottomBar.kt
  basic/src/main/java/org/fdroid/basic/ui/main/BottomBarScreen.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Main.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/MyApps.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/MyAppsScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/Discover.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/DiscoverScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/lists/AppsFilter.kt
  basic/src/main/java/org/fdroid/basic/ui/main/lists/FilterPresenter.kt
  basic/src/main/java/org/fdroid/basic/ui/main/repositories/RepositoriesScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/repositories/RepositoryList.kt
  gradle/libs.versions.toml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app errorprone, libs database schema

Add real data
  basic/build.gradle.kts
  basic/src/main/AndroidManifest.xml
  basic/src/main/assets/logback.xml
  basic/src/main/java/org/fdroid/basic/App.kt
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/NotificationManager.kt
  basic/src/main/java/org/fdroid/basic/db/DatabaseModule.kt
  basic/src/main/java/org/fdroid/basic/download/DownloadModule.kt
  basic/src/main/java/org/fdroid/basic/download/DownloaderFactoryImpl.kt
  basic/src/main/java/org/fdroid/basic/manager/RepositoryManager.kt
  basic/src/main/java/org/fdroid/basic/repo/RepoUpdateManager.kt
  basic/src/main/java/org/fdroid/basic/repo/RepoUpdateWorker.kt
  basic/src/main/java/org/fdroid/basic/repo/RepositoryManager.kt
  basic/src/main/java/org/fdroid/basic/repo/RepositoryModule.kt
  basic/src/main/java/org/fdroid/basic/ui/main/Main.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/AppCarousel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/AppNavigationItem.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/Discover.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/DiscoverScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/FilterPresenter.kt
  basic/src/main/java/org/fdroid/basic/ui/main/lists/AppItem.kt
  basic/src/main/java/org/fdroid/basic/ui/main/lists/AppList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/repositories/RepositoriesScaffold.kt
  basic/src/main/res/drawable/ic_notification.xml
  basic/src/main/res/drawable/ic_refresh.xml
  gradle/libs.versions.toml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app errorprone, libs database schema

Add new categories
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/AppsSearch.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/CategoryCard.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/CategoryCarousel.kt
Due: none

Real data app details
  basic/src/main/java/org/fdroid/basic/App.kt
  basic/src/main/java/org/fdroid/basic/MainViewModel.kt
  basic/src/main/java/org/fdroid/basic/details/AppDetailsItem.kt
  basic/src/main/java/org/fdroid/basic/details/AppDetailsManager.kt
  basic/src/main/java/org/fdroid/basic/details/DetailsPresenter.kt
  basic/src/main/java/org/fdroid/basic/install/SessionInstallManager.kt
  basic/src/main/java/org/fdroid/basic/manager/AppDetailsManager.kt
  basic/src/main/java/org/fdroid/basic/ui/Utils.kt
  basic/src/main/java/org/fdroid/basic/ui/icons/License.kt
  basic/src/main/java/org/fdroid/basic/ui/main/BottomBarScreen.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/MyAppsList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/apps/MyAppsScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/AntiFeatures.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/AppDetails.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/AppDetailsHeader.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/AppDetailsLink.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/AppDetailsWarnings.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/ExpandableSection.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/IApp.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/RepoChooser.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/Versions.kt
  basic/src/main/java/org/fdroid/basic/ui/main/discover/DiscoverScaffold.kt
  basic/src/main/java/org/fdroid/basic/ui/main/lists/AppList.kt
  basic/src/main/java/org/fdroid/basic/ui/main/repositories/RepoIcon.kt
  basic/src/main/java/org/fdroid/basic/ui/utils/FDroidOutlineButton.kt
  basic/src/main/java/org/fdroid/basic/updates/UpdatesModule.kt
  basic/src/main/java/org/fdroid/basic/utils/CoroutinesScopesModule.kt
  basic/src/main/res/drawable/ic_repo_app_default.xml
Due: none

Factor out a BigLoadingIndicator
  next/src/main/kotlin/org/fdroid/ui/apps/MyApps.kt
  next/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
  next/src/main/kotlin/org/fdroid/ui/discover/Discover.kt
  next/src/main/kotlin/org/fdroid/ui/lists/AppList.kt
  next/src/main/kotlin/org/fdroid/ui/repositories/Repositories.kt
  next/src/main/kotlin/org/fdroid/ui/utils/BigLoadingIndicator.kt
Due: none

Handle deep link intents for app details
  next/build.gradle.kts
  next/src/main/AndroidManifest.xml
  next/src/main/kotlin/org/fdroid/MainActivity.kt
  next/src/main/kotlin/org/fdroid/ui/IntentRouter.kt
  next/src/main/kotlin/org/fdroid/ui/Main.kt
  next/src/test/java/org/fdroid/ui/IntentRouterTest.kt
Due: none

Add a shimmer effect to AsyncImages while loading
  next/src/main/kotlin/org/fdroid/ui/apps/InstalledAppRow.kt
  next/src/main/kotlin/org/fdroid/ui/apps/UpdatableAppRow.kt
  next/src/main/kotlin/org/fdroid/ui/details/AntiFeatures.kt
  next/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
  next/src/main/kotlin/org/fdroid/ui/details/AppDetailsHeader.kt
  next/src/main/kotlin/org/fdroid/ui/discover/AppCarousel.kt
  next/src/main/kotlin/org/fdroid/ui/lists/AppListRow.kt
  next/src/main/kotlin/org/fdroid/ui/repositories/RepoIcon.kt
  next/src/main/kotlin/org/fdroid/ui/utils/AsyncShimmerImage.kt
Due: none

Fixes for RepositoryList, uses repo icon now
  gradle/libs.versions.toml
  next/build.gradle.kts
  next/src/main/kotlin/org/fdroid/ui/Main.kt
  next/src/main/kotlin/org/fdroid/ui/repositories/Repositories.kt
  next/src/main/kotlin/org/fdroid/ui/repositories/RepositoriesList.kt
  next/src/main/kotlin/org/fdroid/ui/repositories/RepositoriesViewModel.kt
  next/src/main/kotlin/org/fdroid/ui/repositories/RepositoryRow.kt
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app errorprone, libs database schema

Don't crash for ActivityNotFoundException
  basic/src/main/java/org/fdroid/basic/ui/Utils.kt
  basic/src/main/java/org/fdroid/basic/ui/main/About.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/AppDetailsHeader.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/AppDetailsLink.kt
  basic/src/main/java/org/fdroid/basic/ui/main/details/AppDetailsTopAppBar.kt
Due: none
