Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Path conditions:
  app assembleRelease test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, libs/**/*, legacy/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/index/**/*)
  app lint: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, legacy/**/*)
  legacy checkstyle: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/**/*)
  legacy lint pmd: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/*
  legacy errorprone: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)

Release 2.0-alpha8
  app/build.gradle.kts
  metadata/en-US/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/ar/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/cs/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/de/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/en-GB/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/en-US/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/eo/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/es/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/et/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/fr/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/ga/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/hu-HU/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/ja/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/pl/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/pt-BR/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/pt-PT/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/pt/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/ru/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/sv-SE/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/sw/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/tr/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/uk/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/zh-CN/changelogs/2000008.txt
  src/basic/fastlane/metadata/android/zh-TW/changelogs/2000008.txt
Due: app assembleRelease test, app lint, app tools scripts

Don't crash when launching unavailable system activity
  app/src/main/kotlin/org/fdroid/MainActivity.kt
  app/src/main/kotlin/org/fdroid/ui/crash/Crash.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsMenu.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/add/AddRepoIntro.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
  app/src/main/kotlin/org/fdroid/ui/utils/UiUtils.kt
Due: app assembleRelease test, app lint, app tools scripts

libs: v1: allow indices signed with SHA-256
  libs/index/src/androidMain/kotlin/org/fdroid/index/v1/IndexV1Verifier.kt
Due: app assembleRelease test, libs index test, libs lint ktlintCheck

tests: libs: v1: add test for index-v1 signed with SHA-256
  libs/index/src/androidHostTest/kotlin/org/fdroid/index/v1/IndexV1VerifierTest.kt
  libs/index/src/commonTest/resources/verification/valid-v1-SHA256.jar
Due: app assembleRelease test, libs index test, libs lint ktlintCheck

gitlab-ci: nightly job needs python3-progress
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Set search threshold back to 2
  app/src/main/kotlin/org/fdroid/search/SearchHelper.kt
Due: app assembleRelease test, app lint, app tools scripts

Translations update from weblate
  app/src/main/res/values-cy/strings.xml
  app/src/main/res/values-en-rGB/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-gl/strings.xml
  app/src/main/res/values-he/strings.xml
  app/src/main/res/values-hr/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-kmr/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-nn/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-tok/strings.xml
  app/src/main/res/values-yue/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  metadata/it/changelogs/1021051.txt
  metadata/nl/changelogs/1021051.txt
  src/basic/fastlane/metadata/android/el/title.txt
  src/basic/fastlane/metadata/android/hr/changelogs/2000009.txt
  src/basic/fastlane/metadata/android/vi/changelogs/2000009.txt
  src/basic/fastlane/metadata/android/vi/full_description.txt
  src/basic/fastlane/metadata/android/vi/short_description.txt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Log when we updated ourselves
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/org/fdroid/install/AppUpdateReceiver.kt
Due: app assembleRelease test, app lint, app tools scripts

Close keyboard on global search action
  app/src/main/kotlin/org/fdroid/ui/search/AppSearchInputField.kt
Due: app assembleRelease test, app lint, app tools scripts

Stop checking legacy in CI
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

[db] Don't crash when server returns error codes when adding repo
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Fix suggested and installable versions in app details
  app/src/main/kotlin/org/fdroid/ui/details/DetailsPresenter.kt
Due: app assembleRelease test, app lint, app tools scripts

Stop checking for unused or blank translations
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Make RepositoriesList screenshot test less flaky
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/RepositoriesListTestKt/RepositoriesListNightTest_1def2e7f_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/RepositoriesListTestKt/RepositoriesListTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

Visual changes to app details
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryChip.kt
  app/src/main/kotlin/org/fdroid/ui/details/AntiFeatures.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsHeader.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/add/AddRepoPreviewScreen.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/add/RepoPreviewHeader.kt
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
  app/src/main/res/values/strings.xml
  app/src/screenshotTest/kotlin/org/fdroid/ui/details/DetailsHeaderTest.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/details/DetailsTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderDownloadingNightTest_3534351a_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderDownloadingTest_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderInstallTest_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderLoadingTest_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderOpenTest_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderStartingTest_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderUpdateTest_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsInstallTest_9f4e7551_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsNightTest_150baa59_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsTest_9f4e7551_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsUpdateTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/RepositoriesListTestKt/RepositoriesListNightTest_1def2e7f_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/RepositoriesListTestKt/RepositoriesListTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Handle apps not found in app details
  app/src/androidTest/java/org/fdroid/ui/screenshots/DetailsScreenshotTest.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsHeader.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsItem.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsMenu.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsTopAppBar.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsWarnings.kt
  app/src/main/kotlin/org/fdroid/ui/details/DetailsPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/details/TechnicalInfo.kt
  app/src/main/kotlin/org/fdroid/ui/details/Versions.kt
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/details/DetailsTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/AppDetailsNotFoundTest_0.png
Due: app assembleRelease test, app lint, app tools scripts

Try to auto-start after updating ourselves
  app/src/main/kotlin/org/fdroid/install/AppUpdateReceiver.kt
Due: app assembleRelease test, app lint, app tools scripts

Use separate TV banners for full and basic
  app/src/basic/res/mipmap-xhdpi/ic_banner.png
  app/src/full/res/mipmap-xhdpi/ic_banner.png
Due: app assembleRelease test, app lint, app tools scripts

Show notification after self-update
  app/src/main/kotlin/org/fdroid/MainActivity.kt
  app/src/main/kotlin/org/fdroid/NotificationManager.kt
  app/src/main/kotlin/org/fdroid/install/AppUpdateReceiver.kt
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Update dependencies
  app/build.gradle.kts
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  gradle/wrapper/gradle-wrapper.properties
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Add new categories
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
Due: app assembleRelease test, app lint, app tools scripts

Move changelog above whatsNew in app details
  app/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsTest_9f4e7551_0.png
Due: app assembleRelease test, app lint, app tools scripts

Add unit tests for DetailsPresenter
  app/src/main/kotlin/org/fdroid/ui/details/DetailsPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
  app/src/test/java/org/fdroid/ui/details/DetailsPresenterTest.kt
  libs/database/src/test/java/org/fdroid/database/DbAppCheckerTest.kt
Due: app assembleRelease test, libs db test, app lint, libs lint ktlintCheck, app tools scripts, libs database schema

gitlab-ci: use fdroid/sdkmanager for all SDK package installs
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Set compileSdk to 37
  .gitlab-ci.yml
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  libs/database/src/test/resources/robolectric.properties
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Don't show brief "No app found" if opening app details via external intent
  app/src/main/kotlin/org/fdroid/ui/details/DetailsPresenter.kt
  app/src/main/kotlin/org/fdroid/utils/Loadable.kt
Due: app assembleRelease test, app lint, app tools scripts

Update dependencies
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Target SDK 37
  app/build.gradle.kts
  app/src/full/AndroidManifest.xml
  app/src/full/java/org/fdroid/fdroid/nearby/BluetoothManager.java
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
Due: app assembleRelease test, app lint, app tools scripts

remove unnecessary steps from KVM CI test
  .gitlab-ci.yml
  gradle.properties
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Detect when apps get archived, so they can be listed as uninstalled
  app/src/main/kotlin/org/fdroid/install/InstalledAppsCache.kt
Due: app assembleRelease test, app lint, app tools scripts

Add setting to only update repos when app is opened
  app/src/main/kotlin/org/fdroid/repo/RepoUpdateManager.kt
  app/src/main/kotlin/org/fdroid/repo/RepoUpdateWorker.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
  app/src/main/kotlin/org/fdroid/updates/AppUpdateWorker.kt
  app/src/main/res/values/strings.xml
  app/src/test/java/org/fdroid/repo/RepoUpdateManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Add a button to clear all installing apps, if they are not progressing anymore
  app/src/main/kotlin/org/fdroid/install/AppInstallManager.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsInfo.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsList.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
  app/src/main/res/values/strings.xml
  app/src/screenshotTest/kotlin/org/fdroid/ui/apps/MyAppsTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/apps/MyAppsTestKt/MyAppsInstalledAndIssues_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Rename "Installing" apps in "Recently installed"
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsList.kt
  app/src/main/res/values/strings.xml
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/apps/MyAppsTestKt/MyAppsInstalledAndIssues_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Stabilize apps sort order in MyApps
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsPresenter.kt
Due: app assembleRelease test, app lint, app tools scripts

Update targetSdk for 37 that can get auto updated and installed
  app/src/main/kotlin/org/fdroid/install/SessionInstallManager.kt
  libs/index/src/androidMain/kotlin/org/fdroid/CompatibilityChecker.kt
Due: app assembleRelease test, libs index test, app lint, libs lint ktlintCheck, app tools scripts

Update most downloaded apps and default repos
  app/src/main/assets/default_repos.json
  app/src/main/assets/most_downloaded_apps.json
  legacy/src/main/res/values/default_repos.xml
Due: app assembleRelease test, app lint, legacy checkstyle, legacy lint pmd, app tools scripts, legacy errorprone
