Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

Use default roundness for Card style
  app/src/main/res/values/shape.xml
  app/src/main/res/values/styles.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Remove local category background images
  app/src/main/java/org/fdroid/fdroid/views/categories/CategoryController.java
  app/src/main/res/drawable/category_connectivity.png
  app/src/main/res/drawable/category_development.png
  app/src/main/res/drawable/category_games.png
  app/src/main/res/drawable/category_graphics.png
  app/src/main/res/drawable/category_internet.png
  app/src/main/res/drawable/category_money.png
  app/src/main/res/drawable/category_navigation.png
  app/src/main/res/drawable/category_reading.png
  app/src/main/res/drawable/category_science_education.png
  app/src/main/res/drawable/category_security.png
  app/src/main/res/drawable/category_system.png
  app/src/main/res/drawable/category_theming.png
  app/src/main/res/drawable/category_writing.png
  app/src/main/res/layout/category_item.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

removing all translations less than 70% complete
  app/src/main/res/values-af/strings.xml
  app/src/main/res/values-az/strings.xml
  app/src/main/res/values-ber/strings.xml
  app/src/main/res/values-bn-rBD/strings.xml
  app/src/main/res/values-bo/strings.xml
  app/src/main/res/values-br/strings.xml
  app/src/main/res/values-ckb/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-fy/strings.xml
  app/src/main/res/values-gu/strings.xml
  app/src/main/res/values-hy/strings.xml
  app/src/main/res/values-ka/strings.xml
  app/src/main/res/values-kab/strings.xml
  app/src/main/res/values-kk/strings.xml
  app/src/main/res/values-kmr/strings.xml
  app/src/main/res/values-lb/strings.xml
  app/src/main/res/values-mk/strings.xml
  app/src/main/res/values-mn/strings.xml
  app/src/main/res/values-mr/strings.xml
  app/src/main/res/values-my/strings.xml
  app/src/main/res/values-nah/strings.xml
  app/src/main/res/values-ne/strings.xml
  app/src/main/res/values-nl-rBE/strings.xml
  app/src/main/res/values-oc/strings.xml
  app/src/main/res/values-or/strings.xml
  app/src/main/res/values-pa-rPK/strings.xml
  app/src/main/res/values-ps/strings.xml
  app/src/main/res/values-si/strings.xml
  app/src/main/res/values-sn/strings.xml
  app/src/main/res/values-so/strings.xml
  app/src/main/res/values-te/strings.xml
  app/src/main/res/values-tok/strings.xml
  app/src/main/res/values-tt/strings.xml
  app/src/main/res/values-tzm/strings.xml
  app/src/main/res/values-ug/strings.xml
  app/src/main/res/values-ur/strings.xml
  app/src/main/res/values-uz/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

💸 add .well-known/funding-manifest-urls
  .well-known/funding-manifest-urls
Due: none

Enable auto-updates by default for new installs
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

sort update items by name
  app/src/main/java/org/fdroid/fdroid/views/updates/UpdatesAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add AppUpdateWorker and use it for batch app updates
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
  app/src/main/java/org/fdroid/fdroid/NotificationManager.kt
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/RepoUpdateManager.kt
  app/src/main/java/org/fdroid/fdroid/receiver/StartupReceiver.java
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
  app/src/main/java/org/fdroid/fdroid/views/updates/items/UpdateableAppsHeader.java
  app/src/main/java/org/fdroid/fdroid/work/AppUpdateWorker.kt
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Show notification after repo updates instead of updating apps directly
  app/src/main/java/org/fdroid/fdroid/AppUpdateManager.kt
  app/src/main/java/org/fdroid/fdroid/AppUpdateStatusManager.java
  app/src/main/java/org/fdroid/fdroid/NotificationHelper.java
  app/src/main/java/org/fdroid/fdroid/NotificationManager.kt
  app/src/main/java/org/fdroid/fdroid/RepoUpdateManager.kt
  app/src/main/java/org/fdroid/fdroid/work/AppUpdateWorker.kt
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Auto update apps daily
  app/src/main/java/org/fdroid/fdroid/work/AppUpdateWorker.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Auto update apps after tapping update notification
  app/src/main/java/org/fdroid/fdroid/NotificationManager.kt
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
  app/src/main/java/org/fdroid/fdroid/views/updates/items/UpdateableAppsHeader.java
  app/src/main/java/org/fdroid/fdroid/work/AppUpdateWorker.kt
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Add AppUpdateManager to update all apps in one sweep
  app/build.gradle
  app/src/main/java/org/fdroid/fdroid/AppUpdateManager.kt
  app/src/main/java/org/fdroid/fdroid/AppUpdateStatusManager.java
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
  app/src/main/java/org/fdroid/fdroid/NotificationHelper.java
  app/src/main/java/org/fdroid/fdroid/installer/InstallManagerService.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add AppUpdateWorkerTest
  app/build.gradle
  app/src/androidTest/java/org/fdroid/fdroid/work/AppUpdateWorkerTest.kt
  app/src/androidTest/proguard-rules.pro
  app/src/main/java/org/fdroid/fdroid/work/AppUpdateWorker.kt
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Don't require device charging for AppUpdateWorker
  app/src/main/java/org/fdroid/fdroid/work/AppUpdateWorker.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add AppUpdateManagerTest
  app/build.gradle
  app/src/androidTest/proguard-rules.pro
  app/src/main/java/org/fdroid/fdroid/AppUpdateManager.kt
  app/src/test/java/org/fdroid/fdroid/AppUpdateManagerTest.kt
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

MockKAgentException: Mocking static is supported starting from Android P
  app/src/androidTest/java/org/fdroid/fdroid/work/AppUpdateWorkerTest.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Full: Target SDK 31
  app/build.gradle
  app/src/full/AndroidManifest.xml
  app/src/full/java/org/fdroid/fdroid/views/main/NearbyViewBinder.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Remove roboelectric shadow hacks
  app/src/test/java/org/fdroid/fdroid/shadows/ShadowContextImpl.java
  app/src/test/java/org/fdroid/fdroid/shadows/ShadowLog.java
  app/src/test/java/org/fdroid/fdroid/work/CleanCacheWorkerTest.java
  app/src/test/resources/robolectric.properties
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Show update notification only for non-zero updates
  app/src/main/java/org/fdroid/fdroid/AppUpdateStatusManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

fix: JDK version was locked to exactly 17
  libs/sharedTest/build.gradle
Due: libs lint ktlintCheck

strings: fix notification_summary_app_updates weird casing
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Fix top app bar background in OLED black theme
  app/src/main/res/layout/activity_app_list.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Migrate from KAPT to KSP
  build.gradle
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  libs/database/build.gradle
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

Adapt DB modification CI check for KSP
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Update all the things
  .gitlab-ci.yml
  app/build.gradle
  gradle.properties
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  gradle/wrapper/gradle-wrapper.properties
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Upgrade room to 2.7.1
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: none

Fix AppListLiveData.addSource()
  libs/database/src/dbTest/java/org/fdroid/database/AppListItemsTest.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Upgrade Ktor to latest version
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  libs/download/src/androidUnitTest/kotlin/org/fdroid/download/HttpDownloaderTest.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/HttpManager.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/Mirror.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/MirrorChooser.kt
  libs/download/src/commonTest/kotlin/org/fdroid/TestUtils.kt
  libs/download/src/commonTest/kotlin/org/fdroid/download/HttpManagerIntegrationTest.kt
  libs/download/src/commonTest/kotlin/org/fdroid/download/HttpManagerTest.kt
  libs/download/src/commonTest/kotlin/org/fdroid/download/MirrorChooserTest.kt
  libs/download/src/commonTest/kotlin/org/fdroid/download/MirrorTest.kt
Due: libs download test, libs lint ktlintCheck

Fix AppUpdateWorkerTest
  app/src/androidTest/java/org/fdroid/fdroid/work/AppUpdateWorkerTest.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

update mockk
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: none

Add ConsistentCopyVisibility annotation where required
  libs/database/src/main/java/org/fdroid/database/App.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
  libs/database/src/main/java/org/fdroid/database/AppPrefsDao.kt
  libs/database/src/main/java/org/fdroid/database/DbUpdateChecker.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabaseHolder.kt
  libs/database/src/main/java/org/fdroid/database/Repository.kt
  libs/database/src/main/java/org/fdroid/database/Version.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Upgrade CI image to bookworm
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Upgrade androguard from backports for nightly publishing
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Create scala.yml
  .github/workflows/scala.yml
Due: none

gitlab-ci: fdroidserver from master until fix is released
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Display all apps created by a developer
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/apps/AppListActivity.java
  app/src/main/res/drawable/ic_arrow_forward.xml
  app/src/main/res/layout/app_details2_more_apps.xml
  app/src/main/res/values/strings.xml
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

De-duplicate SQL getAppListItems queries by using RawQuery
  libs/database/src/dbTest/java/org/fdroid/database/AppListItemsTest.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Fix and add tests for hasAuthorMoreThanOneApp(), getAppListItemsForAuthor()
  libs/database/src/dbTest/java/org/fdroid/database/AppListItemsTest.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestAppUtils.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Display correct icon on chip in search and correctly use TTS
  app/src/main/java/org/fdroid/fdroid/views/apps/AppListActivity.java
  app/src/main/java/org/fdroid/fdroid/views/apps/FilterSpan.java
  app/src/main/java/org/fdroid/fdroid/views/apps/FilterTextWatcher.java
  app/src/main/res/drawable/ic_author.xml
  app/src/main/res/drawable/ic_repo.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Prevent users from accidentally creating a category search filter
  app/src/main/java/org/fdroid/fdroid/views/apps/AppListActivity.java
  app/src/main/java/org/fdroid/fdroid/views/apps/FilterTextWatcher.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Use ViewModel to obtain data about app author
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/appdetails/AppDetailsViewModel.kt
  libs/database/src/main/java/org/fdroid/database/App.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema
