Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Path conditions:
  app assembleRelease test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, libs/**/*, legacy/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/index/**/*)
  app lint: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, legacy/**/*)
  legacy checkstyle: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/**/*)
  legacy lint pmd: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/*
  legacy errorprone: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)

Instrument db to monitor slow queries and log explain statements.
  app/src/main/kotlin/org/fdroid/db/DatabaseModule.kt
  legacy/src/main/java/org/fdroid/fdroid/data/DBHelper.java
  libs/database/src/main/java/org/fdroid/database/FDroidDatabaseHolder.kt
  libs/database/src/main/java/org/fdroid/database/InstrumentedDatabase.kt
Due: app assembleRelease test, libs db test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Refactor UpdateManager for better readability
  app/src/main/kotlin/org/fdroid/install/AppInstallManager.kt
  app/src/main/kotlin/org/fdroid/updates/UpdateInstaller.kt
  app/src/main/kotlin/org/fdroid/updates/UpdateMappers.kt
  app/src/main/kotlin/org/fdroid/updates/UpdatesManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Some fixes for TimingDatabase logging
  libs/database/src/main/java/org/fdroid/database/FDroidDatabaseHolder.kt
  libs/database/src/main/java/org/fdroid/database/InstrumentedDatabase.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Track screenshots for tests in LFS
  .gitattributes
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverFirstStartTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverNoEnabledReposTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverTest_2ed8e27d_0.png
  app/src/screenshotTestFullDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverFirstStartTest_2ed8e27d_0.png
  app/src/screenshotTestFullDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverNoEnabledReposTest_2ed8e27d_0.png
  app/src/screenshotTestFullDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverTest_2ed8e27d_0.png
  gradle/verification-metadata.xml
Due: app assembleRelease test, app lint, app tools scripts

DB Performance fixes focussing on App Details screen.
  libs/database/schemas/org.fdroid.database.FDroidDatabaseInt/11.json
  libs/database/src/main/java/org/fdroid/database/App.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
  libs/database/src/main/java/org/fdroid/database/Version.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Refactor AppInstallManager for readability
  app/src/main/kotlin/org/fdroid/install/AppInstallManager.kt
  app/src/main/kotlin/org/fdroid/install/InstallIconResolver.kt
Due: app assembleRelease test, app lint, app tools scripts

Refactor RepoUpdateManager for readability
  app/src/main/kotlin/org/fdroid/repo/RepoUpdateListener.kt
  app/src/main/kotlin/org/fdroid/repo/RepoUpdateManager.kt
  app/src/main/kotlin/org/fdroid/repo/RepoUpdateState.kt
Due: app assembleRelease test, app lint, app tools scripts

Add tests for AppInstallManager
  app/src/test/java/org/fdroid/install/AppInstallManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Add tests for UpdatesManager and the new UpdateInstaller
  app/build.gradle.kts
  app/src/main/kotlin/org/fdroid/updates/UpdateInstaller.kt
  app/src/test/java/org/fdroid/updates/UpdateInstallerTest.kt
  app/src/test/java/org/fdroid/updates/UpdatesManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Add tests for RepoUpdateManager
  app/src/test/java/org/fdroid/repo/RepoUpdateManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Catch more error conditions in AppInstallManager
  app/src/main/kotlin/org/fdroid/install/AppInstallManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Add tests for SessionInstallManager
  app/src/test/java/org/fdroid/install/SessionInstallManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Make SessionInstallManager testable
  app/src/main/kotlin/org/fdroid/install/InstallBroadcastReceiver.kt
  app/src/main/kotlin/org/fdroid/install/InstallBroadcastReceiverFactory.kt
  app/src/main/kotlin/org/fdroid/install/SessionInstallManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Add `git status` to DB schema check CI job
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Add Git LFS to CI setup
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Add a small test for CacheCleaner
  app/src/main/kotlin/org/fdroid/install/CacheCleaner.kt
  app/src/test/java/org/fdroid/install/CacheCleanerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Add tests for RepoUpdateWorker
  app/src/androidTest/java/org/fdroid/repo/RepoUpdateWorkerTest.kt
  app/src/main/kotlin/org/fdroid/repo/RepoUpdateWorker.kt
Due: app assembleRelease test, app lint, app tools scripts

Add Contact, Radio, Remote Controller categories
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
Due: app assembleRelease test, app lint, app tools scripts

Add tests for AppUpdateWorker
  app/build.gradle.kts
  app/src/androidTest/java/org/fdroid/updates/AppUpdateWorkerTest.kt
  app/src/main/kotlin/org/fdroid/updates/AppUpdateWorker.kt
Due: app assembleRelease test, app lint, app tools scripts

Add tests for InstalledAppsCache
  app/src/main/kotlin/org/fdroid/install/InstalledAppsCache.kt
  app/src/test/java/org/fdroid/install/InstalledAppsCacheTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Fix RTL language presentation of installing apps
  app/src/main/kotlin/org/fdroid/ui/apps/InstallingAppRow.kt
  app/src/main/kotlin/org/fdroid/ui/apps/UpdatableAppRow.kt
Due: app assembleRelease test, app lint, app tools scripts

Run screenshot tests in CI
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

[db] list of repos in RepoManager is null until they have loaded
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Add screenshot test for My Apps
  app/src/screenshotTest/kotlin/org/fdroid/ui/apps/MyAppsTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/apps/MyAppsTestKt/MyAppsFullList_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/apps/MyAppsTestKt/MyAppsInstalledAndIssues_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/apps/MyAppsTestKt/MyAppsOnlyInstalledAppsAndNoInternet_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/apps/MyAppsTestKt/MyAppsUpdatesOnlyAndNoInternet_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

More data for discover screenshot test
  app/src/screenshotTest/kotlin/org/fdroid/ui/discover/DiscoverTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

[db] add a method for repairing Fts table, if corrupted
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Check Fts integrity after startup and rebuild it, if needed
  app/src/main/kotlin/org/fdroid/App.kt
Due: app assembleRelease test, app lint, app tools scripts

Handle list of repos being null before they have loaded
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/RepositoriesViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetailsViewModel.kt
  legacy/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsViewModel.kt
  legacy/src/main/java/org/fdroid/fdroid/work/UnarchiveWorker.kt
Due: app assembleRelease test, app lint, legacy checkstyle, legacy lint pmd, app tools scripts, legacy errorprone

Fix CJK language search in app lists and my apps
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/search/SearchHelper.kt
  app/src/main/kotlin/org/fdroid/ui/search/SearchManager.kt
  app/src/main/kotlin/org/fdroid/ui/utils/UiUtils.kt
Due: app assembleRelease test, app lint, app tools scripts

Fix horizontal padding
  app/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/Repositories.kt
Due: app assembleRelease test, app lint, app tools scripts

Add tests for SearchManager
  app/build.gradle.kts
  app/src/main/kotlin/org/fdroid/ui/search/SearchManager.kt
  app/src/test/java/org/fdroid/ui/search/SearchManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Remove zero whitespace from CJK languages in app details
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsItem.kt
  app/src/main/kotlin/org/fdroid/ui/search/SearchHelper.kt
Due: app assembleRelease test, app lint, app tools scripts

Move Fts repair check out of Application
  app/src/main/kotlin/org/fdroid/App.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  app/src/main/kotlin/org/fdroid/ui/MainViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

Use new SearchQueryRewriter and adapt for improved Chinese queries
  app/src/main/kotlin/org/fdroid/ui/search/SearchManager.kt
  app/src/test/java/org/fdroid/ui/search/SearchManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

[db] Add SearchQueryRewriter and use it in AppSearchItemsTest
  libs/database/src/dbTest/java/org/fdroid/database/AppSearchItemsTest.kt
  libs/database/src/main/java/org/fdroid/database/SearchQueryRewriter.kt
  libs/database/src/test/java/org/fdroid/database/SearchQueryRewriterTest.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Upgrade dependencies
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

[db] Add search test: AppSearchItemsTest
  libs/database/src/dbTest/java/org/fdroid/database/AppSearchItemsTest.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

[db] Move migration tests into their own package
  libs/database/src/dbTest/java/org/fdroid/database/migrations/CountryCodeMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/migrations/FtsAddColumnsMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/migrations/FtsCaseInsensitiveMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/migrations/MultiRepoMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/migrations/PreferredRepoMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/migrations/RepoCertNonNullMigrationTest.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

[db] fix diff bug where zero-whitespace gets added more than once
  libs/database/src/dbTest/java/org/fdroid/database/IndexV2DiffTest.kt
  libs/database/src/main/java/org/fdroid/database/App.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Fix crash when deleting repos
  app/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetailsViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts
