Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

app assembleFullRelease test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs db test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs download test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs index test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app lint pmd checkstyle:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs lint ktlintCheck:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app tools scripts:
  stage: lint
  image: debian:bullseye-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

app errorprone:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs database schema:
  stage: lint
  image: debian:bullseye-backports
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install default-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  - export ANDROID_COMPILE_SDK=`sed -n 's,.*compileSdkVersion\s*\([0-9][0-9]*\).*,\1,p' app/build.gradle`
  ...

Translated using Weblate (Japanese)
  metadata/ja/changelogs/1012000.txt
  metadata/ja/changelogs/1021051.txt
  metadata/ja/changelogs/default.txt
Due: none

Translated using Weblate: Esperanto (eo) by ☆Verdulo <tomek@disroot.org>
  metadata/eo/changelogs/default.txt
  src/basic/fastlane/metadata/android/eo/full_description.txt
Due: none

Translated using Weblate: Indonesian (id) by Taufik Adi Wicaksono <taufikadi.wicaksono@tutamail.com>
  app/src/main/res/values-id/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Latvian (lv) by Edgars Andersons <Edgars+Weblate@gaitenis.id.lv>
  app/src/main/res/values-lv/strings.xml
  metadata/lv/changelogs/1022050.txt
  metadata/lv/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate (Ukrainian)
  metadata/uk/changelogs/default.txt
Due: none

Translated using Weblate (Ukrainian)
  app/src/main/res/values-uk/strings.xml
  metadata/uk/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Indonesian (id) by Linerly <linerly@proton.me>
  app/src/main/res/values-id/strings.xml
  metadata/id/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (Brazil) (pt-rBR) by LucasMZ <git@lucasmz.dev>
  app/src/main/res/values-en-rGB/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  metadata/pt-BR/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Turkish (tr) by Turker <turkersny005@gmail.com>
  app/src/main/res/values-tr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Turkish (tr) by Nuri KÜÇÜKLER <enatsek@gmail.com>
  app/src/main/res/values-tr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Korean (ko) by 안세훈 <on9686@gmail.com>
  app/src/main/res/values-ko/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (Portugal) (pt-rPT) by ssantos <ssantos@web.de>
  app/src/main/res/values-pt-rPT/strings.xml
  src/basic/fastlane/metadata/android/pt/full_description.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate (Chinese (Simplified Han script))
  metadata/zh-CN/changelogs/default.txt
Due: none

Translated using Weblate (French)
  metadata/fr/changelogs/default.txt
Due: none

Translated using Weblate: Spanish (es) by gacarel <gacarel657@bariswc.com>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hindi (hi) by "Shubham Sharma (Kaku)" <sharmashubham.dav@gmail.com>
  app/src/main/res/values-hi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Persian (fa) by Parsa Nobahari <89968726+ParsaNobahari@users.noreply.github.com>
  app/src/main/res/values-fa/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  app/src/main/res/values-fa/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Persian (fa) by milad19s <alirezaaazami2000@gmail.com>
  app/src/main/res/values-fa/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Dutch (nl) by Jeroen <alpenblauwtje@gmail.com>
  app/src/main/res/values-nl/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  app/src/main/res/values-he/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Danish (da) by cat <catsnote@proton.me>
  app/src/main/res/values-da/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Basque (eu) by Alexander Gabilondo <alexgabi@openmailbox.org>
  app/src/main/res/values-eu/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Korean (ko) by Myeongjin Lee <aranet100@gmail.com>
  app/src/main/res/values-ko/strings.xml
  metadata/ko/changelogs/1000010.txt
  metadata/ko/changelogs/1000011.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate (Chinese (Traditional Han script))
  metadata/zh-TW/changelogs/default.txt
Due: none

Translated using Weblate (Hindi)
  metadata/hi/changelogs/1000000.txt
  metadata/hi/changelogs/1000001.txt
  metadata/hi/changelogs/1000002.txt
  metadata/hi/changelogs/1000003.txt
  metadata/hi/changelogs/1000004.txt
  metadata/hi/changelogs/1000005.txt
Due: none

Translated using Weblate: Hindi (hi) by Harshit Sethi <hstsethi@outlook.com>
  app/src/main/res/values-hi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Vietnamese (vi) by IAmOlive <nhathungtran2011@gmail.com>
  app/src/main/res/values-vi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (Portugal) (pt-rPT) by Manuela Silva <mmsrs@sky.com>
  app/src/main/res/values-pt-rPT/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hebrew (he) by shiloni <mmm_45@walla.com>
  app/src/main/res/values-he/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Gaelic (gd) by Cheang Oun <coun643@gmail.com>
  app/src/main/res/values-gd/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Belarusian (be) by Yauhen <bugomol@users.noreply.hosted.weblate.org>
  app/src/main/res/values-be/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate (Turkish)
  metadata/tr/changelogs/1021051.txt
  metadata/tr/changelogs/default.txt
Due: none

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  app/src/main/res/values-sq/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Punjabi (pa) by Mandeep <mandeeps708@gmail.com>
  app/src/main/res/values-pa/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (Portugal) (pt-rPT) by "Filipe Mota (BlackSpirits)" <blackspirits@gmail.com>
  app/src/main/res/values-pt-rPT/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Prepare 1.23.0 release
  CHANGELOG.md
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Use new weblate API for trim-incomplete-translations
  app/src/main/res/xml/locales_config.xml
  tools/trim-incomplete-translations-for-release.py
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Revert "Make cards rounder"
  app/src/full/res/layout/swap_start_swap.xml
  app/src/main/res/layout/activity_app_list.xml
  app/src/main/res/layout/app_card_horizontal.xml
  app/src/main/res/layout/app_card_large.xml
  app/src/main/res/layout/app_card_list_item.xml
  app/src/main/res/layout/app_card_normal.xml
  app/src/main/res/layout/app_details2_donate.xml
  app/src/main/res/layout/app_details2_screenshot_item.xml
  app/src/main/res/layout/repo_item.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
