Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Path conditions:
  app assembleRelease test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, libs/**/*, legacy/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/index/**/*)
  app lint: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, legacy/**/*)
  legacy checkstyle: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/**/*)
  legacy lint pmd: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/*
  legacy errorprone: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)

Optimize Repository Order
  settings.gradle
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Fix firstStart flag for people upgrading from 1.x
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  app/src/main/kotlin/org/fdroid/updates/UpdatesManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Show signer of installed version in technical info
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsItem.kt
  app/src/main/kotlin/org/fdroid/ui/details/DetailsPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/details/TechnicalInfo.kt
Due: app assembleRelease test, app lint, app tools scripts

Don't get version name from git tag
  legacy/build.gradle
Due: app assembleRelease test, app lint, legacy checkstyle, legacy lint pmd, legacy errorprone

Add version code to app details version item
  app/src/main/kotlin/org/fdroid/ui/details/Versions.kt
  app/src/main/res/values/new-strings.xml
Due: app assembleRelease test, app lint, app tools scripts

Don't show issue for apps with incompatible signer installed by other stores
  libs/database/src/main/java/org/fdroid/database/DbAppChecker.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Improve manual repo update icon
  app/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetails.kt
Due: app assembleRelease test, app lint, app tools scripts

Try to get changelog picked up
  src/basic/fastlane/metadata/android/en-US/changelogs/2000001.txt
Due: none

Bump version to 2.0-alpha1
  app/build.gradle.kts
Due: app assembleRelease test, app lint, app tools scripts

Show issue for apps we had installed with different signer
  libs/database/src/main/java/org/fdroid/database/DbAppChecker.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Don't show category chip for the category of current list
  app/src/main/kotlin/org/fdroid/ui/lists/AppListPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

Don't resolve hostname for ProxyConfig
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Don't assume metered network if user auto-updates apps when metered
  app/src/main/kotlin/org/fdroid/download/NetworkMonitor.kt
Due: app assembleRelease test, app lint, app tools scripts

Try to ensure that issue badge for repos is always round
  app/src/main/kotlin/org/fdroid/ui/discover/Discover.kt
Due: app assembleRelease test, app lint, app tools scripts

[db] only flag compatible updates in other repos if older than a week
  libs/database/src/main/java/org/fdroid/database/DbAppChecker.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Don't use error color for apps that have a compatible update in another repo
  app/src/main/kotlin/org/fdroid/ui/apps/InstalledAppRow.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsList.kt
Due: app assembleRelease test, app lint, app tools scripts

Try to make notification icons not translucent
  app/src/main/res/drawable/ic_notification.xml
  app/src/main/res/drawable/ic_refresh.xml
Due: app assembleRelease test, app lint, app tools scripts

Upgrade dependencies
  app/src/main/kotlin/org/fdroid/ui/lists/AppListPresenter.kt
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Show a small onboarding hint for app issues
  app/src/main/kotlin/org/fdroid/settings/OnboardingManager.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyApps.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsEntry.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsInfo.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsList.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
  app/src/main/res/values/new-strings.xml
Due: app assembleRelease test, app lint, app tools scripts

Fix update direction in MyApps for RTL languages
  app/src/main/kotlin/org/fdroid/ui/apps/UpdatableAppRow.kt
Due: app assembleRelease test, app lint, app tools scripts

Scroll MyApps list to top if new updates were added
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsList.kt
Due: app assembleRelease test, app lint, app tools scripts

Don't bounce full screen screenshots
  app/src/main/kotlin/org/fdroid/ui/details/Screenshots.kt
Due: app assembleRelease test, app lint, app tools scripts

Release 2.0-alpha2
  app/build.gradle.kts
  src/basic/fastlane/metadata/android/en-US/changelogs/2000002.txt
Due: app assembleRelease test, app lint, app tools scripts

Export for installed apps as CSV
  app/src/main/kotlin/org/fdroid/ui/apps/InstalledAppRow.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppItem.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyApps.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsInfo.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
Due: app assembleRelease test, app lint, app tools scripts

fix: add macos aapt2 verification metadata
  gradle/verification-metadata.xml
Due: none

Use build flavors for nightly versions
  .gitlab-ci.yml
  app/build.gradle.kts
  app/src/basicNightly/res/values-night/ic_launcher_background.xml
  app/src/basicNightly/res/values/ic_launcher_background.xml
  app/src/basicNightly/res/values/strings.xml
  app/src/debug/res/values-night/ic_launcher_background.xml
  app/src/debug/res/values/ic_launcher_background.xml
  app/src/fullNightly/res/values-night/ic_launcher_background.xml
  app/src/fullNightly/res/values/ic_launcher_background.xml
  app/src/fullNightly/res/values/strings.xml
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Add stability configuration file
  app/build.gradle.kts
  app/compose-stability.conf
Due: app assembleRelease test, app lint, app tools scripts

Add install history feature
  app/build.gradle.kts
  app/src/main/kotlin/org/fdroid/history/HistoryEvent.kt
  app/src/main/kotlin/org/fdroid/history/HistoryManager.kt
  app/src/main/kotlin/org/fdroid/install/AppInstallManager.kt
  app/src/main/kotlin/org/fdroid/repo/RepoUpdateWorker.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  app/src/main/kotlin/org/fdroid/ui/Main.kt
  app/src/main/kotlin/org/fdroid/ui/apps/InstalledAppRow.kt
  app/src/main/kotlin/org/fdroid/ui/apps/InstallingAppRow.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyApps.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsEntry.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsList.kt
  app/src/main/kotlin/org/fdroid/ui/apps/UpdatableAppRow.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/history/History.kt
  app/src/main/kotlin/org/fdroid/ui/history/HistoryItem.kt
  app/src/main/kotlin/org/fdroid/ui/history/HistoryList.kt
  app/src/main/kotlin/org/fdroid/ui/history/HistoryViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/navigation/NavigationKey.kt
  app/src/main/res/values/new-strings.xml
  app/src/test/java/org/fdroid/history/HistoryManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Add mirror chooser setting
  app/src/main/kotlin/org/fdroid/download/DownloadModule.kt
  app/src/main/kotlin/org/fdroid/download/MirrorParameters.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
  app/src/main/kotlin/org/fdroid/utils/Utils.kt
  app/src/main/res/values/new-strings.xml
Due: app assembleRelease test, app lint, app tools scripts

Show tooltips for all app bar buttons
  app/src/main/kotlin/org/fdroid/ui/apps/MyApps.kt
  app/src/main/kotlin/org/fdroid/ui/crash/Crash.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsTopAppBar.kt
  app/src/main/kotlin/org/fdroid/ui/discover/Discover.kt
  app/src/main/kotlin/org/fdroid/ui/history/History.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppList.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetails.kt
  app/src/main/kotlin/org/fdroid/ui/search/TopSearchBar.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
  app/src/main/kotlin/org/fdroid/ui/utils/TopAppBarButton.kt
Due: app assembleRelease test, app lint, app tools scripts

Add prevent screenshots feature
  app/src/main/kotlin/org/fdroid/MainActivity.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
Due: app assembleRelease test, app lint, app tools scripts

Create 2-dot overflow menu for my apps
  app/src/main/kotlin/org/fdroid/ui/apps/MyApps.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsOverflowMenu.kt
  app/src/main/res/values/new-strings.xml
Due: app assembleRelease test, app lint, app tools scripts

Adapt strings according to material design 3 guidelines
  app/src/main/kotlin/org/fdroid/ui/About.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyApps.kt
  app/src/main/res/values/new-strings.xml
Due: app assembleRelease test, app lint, app tools scripts

Create first screenshot test
  app/build.gradle.kts
  app/src/main/kotlin/org/fdroid/ui/Main.kt
  app/src/main/kotlin/org/fdroid/ui/MainContent.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/ScreenshotTest.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/discover/DiscoverTest.kt
  build.gradle
  gradle.properties
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Fix export of installed app
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

Apply string suggestions by Lucas
  app/src/main/res/values/new-strings.xml
Due: app assembleRelease test, app lint, app tools scripts

Persist sort order of My Apps
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

first steps
  app/src/main/res/values/new-strings.xml
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Release 2.0-alpha3
  app/build.gradle.kts
  src/basic/fastlane/metadata/android/en-US/changelogs/2000003.txt
Due: app assembleRelease test, app lint, app tools scripts
