Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

Basic: Target SDK 36
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Update targetSdk requirements for Android 15+16
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Android 16 can still install targetSdk 24 apps
  libs/index/src/androidMain/kotlin/org/fdroid/CompatibilityChecker.kt
Due: libs index test, libs lint ktlintCheck

Disable edge-to-edge for Android 10 and below
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add POST_NOTIFICATIONS to implied permissions
  app/src/main/java/org/fdroid/fdroid/data/Apk.java
  app/src/main/java/org/fdroid/fdroid/installer/ApkVerifier.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix top app bar background in OLED black theme
  app/src/main/res/layout/activity_app_list.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Prepare 1.23.1 release
  CHANGELOG.md
  app/build.gradle
  metadata/en-US/changelogs/1023051.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] Fix diff removal of optionals in Repository
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDiffTest.kt
  libs/database/src/main/java/org/fdroid/database/Repository.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Add test for removal of optionals from packages
  libs/database/src/dbTest/java/org/fdroid/database/IndexV2DiffTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Removal of *all* packages via diff currently not supported
  libs/database/src/dbTest/java/org/fdroid/database/IndexV2DiffTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

remove non-determinism from removeAllOptionalsDiff test
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDiffTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Fix NPE when setting session timeout with conscrypt
  libs/download/src/androidMain/kotlin/org/fdroid/download/HttpManager.kt
Due: libs download test, libs lint ktlintCheck

Run flaky network-based tests in a different job
  .gitlab-ci.yml
  app/src/androidTest/java/org/fdroid/fdroid/net/HttpDownloaderTest.java
  libs/download/src/androidInstrumentedTest/kotlin/org/fdroid/download/HttpManagerInstrumentationTest.kt
  libs/download/src/androidInstrumentedTest/res/xml/network_security_config.xml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Adding repos: Fix keyboard overlaying input field
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoIntroScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix repo-details: mirror-list not being shown when equal 2 mirrors
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Remove changelog for 1.23.1 because no changelog is better than an English only changelog
  metadata/en-US/changelogs/1023051.txt
Due: none

Release 1.23.1
  CHANGELOG.md
Due: none

Use cloudflare mirror for HttpDownloaderTest
  app/src/androidTest/java/org/fdroid/fdroid/net/HttpDownloaderTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

require Certificate Transparency via Network Security Config
  app/src/main/res/xml/network_security_config.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Show links regardless of whether they can be opened
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Remove UpstreamNonFree
  app/src/main/java/org/fdroid/fdroid/views/appdetails/AntiFeaturesListingView.java
  app/src/main/res/values/array.xml
  app/src/main/res/values/donottranslate.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Remove UpstreamNonFree
  app/src/main/res/drawable/ic_antifeature_upstreamnonfree.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Retry when updating apps failed
  app/src/androidTest/java/org/fdroid/fdroid/work/AppUpdateWorkerTest.kt
  app/src/main/java/org/fdroid/fdroid/AppUpdateManager.kt
  app/src/main/java/org/fdroid/fdroid/work/AppUpdateWorker.kt
  app/src/test/java/org/fdroid/fdroid/AppUpdateManagerTest.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

fix fab insets on ManageReposActivity
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
  app/src/main/res/layout/repo_list_activity.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

don't enforce nav bar contrast in MainActivity
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

run full CI when dependencies change
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Upgrade dependencies for 1.24 alpha series
  app/lint.xml
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Set number of CPU cores for emulator
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Add tests for RepoUpdateManager
  app/build.gradle
  app/src/main/java/org/fdroid/fdroid/RepoUpdateManager.kt
  app/src/test/java/org/fdroid/fdroid/RepoUpdateManagerTest.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone
