Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

app assembleFullRelease test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs db test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs download test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs index test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app lint pmd checkstyle:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs lint ktlintCheck:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app tools scripts:
  stage: lint
  image: debian:bullseye-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

app errorprone:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs database schema:
  stage: lint
  image: debian:bullseye-backports
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install default-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  - export ANDROID_COMPILE_SDK=`sed -n 's,.*compileSdkVersion\s*\([0-9][0-9]*\).*,\1,p' app/build.gradle`
  ...

Add FDroidExpandableRow
  app/src/main/java/org/fdroid/fdroid/compose/FDroidExpandableRow.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add FDroidSwitchRow
  app/src/main/java/org/fdroid/fdroid/compose/FDroidSwitchRow.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Redesign RepoDetailsActivity
  app/src/main/java/org/fdroid/fdroid/compose/ComposeUtils.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsViewModel.kt
  app/src/main/res/layout/activity_repo_details.xml
  app/src/main/res/menu/repo_details_activity.xml
  app/src/main/res/values/strings.xml
  libs/database/src/main/java/org/fdroid/database/Repository.kt
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/Mirror.kt
Due: app assembleFullRelease test, libs db test, libs download test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Don't finish() explicitly
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Use interface+callbacks
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Dynamically generate QR code without LiveData
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsViewModel.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Rebase on Material 3
  app/src/main/java/org/fdroid/fdroid/compose/ComposeUtils.kt
  app/src/main/java/org/fdroid/fdroid/compose/FDroidExpandableRow.kt
  app/src/main/java/org/fdroid/fdroid/compose/FDroidSwitchRow.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Remove unnecessary repoLiveData + use make repoFlow stateful
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsViewModel.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Break up RepoDetailsState into repoFlow and archiveStateFlow
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsViewModel.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Review feedback
  app/src/main/java/org/fdroid/fdroid/Utils.kt
  app/src/main/java/org/fdroid/fdroid/compose/FDroidExpandableRow.kt
  app/src/main/java/org/fdroid/fdroid/compose/FDroidSwitchRow.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsViewModel.kt
  app/src/main/res/values/strings.xml
  libs/database/src/main/java/org/fdroid/database/Repository.kt
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Delete unused strings
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Show countryCode for official mirrors
  app/src/main/java/org/fdroid/fdroid/Utils.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Move archive toggle to dedicated row
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add Long.asRelativeTimeString util
  app/src/main/java/org/fdroid/fdroid/Utils.kt
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Reduce padding between ExpandableRows
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Repo archive: text+button for unknown and loading indicator
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsViewModel.kt
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Animate FDroidExpandableRow
  app/src/main/java/org/fdroid/fdroid/compose/FDroidExpandableRow.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Simplify Layout
  app/src/main/res/layout/activity_app_list.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Tweak app list search bar design
  app/src/main/res/layout/activity_app_list.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

deleting a repo now removes corresponding items from the dns cache
  app/src/androidTest/java/org/fdroid/fdroid/net/DnsWithCacheTest.java
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/net/DnsCache.java
  app/src/main/java/org/fdroid/fdroid/net/DnsWithCache.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsViewModel.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add edge-to-edge on more screens
  app/src/main/java/org/fdroid/fdroid/Utils.kt
  app/src/main/java/org/fdroid/fdroid/views/apps/AppListActivity.java
  app/src/main/java/org/fdroid/fdroid/views/installed/InstalledAppsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsScreen.kt
  app/src/main/res/layout/installed_apps_layout.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Get all mirrors before deleting repo
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsViewModel.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Use a more consistent casing in strings
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

strings: Be clearer about emailing an author
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

strings: fix spelling of removable
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

fixup! Local Repo should be capitalized
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

gitlab-ci: fix changes: path syntax error
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Delete archive repo when deleting main repo
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Disable archive repo when disabling main repo
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Correctly ignore appUpdateStatus if it is the current status
  app/src/main/java/org/fdroid/fdroid/AppUpdateStatusManager.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix edge-to-edge glitch for repo list
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
  app/src/main/res/layout/repo_list_activity.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Enable edge-to-edge for ManageReposActivity
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Enable edge-to-edge for AppDetailsActivity
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/FixAppBarLayoutBehavior.java
  app/src/main/res/layout/app_details2.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Move full-only instrumentation tests to proper folder
  app/src/androidTest/proguard-rules.pro
  app/src/androidTestFull/java/org/fdroid/fdroid/MainActivityEspressoTest.java
  app/src/androidTestFull/java/org/fdroid/fdroid/nearby/BonjourManagerTest.java
  app/src/androidTestFull/java/org/fdroid/fdroid/nearby/LocalHTTPDManagerTest.java
  app/src/androidTestFull/java/org/fdroid/fdroid/nearby/PublicSourceDirProviderTest.java
  app/src/androidTestFull/java/org/fdroid/fdroid/updater/SwapRepoEmulatorTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Set targetSdk to 30 for full
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Upgrade dependencies
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: none

Enable edge-to-edge on more screens
  app/src/main/java/org/fdroid/fdroid/views/InstallHistoryActivity.java
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewayAddActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewaySettingsActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoActivity.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Rename MainActivityEspresso test for full flavor
  app/src/androidTestFull/java/org/fdroid/fdroid/MainActivityEspressoTestFull.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add expert option to export app log
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Applied MR suggestions
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
