Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

app assembleFullRelease test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs db test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs download test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs index test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app lint pmd checkstyle:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs lint ktlintCheck:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app tools scripts:
  stage: lint
  image: debian:bullseye-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

app errorprone:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs database schema:
  stage: lint
  image: debian:bullseye-backports
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install default-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  - export ANDROID_COMPILE_SDK=`sed -n 's,.*compileSdkVersion\s*\([0-9][0-9]*\).*,\1,p' app/build.gradle`
  ...

Translated using Weblate: Danish (da) by Max <lol.aramax.2.0@gmail.com>
  app/src/main/res/values-da/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Bengali (bn) by Arafat Hossain <arafat.cse1993@gmail.com>
  app/src/main/res/values-bn/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hungarian (hu) by Daniel Popov <Wh1ter0se@users.noreply.hosted.weblate.org>
  app/src/main/res/values-hu/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Malayalam (ml) by Akhil Raj <akhilakae07@gmail.com>
  app/src/main/res/values-ml/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Vietnamese (vi) by mastoduy <mastoduy@gmail.com>
  app/src/main/res/values-vi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Kannada (kn) by Dhiraj M <dhira6j@gmail.com>
  app/src/main/res/values-kn/strings.xml
  metadata/kn/changelogs/1000000.txt
  metadata/kn/changelogs/1000001.txt
  metadata/kn/changelogs/1000002.txt
  metadata/kn/changelogs/1000003.txt
  metadata/kn/changelogs/1000004.txt
  metadata/kn/changelogs/1000005.txt
  metadata/kn/changelogs/1000010.txt
  metadata/kn/changelogs/1000011.txt
  metadata/kn/changelogs/1001050.txt
  metadata/kn/changelogs/1002050.txt
  metadata/kn/changelogs/1002051.txt
  metadata/kn/changelogs/1003050.txt
  metadata/kn/changelogs/1003051.txt
  metadata/kn/changelogs/default.txt
  metadata/kn/full_description.txt
  metadata/kn/short_description.txt
  metadata/kn/title.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Polish (pl) by Julia <juliadeo@proton.me>
  metadata/pl/changelogs/default.txt
Due: none

Translated using Weblate: Galician (gl) by "Miguel A. Bouzada" <mbouzada@gmail.com>
  app/src/main/res/values-gl/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Vietnamese (vi) by Thanh <pancakes21f@gmail.com>
  app/src/main/res/values-vi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Kurdish (Central) (ckb) by Omar Fattahi <omarfattahi2006@gmail.com>
  app/src/main/res/values-ckb/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  app/src/main/res/values-fa/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Kurdish (Central) (ckb) by ڕاستی <rasti.k5@outlook.com>
  app/src/main/res/values-ckb/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Kurdish (Central) (ckb) by Halbast Abdullah <halbastabdullah7@gmail.com>
  app/src/main/res/values-ckb/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Slovak (sk) by Martin M <mclenin666@protonmail.com>
  app/src/main/res/values-sk/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Shona (sn) by Anonymous <noreply@weblate.org>
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-sc/strings.xml
  app/src/main/res/values-sn/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

run tools/remove-unused-and-blank-translations.py
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-ckb/strings.xml
  app/src/main/res/values-hi/strings.xml
  app/src/main/res/values-kn/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-sn/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] Allow loading images from file:// URIs
  app/src/main/java/org/fdroid/fdroid/Utils.java
  app/src/main/java/org/fdroid/fdroid/data/App.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] construct proper URI for non-HTTP repos
  app/src/main/java/org/fdroid/fdroid/Utils.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] unify getting Glide models for own image loading requests
  app/src/full/java/org/fdroid/fdroid/nearby/SwapSuccessView.java
  app/src/main/java/org/fdroid/fdroid/Utils.java
  app/src/main/java/org/fdroid/fdroid/data/App.java
  app/src/main/java/org/fdroid/fdroid/views/categories/CategoryController.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoIconComposable.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

ACRA: version in email subject; report file ends w/ .json
  app/build.gradle
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix typo
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[db] sort versions with same version code by native code (CPU arch) as well
  libs/database/src/main/java/org/fdroid/database/VersionDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

documented the edge case and the 100% correct sort order
  libs/database/src/main/java/org/fdroid/database/VersionDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Translated using Weblate: Chinese (Traditional) (zh-rTW) by Jeff Huang <s8321414@gmail.com>
  app/src/main/res/values-zh-rTW/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (Brazil) (pt-rBR) by Jose Delvani <delvani.eletricista@gmail.com>
  app/src/main/res/values-pt-rBR/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  app/src/main/res/values-cs/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Turkish (tr) by Oğuz Ersen <oguz@ersen.moe>
  app/src/main/res/values-tr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Simplified) (zh-rCN) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  app/src/main/res/values-zh-rCN/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Catalan (ca) by Paco Rivière <paco@riviere.cat>
  app/src/main/res/values-ca/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Korean (ko) by SeonGn J <kitrew979@gmail.com>
  app/src/main/res/values-ko/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Greek (el) by ΣΤΑΥΡΟΣ ΔΑΛΙΑΚΟΠΟΥΛΟΣ <stavros.daliakopoulos@gmail.com>
  app/src/main/res/values-el/strings.xml
  metadata/el/changelogs/1011050.txt
  metadata/el/full_description.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Finnish (fi) by Ricky Tigg <ricky.tigg@gmail.com>
  app/src/main/res/values-fi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  app/src/main/res/values-pl/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Serbian (sr) by Đorđe Vasiljević <djordje.vasiljevich@gmail.com>
  app/src/main/res/values-sr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: English (United Kingdom) (en-rGB) by Andi Chandler <andi@gowling.com>
  app/src/main/res/values-en-rGB/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hebrew (he) by Anonymous <noreply@weblate.org>
  app/src/main/res/values-he/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  app/src/main/res/values-he/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Hebrew: Android wants "many" for plurals
  app/src/main/res/values-he/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

tools/update-mirrors-in-default_repos.xml.py: update for new order
  tools/update-mirrors-in-default_repos.xml.py
Due: none

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
