Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

Clean up deprecated code
  app/src/full/java/org/fdroid/fdroid/views/main/LatestLayoutPolicy.java
  app/src/main/java/org/fdroid/fdroid/privileged/views/AppSecurityPermissions.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/categories/CategoryController.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Remove ContextCompat.getDrawable() in AppDetailsRecyclerViewAdapter
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Opt-in to Arm MTE
  app/src/main/AndroidManifest.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

feat: add PMD linting integration to GitLab CI
  .gitlab-ci.yml
  app/src/androidTest/java/org/fdroid/fdroid/Netstat.java
  app/src/androidTest/java/org/fdroid/fdroid/net/HttpDownloaderTest.java
  app/src/main/java/org/fdroid/fdroid/AppUpdateStatusManager.java
  app/src/main/java/org/fdroid/fdroid/NotificationHelper.java
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
  app/src/main/java/org/fdroid/fdroid/privileged/views/AppSecurityPermissions.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/categories/AppCardController.java
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
  app/src/main/java/vendored/org/apache/commons/codec/binary/CharSequenceUtils.java
  app/src/main/java/vendored/org/apache/commons/codec/binary/Hex.java
  app/src/test/java/org/fdroid/fdroid/RepoUrlsTest.java
  config/pmd/pmd.gradle
  config/pmd/rules-main.xml
  config/pmd/rules-test.xml
  config/pmd/rules.xml
  gradle/verification-metadata.xml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Remove emulator CPU core setting as it doesn't help
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Adapt tests for minSdk 24
  app/src/testFull/java/kellinwood/security/zipsigner/ZipSignerTest.java
  app/src/testFull/java/org/fdroid/fdroid/nearby/LocalRepoKeyStoreTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix emulator cores issue (again)
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Run CI on SDK 24 as this is new minimum
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Bump minSdk to 24 due to a serialization bug
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix compatibility reason for minTargetSdk
  app/src/main/java/org/fdroid/fdroid/CompatibilityChecker.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Update dependencies
  app/build.gradle
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  libs/database/build.gradle
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

[libs] More robust handling of language and script in `getBestLocale`
  libs/index/src/androidInstrumentedTest/kotlin/org/fdroid/BestLocaleTest.kt
  libs/index/src/androidMain/kotlin/org/fdroid/LocaleChooser.kt
Due: libs index test, libs lint ktlintCheck

[download] verify already downloaded files
  libs/download/src/androidMain/kotlin/org/fdroid/download/HttpDownloaderV2.kt
  libs/download/src/androidUnitTest/kotlin/org/fdroid/download/HttpDownloaderTest.kt
Due: libs download test, libs lint ktlintCheck

[download] mirror share uri: fingerprint is non-null now
  libs/download/src/commonMain/kotlin/org/fdroid/download/Mirror.kt
Due: libs download test, libs lint ktlintCheck

[download] implement coil disk caching
  libs/download/src/androidMain/kotlin/org/fdroid/download/coil/DownloadRequestFetcher.kt
  libs/download/src/androidMain/kotlin/org/fdroid/download/glide/DownloadRequestLoader.kt
Due: libs download test, libs lint ktlintCheck

[download] limit download progress reporting to once per second
  libs/download/src/androidMain/kotlin/org/fdroid/download/Downloader.kt
Due: libs download test, libs lint ktlintCheck

[download] add coil support
  gradle/verification-metadata.xml
  libs/download/build.gradle
  libs/download/src/androidMain/kotlin/org/fdroid/download/coil/DownloadRequestFetcher.kt
Due: libs download test, libs lint ktlintCheck

[db] improve search
  libs/database/schemas/org.fdroid.database.FDroidDatabaseInt/9.json
  libs/database/src/dbTest/java/org/fdroid/database/CountryCodeMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/FtsAddColumnsMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/MultiRepoMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/PreferredRepoMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/RepoCertNonNullMigrationTest.kt
  libs/database/src/main/java/org/fdroid/database/App.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabaseHolder.kt
  libs/database/src/main/java/org/fdroid/database/Migrations.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] improve RepoAdder
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[index] add versionName to PackageVersion
  libs/index/src/androidUnitTest/kotlin/org/fdroid/UpdateCheckerTest.kt
  libs/index/src/commonMain/kotlin/org/fdroid/index/v2/PackageV2.kt
Due: libs index test, libs lint ktlintCheck

[db] Better support search for CJK languages
  libs/database/src/dbTest/java/org/fdroid/database/DbTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/IndexV2DiffTest.kt
  libs/database/src/main/java/org/fdroid/database/App.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
  libs/sharedTest/src/main/assets/diff-empty-max/1337.json
  libs/sharedTest/src/main/assets/diff-empty-max/23.json
  libs/sharedTest/src/main/assets/diff-empty-max/42.json
  libs/sharedTest/src/main/assets/index-max-v2.json
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestDataV2.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] expose installedVersionName for UpdatableApp
  libs/database/src/main/java/org/fdroid/database/App.kt
  libs/database/src/main/java/org/fdroid/database/DbUpdateChecker.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Add more information to versions
  libs/database/src/dbTest/java/org/fdroid/database/DbUpdateCheckerTest.kt
  libs/database/src/main/java/org/fdroid/database/DbUpdateChecker.kt
  libs/database/src/main/java/org/fdroid/database/Version.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Add different search API
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
  libs/database/src/main/java/org/fdroid/database/AppSearchItem.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] New AppOverviewItems AppDao methods
  libs/database/src/dbTest/java/org/fdroid/database/AppOverviewItemsTest.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] deprecate caching of localized app name and summary
  libs/database/src/dbTest/java/org/fdroid/database/AppOverviewItemsTest.kt
  libs/database/src/main/java/org/fdroid/database/App.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
  libs/database/src/main/java/org/fdroid/repo/RepoV2StreamReceiver.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] retrieve categories to enable post-query filtering
  libs/database/src/main/java/org/fdroid/database/App.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Update repo shareUri to use fdroid.link
  libs/database/src/main/java/org/fdroid/database/Repository.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] optimize adding repos
  libs/database/src/dbTest/java/org/fdroid/index/v1/IndexV1UpdaterTest.kt
  libs/database/src/dbTest/java/org/fdroid/index/v2/IndexV2UpdaterTest.kt
  libs/database/src/main/java/org/fdroid/index/IndexUpdater.kt
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
  libs/database/src/main/java/org/fdroid/index/RepoUpdater.kt
  libs/database/src/main/java/org/fdroid/index/v1/IndexV1Updater.kt
  libs/database/src/main/java/org/fdroid/index/v2/IndexV2Updater.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/main/java/org/fdroid/repo/RepoFetcher.kt
  libs/database/src/main/java/org/fdroid/repo/RepoV1Fetcher.kt
  libs/database/src/main/java/org/fdroid/repo/RepoV2Fetcher.kt
  libs/database/src/main/java/org/fdroid/repo/SavingInputStream.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderIntegrationTest.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Fix UI update when deleting repo
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Don't cancel index fetching after enabling archive
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Fix bug where repos/mirrors could be added twice
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Increase concurrency delay for RepoAdderTest
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Enable Binary compatibility validation
  .gitlab-ci.yml
  libs/core/api/android/core.api
  libs/core/build.gradle.kts
  libs/database/api/database.api
  libs/database/build.gradle.kts
  libs/download/api/android/download.api
  libs/download/build.gradle.kts
  libs/index/api/android/index.api
  libs/index/build.gradle.kts
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Untangle libraries slightly by creating a common core library
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  libs/core/.gitignore
  libs/core/build.gradle.kts
  libs/core/src/commonMain/kotlin/org/fdroid/IndexFile.kt
  libs/database/build.gradle.kts
  libs/download/build.gradle.kts
  settings.gradle
Due: libs db test, libs download test, libs lint ktlintCheck, libs database schema

Migrate build scripts from Groovy to Kotlin
  build.gradle
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  libs/database/build.gradle
  libs/database/build.gradle.kts
  libs/download/build.gradle
  libs/download/build.gradle.kts
  libs/index/build.gradle
  libs/index/build.gradle.kts
  libs/sharedTest/build.gradle
  libs/sharedTest/build.gradle.kts
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

Upgrade Dokka syntax to v2
  .gitlab-ci.yml
  libs/core/build.gradle.kts
  libs/database/build.gradle.kts
  libs/download/build.gradle.kts
  libs/index/build.gradle.kts
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Upgrade maven publishing plugin
  build.gradle
  gradle.properties
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  libs/core/build.gradle.kts
  libs/core/gradle.properties
  libs/database/build.gradle.kts
  libs/database/gradle.properties
  libs/download/build.gradle.kts
  libs/download/gradle.properties
  libs/index/build.gradle.kts
  libs/index/gradle.properties
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

Upgrade dependencies prior to library publishing
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: none

Resurrect from my 'Elvis' falls' in `getBestLocale` Apparently Elvis' got style
  libs/index/src/androidMain/kotlin/org/fdroid/LocaleChooser.kt
Due: libs index test, libs lint ktlintCheck
