Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Path conditions:
  app assembleRelease test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, libs/**/*, legacy/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/index/**/*)
  app lint: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, legacy/**/*)
  legacy checkstyle: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/**/*)
  legacy lint pmd: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/*
  legacy errorprone: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  app/src/main/res/values-sq/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Translated using Weblate: Swedish (sv) by Pixelody <jsprfrisk+github@gmail.com>
  app/src/main/res/values-sv/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Translated using Weblate: Greek (el) by Jim Kats <jim-kats@hotmail.com>
  app/src/main/res/values-el/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Show full-screen hints for Repo screens
  app/src/main/kotlin/org/fdroid/ui/repositories/Repositories.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetails.kt
  gradle/libs.versions.toml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Set global hint overlay color
  app/src/main/kotlin/org/fdroid/ui/MainContent.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppList.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/Repositories.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetails.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetailsContent.kt
  app/src/main/kotlin/org/fdroid/ui/utils/UiUtils.kt
Due: app assembleRelease test, app lint, app tools scripts

Update compose-hints to 3.1.1
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Remove dependencies that are no longer needed
  gradle/libs.versions.toml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Show self-update notification also when user triggered update
  app/src/main/kotlin/org/fdroid/updates/UpdateInstaller.kt
  app/src/test/java/org/fdroid/updates/UpdateInstallerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Work around Chinese ROMs aborting installation pre-approval
  app/src/main/kotlin/org/fdroid/install/SessionInstallManager.kt
  app/src/test/java/org/fdroid/install/SessionInstallManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Fix dynamic colors for category group icons
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryGroupRow.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

Auto-try legacy installer when install verification fails
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/org/fdroid/install/SessionInstallManager.kt
  app/src/main/res/xml/file_paths.xml
  app/src/test/java/org/fdroid/install/SessionInstallManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Improve apps details description animation
  app/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsInstallTest_9f4e7551_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsNightTest_150baa59_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsTest_9f4e7551_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsUpdateTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

Start WifiStateChangeService when starting SwapService
  app/src/full/java/org/fdroid/fdroid/nearby/SwapService.java
Due: app assembleRelease test, app lint, app tools scripts

Also clip app icons in app lists
  app/src/main/kotlin/org/fdroid/ui/lists/AppListRow.kt
Due: app assembleRelease test, app lint, app tools scripts

Don't cache nightly deploy
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Hide keyboard before navigating to search result
  app/src/main/kotlin/org/fdroid/ui/search/GlobalSearch.kt
Due: app assembleRelease test, app lint, app tools scripts

Prevent updating ourselves from getting stuck
  app/src/main/kotlin/org/fdroid/install/AppInstallManager.kt
  app/src/main/kotlin/org/fdroid/updates/UpdateInstaller.kt
  app/src/test/java/org/fdroid/install/AppInstallManagerTest.kt
  app/src/test/java/org/fdroid/updates/UpdateInstallerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Add new categories
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
Due: app assembleRelease test, app lint, app tools scripts

Check out LFS reference screenshots only in screenshot test
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Update dependencies
  app/build.gradle.kts
  app/src/screenshotTest/kotlin/org/fdroid/ui/ScreenshotTest.kt
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  libs/core/build.gradle.kts
  libs/download/build.gradle.kts
  libs/index/build.gradle.kts
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Fix cruft introduced when moving classes with IDE
  libs/database/src/dbTest/java/org/fdroid/database/migrations/CountryCodeMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/migrations/FtsAddColumnsMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/migrations/FtsCaseInsensitiveMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/migrations/MultiRepoMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/migrations/PreferredRepoMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/migrations/RepoCertNonNullMigrationTest.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Add MR paragraph to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Move Market & Price category to Financial group
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
Due: app assembleRelease test, app lint, app tools scripts

CHANGELOG.md: include entry for 1.23.2
  CHANGELOG.md
Due: none

fetch missing CHANGELOG.md entries from git tags
  CHANGELOG.md
Due: none

add script to make release tags
  tools/make-release-tag.py
Due: none

fix result mismatch and observer loop
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
Due: app assembleRelease test, app lint, app tools scripts

restored some removed code and added some logigng based on pr feedback
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
  app/src/full/java/org/fdroid/fdroid/nearby/WifiStateChangeService.java
Due: app assembleRelease test, app lint, app tools scripts

added ipv6 support
  app/src/full/java/org/fdroid/fdroid/FDroidApp.java
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
  app/src/full/java/org/fdroid/fdroid/nearby/WifiStateChangeService.java
Due: app assembleRelease test, app lint, app tools scripts

for improved security, a swap repo config will not be saved unless it's on the same wifi network as the device
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
Due: app assembleRelease test, app lint, app tools scripts

updates based on pr suggestions to avoid unintentional dns lookups
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
  app/src/testFull/java/org/fdroid/fdroid/nearby/SwapWorkflowActivityTest.java
Due: app assembleRelease test, app lint, app tools scripts

clear subnet info if wifi is disabled
  app/src/full/java/org/fdroid/fdroid/nearby/WifiStateChangeService.java
Due: app assembleRelease test, app lint, app tools scripts

added ipv6 support
  app/src/full/java/org/fdroid/fdroid/nearby/WifiStateChangeService.java
Due: app assembleRelease test, app lint, app tools scripts

restored some removed code and added some logigng based on pr feedback
  app/src/full/java/org/fdroid/fdroid/nearby/WifiStateChangeService.java
Due: app assembleRelease test, app lint, app tools scripts

this code base uses integer values for SDK_INT checks
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
  app/src/testFull/java/org/fdroid/fdroid/nearby/SwapWorkflowActivityTest.java
Due: app assembleRelease test, app lint, app tools scripts

log error if ROM hasn't ported additional_repos.xml to JSON
  app/src/main/kotlin/org/fdroid/repo/RepoPreLoader.kt
Due: app assembleRelease test, app lint, app tools scripts

add "Check for updates" menu item to MyApps, #3171
  app/src/main/kotlin/org/fdroid/ui/apps/MyApps.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsInfo.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsOverflowMenu.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
Due: app assembleRelease test, app lint, app tools scripts
