Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

app assembleFullRelease test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs db test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs download test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs index test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app lint pmd checkstyle:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs lint ktlintCheck:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app tools scripts:
  stage: lint
  image: debian:bullseye-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

app errorprone:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs database schema:
  stage: lint
  image: debian:bullseye-backports
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install default-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  - export ANDROID_COMPILE_SDK=`sed -n 's,.*compileSdkVersion\s*\([0-9][0-9]*\).*,\1,p' app/build.gradle`
  ...

update CHANGELOG
  CHANGELOG.md
Due: none

version code 1018050
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

version code 1017050 (oops, not 1018050 yet)
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

removing all translations less than 70% complete
  app/src/main/res/values-az/strings.xml
  app/src/main/res/values-ber/strings.xml
  app/src/main/res/values-bo/strings.xml
  app/src/main/res/values-br/strings.xml
  app/src/main/res/values-ckb/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-fy/strings.xml
  app/src/main/res/values-hy/strings.xml
  app/src/main/res/values-ka/strings.xml
  app/src/main/res/values-kk/strings.xml
  app/src/main/res/values-kmr/strings.xml
  app/src/main/res/values-lb/strings.xml
  app/src/main/res/values-mk/strings.xml
  app/src/main/res/values-mr/strings.xml
  app/src/main/res/values-my/strings.xml
  app/src/main/res/values-nah/strings.xml
  app/src/main/res/values-ne/strings.xml
  app/src/main/res/values-oc/strings.xml
  app/src/main/res/values-or/strings.xml
  app/src/main/res/values-pa-rPK/strings.xml
  app/src/main/res/values-ps/strings.xml
  app/src/main/res/values-si/strings.xml
  app/src/main/res/values-sn/strings.xml
  app/src/main/res/values-so/strings.xml
  app/src/main/res/values-th/strings.xml
  app/src/main/res/values-tt/strings.xml
  app/src/main/res/values-tzm/strings.xml
  app/src/main/res/values-ug/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[db] validate repo certificate
  app/src/main/java/org/fdroid/fdroid/data/DBHelper.java
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDaoTest.kt
  libs/database/src/main/java/org/fdroid/database/Repository.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

[app] don't crash for invalid repo fingerprints
  app/src/main/java/org/fdroid/fdroid/views/RepoDetailsActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[download] expose method for getting an InputStream from a DownloadRequest
  libs/download/src/androidMain/kotlin/org/fdroid/download/HttpManager.kt
  libs/download/src/androidMain/kotlin/org/fdroid/fdroid/DigestInputStream.kt
Due: libs download test, libs lint ktlintCheck

[db] Add plumping for fetching and adding a new repo
  gradle/verification-metadata.xml
  libs/database/build.gradle
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDaoTest.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
  libs/database/src/main/java/org/fdroid/database/Repository.kt
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/main/java/org/fdroid/repo/RepoFetcher.kt
  libs/database/src/main/java/org/fdroid/repo/RepoUriGetter.kt
  libs/database/src/main/java/org/fdroid/repo/RepoV1Fetcher.kt
  libs/database/src/main/java/org/fdroid/repo/RepoV2Fetcher.kt
  libs/database/src/main/java/org/fdroid/repo/RepoV2StreamReceiver.kt
  libs/database/src/test/java/org/fdroid/download/TestDownloadFactory.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderIntegrationTest.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
  libs/database/src/test/java/org/fdroid/repo/RepoUriGetterTest.kt
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestUtils.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Upgrade test dependencies and fix instrumentation test issue
  app/build.gradle
  gradle/verification-metadata.xml
  libs/database/build.gradle
  libs/download/build.gradle
  libs/index/build.gradle
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

[app] New AddRepoActivity in compose
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/google/zxing/integration/android/IntentIntegrator.java
  app/src/main/java/com/google/zxing/integration/android/IntentResult.java
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/compose/ComposeUtils.kt
  app/src/main/java/org/fdroid/fdroid/views/ManageReposActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoErrorScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoIntroScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoProgressScreen.kt
  app/src/main/res/values/strings.xml
  gradle/verification-metadata.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[db] handle SerializationException when parsing index for RepoAdder
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/main/java/org/fdroid/repo/RepoFetcher.kt
  libs/database/src/main/java/org/fdroid/repo/RepoV1Fetcher.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] don't return default archive repos for getRepository() query based on certificate
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] some compose fixes
  app/src/main/java/org/fdroid/fdroid/compose/ComposeUtils.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoErrorScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoIntroScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] catch securityException when abandoning our own sessions
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

👴 wrap setWifiEnabled calls with a version check
  app/src/full/java/org/fdroid/fdroid/nearby/SwapService.java
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🎀 swap: incorporate review feedback
  app/src/full/java/org/fdroid/fdroid/nearby/SwapService.java
  app/src/full/res/layout/swap_start_swap.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

📻 swap: use settings pannel on above sdk level 29
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
  app/src/full/res/layout/swap_start_swap.xml
  app/src/main/res/drawable/ic_wifi_off.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Allow KVM tests to fail with warning
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Revert "save/restore selected tab when app gets killed"
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Use RxJava global exception handler
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Enable glide verbose logging for debug builds
  app/src/main/java/org/fdroid/fdroid/net/FDroidGlideModule.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[download] Fix download of v1 images
  libs/download/src/androidMain/kotlin/org/fdroid/download/glide/DownloadRequestLoader.kt
Due: libs download test, libs lint ktlintCheck

[index] add temporary debug hack to see what causes JsonDecodingException in FileV2
  libs/index/src/commonMain/kotlin/org/fdroid/index/v2/IndexV2.kt
Due: libs index test, libs lint ktlintCheck

[app] Make ErrorDialog message selectable
  app/src/main/java/org/fdroid/fdroid/installer/ErrorDialogActivity.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
  app/src/main/res/values/themes.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Get rid of the downgrade button
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/res/drawable/app_version_button_bg_selector_downgrade.xml
  app/src/main/res/layout/app_details2_version_item.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] downgrade ExtraTranslation error to warning
  app/lint.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] catch security exception when opening apps
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] don't crash when loading feature graphic
  app/src/main/java/org/fdroid/fdroid/data/App.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] don't show menu before app hasn't loaded to prevent crashes
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🧩 swap: requestLegacyExternalStorage
  app/src/main/AndroidManifest.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

👴 swap: add stub for static notification passing
  app/src/basic/java/org/fdroid/fdroid/views/main/NearbyViewBinder.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🌭 swap: external storage support for sdk 30+
  app/src/full/java/org/fdroid/fdroid/views/main/NearbyViewBinder.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] don't allow invalid adapter position for main bottom menu
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

save/restore selected tab when app gets killed
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] fix repo address in swap index and lowercase swap share URI
  app/src/full/java/org/fdroid/fdroid/nearby/LocalRepoManager.java
  app/src/full/java/org/fdroid/fdroid/nearby/LocalRepoService.java
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Add test for QRCode byte count in lowercase
  app/src/test/java/org/fdroid/fdroid/UtilsTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] don't request MANAGE_EXTERNAL_STORAGE permission for basic flavor
  app/src/full/AndroidManifest.xml
  app/src/main/AndroidManifest.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  app/src/main/res/values-es/strings.xml
  metadata/es/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by Yotta Mxt <yottamxt@gmail.com>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Italian (it) by Random <random-r@users.noreply.hosted.weblate.org>
  app/src/main/res/values-it/strings.xml
  metadata/it/changelogs/1012050.txt
  metadata/it/changelogs/1013050.txt
  metadata/it/changelogs/1014050.txt
  metadata/it/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
