Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

Translated using Weblate: German (de) by Hans-Christoph Steiner <hans@guardianproject.info>
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-pbb/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by Ettore Atalan <atalanttore@googlemail.com>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

./gradlew spotlessXmlApply
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by nautilusx <translate@disroot.org>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

run tools/remove-unused-and-blank-translations.py
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-be/strings.xml
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-en-rGB/strings.xml
  app/src/main/res/values-eo/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-he/strings.xml
  app/src/main/res/values-id/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-lv/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pbb/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-sq/strings.xml
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-yue/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rHK/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

move changelog metadata file to default.txt
  metadata/ar/changelogs/default.txt
  metadata/cs/changelogs/default.txt
  metadata/de/changelogs/default.txt
  metadata/en-US/changelogs/default.txt
  metadata/eo/changelogs/default.txt
  metadata/es/changelogs/default.txt
  metadata/he/changelogs/default.txt
  metadata/it/changelogs/default.txt
  metadata/pl/changelogs/default.txt
  metadata/pt-BR/changelogs/default.txt
  metadata/pt-PT/changelogs/default.txt
  metadata/pt/changelogs/default.txt
  metadata/ro/changelogs/default.txt
  metadata/ru/changelogs/default.txt
  metadata/uk/changelogs/default.txt
  metadata/yue/changelogs/default.txt
  metadata/zh-CN/changelogs/default.txt
  metadata/zh-Hant-HK/changelogs/default.txt
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: none

update changelog metadata entry
  metadata/en-US/changelogs/default.txt
Due: none

version code 1017001
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] always update repos after pre-populating them
  app/src/main/java/org/fdroid/fdroid/data/DBHelper.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🧭 add mirrors to default_repos.xml
  app/src/main/java/org/fdroid/fdroid/data/ContentProviderMigrator.java
  app/src/main/java/org/fdroid/fdroid/data/DBHelper.java
  app/src/main/res/values/default_repos.xml
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDaoTest.kt
  libs/database/src/main/java/org/fdroid/database/Repository.kt
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

[app] some pre-repo mirror nitpicks
  app/src/main/java/org/fdroid/fdroid/data/ContentProviderMigrator.java
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDaoTest.kt
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

update CHANGELOG
  CHANGELOG.md
Due: none

move 1016053 changelogs to 1016054
  metadata/cs/changelogs/1016054.txt
  metadata/de/changelogs/1016054.txt
  metadata/en-US/changelogs/1016054.txt
  metadata/eo/changelogs/1016054.txt
  metadata/es/changelogs/1016054.txt
  metadata/fr/changelogs/1016054.txt
  metadata/he/changelogs/1016054.txt
  metadata/nn/changelogs/1016054.txt
  metadata/pa/changelogs/1016054.txt
  metadata/pl/changelogs/1016054.txt
  metadata/pt-BR/changelogs/1016054.txt
  metadata/pt-PT/changelogs/1016054.txt
  metadata/pt/changelogs/1016054.txt
  metadata/ro/changelogs/1016054.txt
  metadata/ru/changelogs/1016054.txt
  metadata/sq/changelogs/1016054.txt
  metadata/tr/changelogs/1016054.txt
  metadata/uk/changelogs/1016054.txt
  metadata/yue/changelogs/1016054.txt
  metadata/zh-CN/changelogs/1016054.txt
Due: none

version code 1016054
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  metadata/pl/changelogs/default.txt
Due: none

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  metadata/uk/changelogs/default.txt
Due: none

Translated using Weblate: Chinese (Traditional) (zh-rTW) by Jeff Huang <s8321414@gmail.com>
  app/src/main/res/values-zh-rTW/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Turkish (tr) by Croxz <croxz.900@gmail.com>
  app/src/main/res/values-tr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (Brazil) (pt-BR) by The Cats <philosoph@danwin1210.de>
  metadata/pt-BR/changelogs/default.txt
Due: none

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-pt/strings.xml
  metadata/de/changelogs/default.txt
  metadata/pt-PT/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Esperanto (eo) by ☆Verdulo <tomek@disroot.org>
  app/src/main/res/values-eo/strings.xml
  metadata/eo/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  metadata/ru/changelogs/default.txt
Due: none

Translated using Weblate: Persian (fa) by Mohammad Sadegh <mohammad.s.hasanpour.g@gmail.com>
  app/src/main/res/values-fa/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Norwegian Bokmål (nb) by Allan Nordhøy <epost@anotheragency.no>
  metadata/nb/changelogs/1006050.txt
Due: none

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  metadata/he/changelogs/default.txt
Due: none

Translated using Weblate: Portuguese (pt) by SC <lalocas@protonmail.com>
  metadata/pt/changelogs/default.txt
Due: none

Translated using Weblate: Estonian (et) by Priit Jõerüüt <hwlate@joeruut.com>
  app/src/main/res/values-et/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Czech (cs) by Fjuro <ifjuro@proton.me>
  metadata/cs/changelogs/default.txt
Due: none

Translated using Weblate: Chinese (Simplified) (zh-CN) by Eric <hamburger2048@users.noreply.hosted.weblate.org>
  metadata/zh-CN/changelogs/default.txt
Due: none

run ./tools/remove-unused-and-blank-translations.py
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-tr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

version code 1017002
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add simplified LatestLayoutPolicy for basic flavor
  app/src/basic/java/org/fdroid/fdroid/views/main/LatestLayoutPolicy.java
  app/src/full/java/org/fdroid/fdroid/views/main/LatestLayoutPolicy.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Extract LatestLayoutPolicy class from LatestAdapter
  app/src/main/java/org/fdroid/fdroid/views/main/LatestAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/main/LatestLayoutPolicy.java
  app/src/main/java/org/fdroid/fdroid/views/main/LatestViewBinder.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] don't auto-show install dialog
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

skip when NameNotFoundException on adding apps to local repo
  libs/index/src/androidMain/kotlin/org/fdroid/index/v1/IndexV1Creator.kt
Due: libs index test, libs lint ktlintCheck

delete existing when copying APKs into local repo, #2629
  libs/index/src/androidMain/kotlin/org/fdroid/index/IndexCreator.kt
Due: libs index test, libs lint ktlintCheck

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  metadata/ro/changelogs/default.txt
Due: none
