Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

app assembleFullRelease test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs db test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs download test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs index test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app lint pmd checkstyle:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs lint ktlintCheck:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app tools scripts:
  stage: lint
  image: debian:bullseye-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

app errorprone:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs database schema:
  stage: lint
  image: debian:bullseye-backports
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install default-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  - export ANDROID_COMPILE_SDK=`sed -n 's,.*compileSdkVersion\s*\([0-9][0-9]*\).*,\1,p' app/build.gradle`
  ...

Update UI if the repo disable warning is canceled
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix permission conflict for full/basic
  app/src/main/AndroidManifest.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Export panic settings activity
  app/src/full/AndroidManifest.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] experimental support for un-archiving apps on Android 15
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/receiver/UnarchivePackageReceiver.kt
  app/src/main/java/org/fdroid/fdroid/work/UnarchiveWorker.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Install newer build tools and accept licenses
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

let all gradle modules use compileSdk 35
  libs/database/build.gradle
  libs/download/build.gradle
  libs/index/build.gradle
  libs/sharedTest/build.gradle
Due: libs db test, libs download test, libs index test, libs lint ktlintCheck, libs database schema

[index] address new nullability info from SDK 35
  libs/index/src/androidInstrumentedTest/kotlin/org/fdroid/index/v1/IndexV1CreatorTest.kt
  libs/index/src/androidMain/kotlin/org/fdroid/UpdateChecker.kt
  libs/index/src/androidMain/kotlin/org/fdroid/index/IndexCreator.kt
  libs/index/src/androidMain/kotlin/org/fdroid/index/v1/IndexV1Creator.kt
Due: libs index test, libs lint ktlintCheck

Remove accepting licenses from SDK
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Revert "[app] experimental support for un-archiving apps on Android 15"
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/receiver/UnarchivePackageReceiver.kt
  app/src/main/java/org/fdroid/fdroid/work/UnarchiveWorker.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

No need to install old build tools anymore
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Revert "let all gradle modules use compileSdk 35"
  libs/database/build.gradle
  libs/download/build.gradle
  libs/index/build.gradle
  libs/sharedTest/build.gradle
Due: libs db test, libs download test, libs index test, libs lint ktlintCheck, libs database schema

[index] Fix diffing of version features
  libs/index/src/androidMain/kotlin/org/fdroid/index/v2/ReflectionDiffer.kt
  libs/sharedTest/src/main/assets/diff-empty-max/23.json
  libs/sharedTest/src/main/assets/diff-empty-max/42.json
  libs/sharedTest/src/main/assets/diff-empty-mid/23.json
  libs/sharedTest/src/main/assets/diff-empty-mid/42.json
  libs/sharedTest/src/main/assets/index-max-v1.json
  libs/sharedTest/src/main/assets/index-max-v2.json
  libs/sharedTest/src/main/assets/index-mid-v1.json
  libs/sharedTest/src/main/assets/index-mid-v2.json
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestDataV1.kt
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestDataV2.kt
Due: libs index test, libs lint ktlintCheck

[app] log manual repo update requests
  app/src/main/java/org/fdroid/fdroid/work/RepoUpdateWorker.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] Fix concurrent index updates
  libs/database/src/dbTest/java/org/fdroid/index/v2/IndexV2UpdaterTest.kt
  libs/database/src/main/java/org/fdroid/index/v2/IndexV2Updater.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Improve error reporting for update checking
  app/src/main/java/org/fdroid/fdroid/Utils.java
  libs/database/src/main/java/org/fdroid/database/DbUpdateChecker.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

log free disk space
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

tools/pick-complete-translations.py: fix crashes on unusual Weblate commits
  tools/pick-complete-translations.py
Due: none

[app] Don't crash when Bluetooth permissions are missing
  app/src/full/java/org/fdroid/fdroid/nearby/BluetoothManager.java
  app/src/full/java/org/fdroid/fdroid/nearby/StartSwapView.java
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] don't show views requiring service when it wasn't bound, yet
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Don't crash with NPE when we can't get device name
  app/src/full/java/org/fdroid/fdroid/nearby/peers/BluetoothPeer.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Translated using Weblate: Bulgarian (bg) by 109247019824 <stoyan@gmx.com>
  app/src/main/res/values-bg/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Italian (it) by coronabond <coronabond@airmail.cc>
  app/src/main/res/values-it/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by VfBFan <VfBFan@users.noreply.hosted.weblate.org>
  metadata/de/changelogs/default.txt
Due: none

Translated using Weblate: Finnish (fi) by Åzze <laitinen.jere222@gmail.com>
  app/src/main/res/values-fi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Finnish (fi) by Tuomas Hietala <tuomas.hietala@iki.fi>
  app/src/main/res/values-fi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Catalan (ca) by pitroig <ona@riseup.net>
  app/src/main/res/values-ca/strings.xml
  metadata/ca/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Traditional Han script) (zh-rTW) by Jeff Huang <s8321414@gmail.com>
  app/src/main/res/values-zh-rTW/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Irish (ga) by Aindriú Mac Giolla Eoin <aindriu80@gmail.com>
  metadata/ga/changelogs/default.txt
Due: none

Translated using Weblate: Italian (it) by Random <random-r@users.noreply.hosted.weblate.org>
  app/src/main/res/values-it/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Sardinian (sc) by Ajeje Brazorf <lmelonimamo@yahoo.it>
  app/src/main/res/values-sc/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  app/src/main/res/values-fa/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Finnish (fi) by Latyw <laurialvari.laine@gmail.com>
  app/src/main/res/values-fi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Catalan (ca) by OwO+UwU <gabrielmizrahi@protonmail.com>
  app/src/main/res/values-ca/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Finnish (fi) by Ricky Tigg <ricky.tigg@gmail.com>
  app/src/main/res/values-fi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-pt/strings.xml
  metadata/pt-PT/changelogs/1020050.txt
  metadata/pt/changelogs/1020050.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Finnish (fi) by Riku <riksu9000@gmail.com>
  app/src/main/res/values-fi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Ukrainian (uk) by Tymofii Lytvynenko <till.svit@gmail.com>
  app/src/main/res/values-uk/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
