Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

Translated using Weblate: Esperanto (eo) by ☆Verdulo <tomek@disroot.org>
  metadata/eo/changelogs/default.txt
Due: none

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Japanese (ja) by Kazushi Hayama <hosted.weblate.3yoe@1984.pmail.li>
  app/src/main/res/values-ja/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Japanese (ja) by sasukeiscool <jaflagasd@gmail.com>
  app/src/main/res/values-ja/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Japanese (ja) by Suguru Hirahara <shirahara@users.noreply.hosted.weblate.org>
  app/src/main/res/values-ja/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: French (fr) by HumanistAtypik <valentinlouisroche@live.fr>
  app/src/main/res/values-fr/strings.xml
  metadata/fr/changelogs/1017050.txt
  metadata/fr/changelogs/1018050.txt
  metadata/fr/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (Mexico) (es-rMX) by "Michael M." <evsie779.x4r67@aleeas.com>
  app/src/main/res/values-es-rMX/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by Benjamin Rojas <benjaluth9@gmail.com>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by emma peel <emma.peel@riseup.net>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by David Millan <davidmillangude2000@gmail.com>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  app/src/main/res/values-es/strings.xml
  metadata/es/changelogs/1019051.txt
  metadata/es/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by Alvaro Gonzalez <andor@pierdelacabeza.com>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by Licaon Kter <licaon.kter@protonmail.com>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by Eduardo Malaspina <vaio0@swismail.com>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: French (fr) by Remy <spider1163@users.noreply.hosted.weblate.org>
  app/src/main/res/values-fr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: French (fr) by syl <syl@gresille.org>
  app/src/main/res/values-fr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: French (fr) by Joachim-barre <joachim.barre22@laposte.net>
  app/src/main/res/values-fr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: French (fr) by John Donne <akheron@zaclys.net>
  app/src/main/res/values-fr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: French (fr) by Tomtom67170 <berstheim67@gmail.com>
  app/src/main/res/values-fr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: French (fr) by ButterflyOfFire <boffire@users.noreply.hosted.weblate.org>
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-fr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Simplified) (zh-CN) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  metadata/zh-CN/changelogs/1019051.txt
  metadata/zh-CN/changelogs/default.txt
Due: none

run checkSessionResumeShort only on Build.VERSION.SDK_INT >= 26
  libs/download/src/androidInstrumentedTest/kotlin/org/fdroid/download/HttpManagerInstrumentationTest.kt
Due: libs download test, libs lint ktlintCheck

targetSdkVersion 29
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

uses permission BLUETOOTH_SCAN
  app/src/full/AndroidManifest.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] handle broken repos without certificate
  libs/database/src/dbTest/java/org/fdroid/database/MultiRepoMigrationTest.kt
  libs/database/src/main/java/org/fdroid/database/Migrations.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  metadata/ro/changelogs/default.txt
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: none

version code 1020001
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Session Installer is out of beta
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Use junit test reports, so it is easier to see which test failed
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

[app] update auto-fetch label to show that apps also get installed
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[download] disable tests using howsmyssl.com on Android 7 and older
  libs/download/src/androidInstrumentedTest/kotlin/org/fdroid/download/HttpManagerInstrumentationTest.kt
Due: libs download test, libs lint ktlintCheck

[db] Maintain legacy repo priority ordering when migrating
  libs/database/src/dbTest/java/org/fdroid/database/MultiRepoMigrationTest.kt
  libs/database/src/main/java/org/fdroid/database/Migrations.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] add default repos before ROM repos, so they end up with higher priority
  app/src/main/java/org/fdroid/fdroid/data/DBHelper.java
  app/src/test/java/org/fdroid/fdroid/data/DBHelperTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Translated using Weblate: Esperanto (eo) by ☆Verdulo <tomek@disroot.org>
  app/src/main/res/values-eo/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Bulgarian (bg) by 109247019824 <stoyan@gmx.com>
  app/src/main/res/values-bg/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Dutch (nl) by Dklfajsjfi49wefklsf32 <nlincus@users.noreply.hosted.weblate.org>
  app/src/main/res/values-nl/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone
