Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

Translated using Weblate (Portuguese (Portugal))
  metadata/pt-PT/changelogs/1021050.txt
  metadata/pt/changelogs/1021050.txt
  src/basic/fastlane/metadata/android/pt-PT/title.txt
  src/basic/fastlane/metadata/android/pt/title.txt
Due: none

Translated using Weblate: Swedish (sv-SE) by Kristoffer Grundström <swedishsailfishosuser@tutanota.com>
  src/basic/fastlane/metadata/android/sv-SE/short_description.txt
  src/basic/fastlane/metadata/android/sv-SE/title.txt
Due: none

Translated using Weblate: Malayalam (ml) by Coding Otaku <contact@codingotaku.com>
  app/src/main/res/values-ml/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Swedish (sv-SE) by Marcus skoding <ggd7cnc9m@mozmail.com>
  src/basic/fastlane/metadata/android/sv-SE/full_description.txt
Due: none

Translated using Weblate (Swedish)
  metadata/sv/changelogs/1000000.txt
  metadata/sv/changelogs/1000002.txt
  metadata/sv/changelogs/1000004.txt
  metadata/sv/changelogs/1000005.txt
  metadata/sv/changelogs/1000010.txt
  metadata/sv/changelogs/1000011.txt
  metadata/sv/changelogs/1001050.txt
  metadata/sv/changelogs/1002050.txt
  metadata/sv/changelogs/1002051.txt
Due: none

Translated using Weblate (German)
  metadata/de/changelogs/1001050.txt
  metadata/de/changelogs/1007000.txt
  metadata/de/changelogs/1011050.txt
  metadata/de/changelogs/default.txt
Due: none

Translated using Weblate: Indonesian (id) by Eurovian Zufirdy <eurovianz@gmail.com>
  app/src/main/res/values-id/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (Brazil) (pt-rBR) by LucasMZ <git@lucasmz.dev>
  app/src/main/res/values-pt-rBR/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: English (United Kingdom) (en-rGB) by Andi Chandler <andi@gowling.com>
  app/src/main/res/values-en-rGB/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  src/full/fastlane/metadata/android/uk/full_description.txt
Due: none

Translated using Weblate: Vietnamese (vi) by mastoduy <mastoduy@gmail.com>
  app/src/main/res/values-vi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Korean (ko) by ryuyijun <ryuyijun@naver.com>
  app/src/main/res/values-ko/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] prepare 1.22 release
  CHANGELOG.md
  app/build.gradle
  app/src/main/res/values/default_repos.xml
  metadata/en-US/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[download] Fix HttpManagerIntegrationTest because example.org stopped allowing range requests
  libs/download/src/commonTest/kotlin/org/fdroid/download/HttpManagerIntegrationTest.kt
Due: libs download test, libs lint ktlintCheck

[app] use different mirror for HttpDownloaderTest because it fails on CI
  app/src/androidTest/java/org/fdroid/fdroid/net/HttpDownloaderTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

move v1.21.x changelogs to last bugfix release v1.21.1
  metadata/ar/changelogs/1021051.txt
  metadata/ca/changelogs/1021051.txt
  metadata/cs/changelogs/1021051.txt
  metadata/de/changelogs/1021051.txt
  metadata/en-US/changelogs/1021051.txt
  metadata/eo/changelogs/1021051.txt
  metadata/fr/changelogs/1021051.txt
  metadata/ga/changelogs/1021051.txt
  metadata/id/changelogs/1021051.txt
  metadata/ja/changelogs/1021051.txt
  metadata/pt-BR/changelogs/1021051.txt
  metadata/pt-PT/changelogs/1021051.txt
  metadata/pt/changelogs/1021051.txt
  metadata/ru/changelogs/1021051.txt
  metadata/sr/changelogs/1021051.txt
  metadata/ta/changelogs/1021051.txt
  metadata/uk/changelogs/1021051.txt
  metadata/zh-CN/changelogs/1021051.txt
  metadata/zh-TW/changelogs/1021051.txt
Due: none

Improve empty state icon colors
  app/src/main/res/layout/main_tab_updates.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/themes.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Unify theme and content, fix some minor issues
  app/src/full/res/layout/swap_start_swap.xml
  app/src/main/java/org/fdroid/fdroid/compose/ComposeUtils.kt
  app/src/main/java/org/fdroid/fdroid/ui/theme/Theme.kt
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewayAddActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewaySettingsActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/appdetails/RepoChooser.kt
  app/src/main/java/org/fdroid/fdroid/views/main/LatestViewBinder.java
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoErrorScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoIntroScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoProgressScreen.kt
  app/src/main/res/layout/app_details2_header.xml
  app/src/main/res/layout/main_tab_latest.xml
  app/src/main/res/values/styles_detail.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

removing all translations less than 70% complete
  app/src/main/res/values-az/strings.xml
  app/src/main/res/values-ber/strings.xml
  app/src/main/res/values-bo/strings.xml
  app/src/main/res/values-br/strings.xml
  app/src/main/res/values-ckb/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-fy/strings.xml
  app/src/main/res/values-hy/strings.xml
  app/src/main/res/values-ka/strings.xml
  app/src/main/res/values-kab/strings.xml
  app/src/main/res/values-kk/strings.xml
  app/src/main/res/values-kmr/strings.xml
  app/src/main/res/values-lb/strings.xml
  app/src/main/res/values-mk/strings.xml
  app/src/main/res/values-mr/strings.xml
  app/src/main/res/values-my/strings.xml
  app/src/main/res/values-nah/strings.xml
  app/src/main/res/values-ne/strings.xml
  app/src/main/res/values-oc/strings.xml
  app/src/main/res/values-or/strings.xml
  app/src/main/res/values-pa-rPK/strings.xml
  app/src/main/res/values-ps/strings.xml
  app/src/main/res/values-si/strings.xml
  app/src/main/res/values-sn/strings.xml
  app/src/main/res/values-so/strings.xml
  app/src/main/res/values-te/strings.xml
  app/src/main/res/values-tok/strings.xml
  app/src/main/res/values-tt/strings.xml
  app/src/main/res/values-tzm/strings.xml
  app/src/main/res/values-ug/strings.xml
  app/src/main/res/values-ur/strings.xml
  app/src/main/res/xml/locales_config.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Address review feedback
  app/src/full/java/org/fdroid/fdroid/panic/DestructiveSwitchPreference.java
  app/src/full/res/layout/swap_wifi_qr.xml
  app/src/full/res/values/styles.xml
  app/src/full/res/xml/preferences_panic.xml
  app/src/main/java/org/fdroid/fdroid/compose/ComposeUtils.kt
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewayAddActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
  app/src/main/res/values/theme_overlays.xml
  app/src/main/res/values/type.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Update StatusBanner with MD3 colors
  app/src/main/java/org/fdroid/fdroid/views/StatusBanner.java
  app/src/main/res/layout/main_tab_categories.xml
  app/src/main/res/layout/main_tab_latest.xml
  app/src/main/res/layout/main_tab_updates.xml
  app/src/main/res/layout/updateable_app_status_item.xml
  app/src/main/res/layout/updates_header.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/values/themes.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Use colorTertiaryContainer for warning containers
  app/src/main/java/org/fdroid/fdroid/compose/ComposeUtils.kt
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
  app/src/main/res/layout/app_details2_header.xml
  app/src/main/res/values/attrs.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/themes.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix color of 'turn on wifi' button
  app/src/full/res/layout/swap_start_swap.xml
  app/src/main/res/values/styles.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Another round of addressing MD3 feedback
  app/src/full/res/layout/swap_start_swap.xml
  app/src/main/java/org/fdroid/fdroid/views/appdetails/RepoChooser.kt
  app/src/main/java/org/fdroid/fdroid/views/apps/CategorySpan.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
  app/src/main/res/drawable/app_version_item_status_installed.xml
  app/src/main/res/drawable/app_version_item_status_new.xml
  app/src/main/res/drawable/app_version_item_status_suggested.xml
  app/src/main/res/layout/app_card_list_item.xml
  app/src/main/res/layout/app_details2_header.xml
  app/src/main/res/layout/app_details2_version_item.xml
  app/src/main/res/layout/app_status_new.xml
  app/src/main/res/layout/app_status_suggested.xml
  app/src/main/res/values/theme_overlays.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix all repos shown as preferred in app details
  app/src/main/java/org/fdroid/fdroid/views/appdetails/RepoChooser.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add createChooser for sharing installed apps + install history
  app/src/main/java/org/fdroid/fdroid/views/InstallHistoryActivity.java
  app/src/main/java/org/fdroid/fdroid/views/installed/InstalledAppsActivity.java
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Refactor: Move repositoryDao and appDao into RepoDetailsViewModel
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsViewModel.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Refactor: move QR Code generation into RepoDetailsViewModel
  app/src/main/java/org/fdroid/fdroid/Utils.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsViewModel.kt
  libs/database/src/main/java/org/fdroid/database/Repository.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

Refactor: Use proper states instead of abusing null in RepoDetailsViewModel
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsViewModel.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[download] add tests for AutoVerifyingInputStream
  libs/download/src/androidUnitTest/kotlin/org/fdroid/download/glide/AutoVerifyingInputStreamTest.kt
Due: libs download test, libs lint ktlintCheck

fix: miss surfaceContainer colors for Compose
  app/src/main/java/org/fdroid/fdroid/ui/theme/Color.kt
  app/src/main/java/org/fdroid/fdroid/ui/theme/Theme.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

fix: missing surface colors for the dark theme
  app/src/main/java/org/fdroid/fdroid/ui/theme/Color.kt
  app/src/main/java/org/fdroid/fdroid/ui/theme/Theme.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] basic target Android 15 and adapts to edge to edge
  app/build.gradle
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
  app/src/main/res/layout/activity_repo_details.xml
  app/src/main/res/layout/installed_apps_layout.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Also build and publish basic flavor in CI
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Proper edge-to-edge for RepoPreviewScreen
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoIntroScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Proper edge-to-edge for AppListActivity (search)
  app/src/main/java/org/fdroid/fdroid/views/apps/AppListActivity.java
  app/src/main/res/layout/activity_app_list.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Also publish debug APKs for easier testing
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Remove hardcoded mainTabSwapBackground which had slightly different color than status bar/window
  app/src/full/res/layout/main_tab_nearby.xml
  app/src/main/res/layout/main_tab_updates.xml
  app/src/main/res/values-night/themes.xml
  app/src/main/res/values/attrs.xml
  app/src/main/res/values/themes.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Change "Updating Repositories" header to use colorSurfaceContainerHighest instead of colorSurfaceBright
  app/src/main/res/values/styles.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone
