Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

app assembleFullRelease test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs db test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs download test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs index test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app lint pmd checkstyle:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs lint ktlintCheck:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app tools scripts:
  stage: lint
  image: debian:bullseye-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

app errorprone:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs database schema:
  stage: lint
  image: debian:bullseye-backports
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install default-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  - export ANDROID_COMPILE_SDK=`sed -n 's,.*compileSdkVersion\s*\([0-9][0-9]*\).*,\1,p' app/build.gradle`
  ...

Translated using Weblate: Estonian (et) by Kristjan Räts <kristjanrats@gmail.com>
  src/basic/fastlane/metadata/android/et/full_description.txt
  src/basic/fastlane/metadata/android/et/title.txt
Due: none

Translated using Weblate: French (fr) by Walter Paulo <polo@tictips.net>
  src/basic/fastlane/metadata/android/fr/full_description.txt
  src/basic/fastlane/metadata/android/fr/title.txt
Due: none

Translated using Weblate: Persian (fa) by Parsa Nobahari <parsa.nobahari@gmail.com>
  app/src/main/res/values-fa/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Catalan (ca) by Joan Aymà <joanayma@gmail.com>
  app/src/main/res/values-ca/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by VfBFan <VfBFan@users.noreply.hosted.weblate.org>
  app/src/main/res/values-de/strings.xml
  metadata/de/changelogs/1008001.txt
  metadata/de/changelogs/1008050.txt
  metadata/de/changelogs/1009000.txt
  src/basic/fastlane/metadata/android/de/full_description.txt
  src/basic/fastlane/metadata/android/de/title.txt
  src/full/fastlane/metadata/android/de/full_description.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hungarian (hu) by Balázs Meskó <meskobalazs@mailbox.org>
  app/src/main/res/values-hu/strings.xml
  metadata/hu/changelogs/1020050.txt
  metadata/hu/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Latvian (lv) by Edgars Andersons <Edgars+Weblate@gaitenis.id.lv>
  app/src/main/res/values-lv/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Swedish (sv) by Jacob <jacob@carlbacker.se>
  app/src/main/res/values-sv/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Dutch (nl) by Stephan Paternotte <stephan@paternottes.net>
  app/src/main/res/values-nl/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Swedish (sv) by Nick Wick <NickWick@users.noreply.hosted.weblate.org>
  app/src/main/res/values-sv/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by Anonymous <noreply@weblate.org>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Czech (cs) by Jáchym Řezáč <jachym.rezac@gmail.com>
  app/src/main/res/values-cs/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Russian (ru) by gfbdrgng <hnaofegnp@hldrive.com>
  app/src/main/res/values-ru/strings.xml
  metadata/ru/changelogs/1020050.txt
  metadata/ru/changelogs/default.txt
  src/basic/fastlane/metadata/android/ru/full_description.txt
  src/basic/fastlane/metadata/android/ru/title.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by Roberto MF <weblate@virgulilla.com>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Italian (it) by Eros <weblate.thyself347@passmail.net>
  app/src/main/res/values-it/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Serbian (sr) by Reno Tx <renotx@users.noreply.hosted.weblate.org>
  metadata/sr/changelogs/default.txt
  src/basic/fastlane/metadata/android/sr/full_description.txt
  src/basic/fastlane/metadata/android/sr/title.txt
Due: none

Translated using Weblate: Polish (pl) by Grzegorz Bak <fgb@interia.pl>
  app/src/main/res/values-pl/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] Release 1.22-alpha0
  CHANGELOG.md
  app/build.gradle
  metadata/en-US/changelogs/1021050 .txt
  metadata/en-US/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

1.22-alpha - fix changelog filename
  metadata/en-US/changelogs/1021050.txt
Due: none

[app] Handle ActivityNotFoundException in AppDetailsActivity
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] don't initialize all of FDroidApp if we are ACRA process
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

SessionInstaller: Set install reason as user
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] disable usage of GENTLE_UPDATE for now
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add Kotlin jvmTarget
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Translated using Weblate: Danish (da) by cat <catsnote@proton.me>
  app/src/main/res/values-da/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hungarian (hu) by -J- <heyj0e@tuta.io>
  app/src/main/res/values-hu/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by Kachelkaiser <kachelkaiser@outlook.com>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Belarusian (be) by Макар Разин <makarrazin14@gmail.com>
  app/src/main/res/values-be/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Vietnamese (vi) by Ronald Nguyen <liard_smutting@sl.vern.cc>
  app/src/main/res/values-vi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Vietnamese (vi) by lebao3105 <bao12345yocoo@gmail.com>
  app/src/main/res/values-vi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (pt) by Hugo Carvalho <hugokarvalho@hotmail.com>
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-pt/strings.xml
  metadata/pt-PT/changelogs/1019051.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Bulgarian (bg) by 109247019824 <109247019824@users.noreply.hosted.weblate.org>
  app/src/main/res/values-bg/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Greek (el) by Open Contribution <open.alat4@slmail.me>
  app/src/main/res/values-el/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Vietnamese (vi) by Tấn Lực Trương <september122022ios16@gmail.com>
  app/src/main/res/values-vi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Greek (el) by fresh <fresh190@protonmail.com>
  app/src/main/res/values-el/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Catalan (ca) by pitroig <ona@riseup.net>
  metadata/ca/changelogs/1005050.txt
  metadata/ca/changelogs/1021050.txt
  metadata/ca/changelogs/default.txt
  src/basic/fastlane/metadata/android/ca/short_description.txt
  src/full/fastlane/metadata/android/ca/short_description.txt
Due: none

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  app/src/main/res/values-ro/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Greek (el) by Spiros Vlachos <vitaspiros@gmail.com>
  app/src/main/res/values-el/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Norwegian Nynorsk (nn) by Bård Sigurd Møller <git@bsmoller.no>
  app/src/main/res/values-nn/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
