Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Path conditions:
  app assembleRelease test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, libs/**/*, legacy/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/index/**/*)
  app lint: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, legacy/**/*)
  legacy checkstyle: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/**/*)
  legacy lint pmd: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/*
  legacy errorprone: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)

Add tests for search in app lists
  app/src/test/java/org/fdroid/ui/lists/AppListSearchTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Fix crash when removing screenshots from disk cache
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

Fix name and summary localization in app details
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsItem.kt
  app/src/main/kotlin/org/fdroid/ui/details/DetailsPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

[db] Deprecate usage of localization cache for name and summary
  libs/database/src/main/java/org/fdroid/database/App.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Fix icons
  app/src/basic/res/drawable/ic_launcher_foreground.xml
  app/src/full/res/drawable/ic_launcher_monochrome.xml
  app/src/main/res/drawable/ic_launcher_foreground.xml
  app/src/main/res/drawable/ic_launcher_monochrome.xml
Due: app assembleRelease test, app lint, app tools scripts

Fix more padding/placement issues
  app/src/main/kotlin/org/fdroid/ui/repositories/add/AddRepo.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/add/AddRepoIntro.kt
  app/src/main/kotlin/org/fdroid/ui/search/ExpandedSearch.kt
  app/src/main/kotlin/org/fdroid/ui/search/TopSearchBar.kt
Due: app assembleRelease test, app lint, app tools scripts

CI: Don't manually install apps before running tests
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Don't scroll to top when rotating screen in My Apps
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsList.kt
Due: app assembleRelease test, app lint, app tools scripts

Release 2.0-alpha6
  app/build.gradle.kts
  src/basic/fastlane/metadata/android/ar/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/cs/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/de/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/en-GB/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/en-US/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/eo/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/es/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/et/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/fr/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/ga/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/hu-HU/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/ja/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/pl/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/pt-BR/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/pt-PT/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/pt/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/ru/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/sv-SE/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/sw/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/tr/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/uk/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/zh-CN/changelogs/2000006.txt
  src/basic/fastlane/metadata/android/zh-TW/changelogs/2000006.txt
Due: app assembleRelease test, app lint, app tools scripts

Fix nearby swap install
  app/build.gradle
  app/src/full/java/org/fdroid/fdroid/nearby/SwapSuccessView.java
Due: app assembleRelease test, app lint, app tools scripts

Add all new strings
  app/src/main/res/values/new-strings.xml
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Apply 5 suggestion(s) to 1 file(s)
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Apply one more suggestion from @oposse
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Apply suggestions from @oposse
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Apply 9 suggestion(s) to 1 file(s)
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Applies final suggestions for string changes
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Support for dnsA/dnsAAAA data added to v2 index
  app/src/androidTest/java/org/fdroid/download/DnsCacheTest.kt
  app/src/full/kotlin/org/fdroid/download/DownloadRequestInterceptor.kt
  app/src/main/kotlin/org/fdroid/download/DnsCache.kt
  app/src/main/kotlin/org/fdroid/download/DnsWithCache.kt
  app/src/main/kotlin/org/fdroid/download/FDroidMirrorParameterManager.kt
  legacy/src/main/java/org/fdroid/fdroid/net/DownloaderFactory.java
  legacy/src/main/java/org/fdroid/fdroid/net/FDroidMirrorParameterManager.java
  libs/database/schemas/org.fdroid.database.FDroidDatabaseInt/12.json
  libs/database/src/dbTest/java/org/fdroid/database/IndexV2DiffTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDiffTest.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
  libs/database/src/main/java/org/fdroid/database/Repository.kt
  libs/download/api/jvm/download.api
  libs/download/src/commonMain/kotlin/org/fdroid/download/Mirror.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/MirrorChooser.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/MirrorParameterManager.kt
  libs/index/api/jvm/index.api
  libs/index/src/commonMain/kotlin/org/fdroid/index/v2/IndexV2.kt
  libs/sharedTest/src/commonMain/kotlin/org/fdroid/test/TestDataV2.kt
  libs/sharedTest/src/commonMain/resources/diff-empty-max/1337.json
  libs/sharedTest/src/commonMain/resources/diff-empty-max/23.json
  libs/sharedTest/src/commonMain/resources/diff-empty-max/42.json
  libs/sharedTest/src/commonMain/resources/index-base-dns-v2.json
  libs/sharedTest/src/commonMain/resources/index-max-v2.json
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Add Romanian mirrors
  app/src/main/assets/default_repos.json
  legacy/src/main/res/values/default_repos.xml
Due: app assembleRelease test, app lint, legacy checkstyle, legacy lint pmd, app tools scripts, legacy errorprone

Translations update from weblate
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-br/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-eo/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-fa/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-ga/strings.xml
  app/src/main/res/values-hr/strings.xml
  app/src/main/res/values-id/strings.xml
  app/src/main/res/values-lt/strings.xml
  app/src/main/res/values-mk/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-sq/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-uz/strings.xml
  app/src/main/res/values-vi/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  metadata/fi/changelogs/1000004.txt
  metadata/fi/changelogs/1000005.txt
  metadata/fi/changelogs/1000010.txt
  metadata/sq/changelogs/1017050.txt
  metadata/sq/changelogs/1018050.txt
  src/basic/fastlane/metadata/android/zh-TW/full_description.txt
  src/basic/fastlane/metadata/android/zh-TW/short_description.txt
  src/full/fastlane/metadata/android/sk/full_description.txt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Support a single canonical location for preloaded repos
  app/src/main/kotlin/org/fdroid/repo/RepoPreLoader.kt
  app/src/test/java/org/fdroid/repo/RepoPreLoaderTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Basic support for restoring archived apps
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/org/fdroid/install/UnarchivePackageReceiver.kt
  app/src/main/kotlin/org/fdroid/install/UnarchiveWorker.kt
  app/src/main/kotlin/org/fdroid/updates/UpdatesModule.kt
Due: app assembleRelease test, app lint, app tools scripts

[index] add file to PackageVersion
  libs/index/api/jvm/index.api
  libs/index/src/androidHostTest/kotlin/org/fdroid/UpdateCheckerTest.kt
  libs/index/src/commonMain/kotlin/org/fdroid/index/v2/PackageV2.kt
Due: app assembleRelease test, libs index test, libs lint ktlintCheck

Use more generic PackageVersion in AppInstallManager
  app/src/main/kotlin/org/fdroid/install/AppInstallManager.kt
  app/src/main/kotlin/org/fdroid/install/InstallState.kt
  app/src/main/kotlin/org/fdroid/install/SessionInstallManager.kt
  app/src/main/kotlin/org/fdroid/install/UnarchiveWorker.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsItem.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
  app/src/main/kotlin/org/fdroid/updates/UpdateInstaller.kt
  app/src/test/java/org/fdroid/install/AppInstallManagerTest.kt
  app/src/test/java/org/fdroid/install/SessionInstallManagerTest.kt
  app/src/test/java/org/fdroid/updates/UpdateInstallerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

[db] add file to PackageVersion
  libs/database/src/main/java/org/fdroid/database/Version.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Turn 'export debug log' into a preference
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
Due: app assembleRelease test, app lint, app tools scripts

Allow selecting mirror URLs in repo details
  app/src/main/kotlin/org/fdroid/ui/repositories/details/OfficialMirrors.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/details/UserMirrors.kt
Due: app assembleRelease test, app lint, app tools scripts

Don't recreate database flows on each recomposition
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

Add option for compact bottom bar
  app/src/androidTest/java/org/fdroid/ui/screenshots/LocalizedScreenshotTest.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  app/src/main/kotlin/org/fdroid/ui/Main.kt
  app/src/main/kotlin/org/fdroid/ui/MainContent.kt
  app/src/main/kotlin/org/fdroid/ui/MainPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/MainViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/navigation/BottomBar.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
  app/src/main/res/values/strings.xml
  app/src/screenshotTest/kotlin/org/fdroid/ui/ScreenshotTest.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/discover/DiscoverTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverSmallBottomBarTest_1def2e7f_0.png
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Add screenshot test for About screen
  app/src/screenshotTest/kotlin/org/fdroid/ui/AboutTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/AboutTestKt/AboutNightTest_2fbe6c79_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/AboutTestKt/AboutTest_7d15032b_0.png
Due: app assembleRelease test, app lint, app tools scripts

Delay initial loading of updates to not hammer DB during start-up
  app/src/main/kotlin/org/fdroid/updates/UpdatesManager.kt
  app/src/test/java/org/fdroid/updates/UpdatesManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Add screenshot test for Settings screen
  app/src/screenshotTest/kotlin/org/fdroid/ui/settings/SettingsTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/settings/SettingsTestKt/SettingsNightTest_58c50acd_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/settings/SettingsTestKt/SettingsTest_4fcdc4d2_0.png
Due: app assembleRelease test, app lint, app tools scripts

Add screenshot test for Crash reporter screen
  app/src/screenshotTest/kotlin/org/fdroid/ui/crash/CrashTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/crash/CrashTestKt/CrashNightTest_1def2e7f_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/crash/CrashTestKt/CrashTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

Add screenshot test for repo list screen
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/repositories/RepositoriesListTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/RepositoriesListTestKt/RepositoriesListNightTest_1def2e7f_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/RepositoriesListTestKt/RepositoriesListTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

Add screenshot test for AppDetails screen
  app/src/screenshotTest/kotlin/org/fdroid/ui/details/DetailsTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsInstallTest_9f4e7551_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsNightTest_150baa59_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsTest_9f4e7551_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsUpdateTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

Update dependencies
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Fix formatting after ktfmt update
  libs/database/build.gradle.kts
  libs/download/src/androidDeviceTest/kotlin/org/fdroid/download/HttpManagerInstrumentationTest.kt
  libs/download/src/androidHostTest/kotlin/org/fdroid/download/HttpDownloaderTest.kt
  libs/download/src/androidMain/kotlin/org/fdroid/download/HttpManager.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/MirrorChooser.kt
  libs/download/src/commonTest/kotlin/org/fdroid/download/HttpManagerTest.kt
Due: app assembleRelease test, libs db test, libs download test, libs lint ktlintCheck, libs database schema

Load Discover carousel content in reverse order
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverPresenter.kt
Due: app assembleRelease test, app lint, app tools scripts

Work around screenshot bug
  app/build.gradle.kts
Due: app assembleRelease test, app lint, app tools scripts

Add screenshot test for RepositoryDetails screen
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/repositories/RepositoryDetailsTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/RepositoryDetailsTestKt/RepositoryDetailsMinTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/RepositoryDetailsTestKt/RepositoryDetailsNightTest_e8fc27d5_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/RepositoryDetailsTestKt/RepositoryDetailsTest_f3d45ac4_0.png
Due: app assembleRelease test, app lint, app tools scripts
