Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

app assembleFullRelease test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs db test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs download test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs index test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app lint pmd checkstyle:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs lint ktlintCheck:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app tools scripts:
  stage: lint
  image: debian:bullseye-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

app errorprone:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs database schema:
  stage: lint
  image: debian:bullseye-backports
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install default-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  - export ANDROID_COMPILE_SDK=`sed -n 's,.*compileSdkVersion\s*\([0-9][0-9]*\).*,\1,p' app/build.gradle`
  ...

Don't crash on non-hierarchical URIs in RepoUriGetter
  libs/database/src/main/java/org/fdroid/repo/RepoUriGetter.kt
  libs/database/src/test/java/org/fdroid/repo/RepoUriGetterTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Update backup rules for Android 12 or higher
  app/src/main/AndroidManifest.xml
  app/src/main/res/xml/backup_extraction_rules.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Upgrade to Gradle 8 and SDK 34
  .gitlab-ci.yml
  app/build.gradle
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/NfcHelper.java
  app/src/main/java/org/fdroid/fdroid/Utils.java
  app/src/main/java/org/fdroid/fdroid/views/InstallHistoryActivity.java
  app/src/main/java/org/fdroid/fdroid/views/main/LatestAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/main/MainViewAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.java
  build.gradle
  gradle/verification-metadata.xml
  gradle/wrapper/gradle-wrapper.properties
  libs/database/build.gradle
  libs/database/src/main/AndroidManifest.xml
  libs/download/build.gradle
  libs/download/src/androidMain/AndroidManifest.xml
  libs/index/build.gradle
  libs/index/src/androidMain/AndroidManifest.xml
  libs/sharedTest/build.gradle
  libs/sharedTest/src/main/AndroidManifest.xml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Remove dead NFC (Android Beam) code
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
  app/src/full/res/drawable-hdpi/nfc_touch.png
  app/src/full/res/drawable-ldpi/nfc_touch.png
  app/src/full/res/drawable-mdpi/nfc_touch.png
  app/src/full/res/drawable-xhdpi/nfc_touch.png
  app/src/full/res/layout/swap_nfc.xml
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/NfcHelper.java
  app/src/main/java/org/fdroid/fdroid/NfcNotEnabledActivity.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.java
  app/src/main/res/drawable/ic_nfc.xml
  app/src/main/res/menu/repo_details_activity.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/org/fdroid/fdroid/views/AppDetailsAdapterTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Fix lint errors after compileSdk upgrade to 34
  app/src/full/java/org/fdroid/fdroid/nearby/BluetoothClient.java
  app/src/full/java/org/fdroid/fdroid/nearby/BluetoothServer.java
  app/src/full/java/org/fdroid/fdroid/nearby/peers/BluetoothPeer.java
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
  app/src/main/java/org/fdroid/fdroid/nearby/BluetoothConnection.java
  app/src/main/java/org/fdroid/fdroid/nearby/BluetoothConstants.java
  app/src/main/java/org/fdroid/fdroid/net/BluetoothDownloader.java
  app/src/main/java/org/fdroid/fdroid/net/DownloaderFactory.java
  app/src/main/res/layout/activity_app_list.xml
  app/src/main/res/layout/donate_generic.xml
  libs/database/src/main/AndroidManifest.xml
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

Make D8 happy after upgrades
  app/proguard-rules.pro
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Use permission constants in Apk#setRequestedPermissions()
  app/src/main/java/org/fdroid/fdroid/data/Apk.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Update dependencies
  app/build.gradle
  gradle/verification-metadata.xml
  libs/database/build.gradle
  libs/download/build.gradle
  libs/download/src/commonMain/kotlin/org/fdroid/download/HttpManager.kt
  libs/index/build.gradle
  libs/index/src/androidMain/kotlin/org/fdroid/index/v1/IndexV1Creator.kt
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

Install new build tools
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Add gradle verification metadata for windows
  gradle/verification-metadata.xml
Due: none

Add gradle verification metadata for osx
  gradle/verification-metadata.xml
Due: none

[app] R classes are now package specific
  app/src/androidTest/java/org/fdroid/fdroid/MainActivityEspressoTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Apply SHA1 CI hack to Java 17
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Update errorprone after gradle/java update
  config/errorprone.gradle
Due: none

no more namespaces in manifests
  app/src/androidTest/AndroidManifest.xml
  libs/download/src/androidInstrumentedTest/AndroidManifest.xml
Due: app assembleFullRelease test, libs download test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone

Install Java 17 for CI
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Make pmd happy
  app/src/main/java/org/fdroid/fdroid/NfcHelper.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

export PanicResponderActivity to make panic mode work again
  app/src/full/AndroidManifest.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[index] treat empty string like null when deserializing FileV2 objects
  libs/index/src/commonMain/kotlin/org/fdroid/index/v2/IndexV2.kt
Due: libs index test, libs lint ktlintCheck

[app] basic targetSdk 34
  app/build.gradle
  app/src/basic/res/values/strings.xml
  app/src/full/res/drawable/ic_wifi_off.xml
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
  app/src/main/java/org/fdroid/fdroid/UpdateJobService.java
  app/src/main/java/org/fdroid/fdroid/installer/InstallManagerService.java
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values/colors.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Don't fail session resumption test if session doesn't get resumed
  libs/download/src/androidInstrumentedTest/kotlin/org/fdroid/download/HttpManagerInstrumentationTest.kt
Due: libs download test, libs lint ktlintCheck

remove obsolete SDK 22 code block
  app/src/androidTest/java/org/fdroid/fdroid/net/HttpDownloaderTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

switch downloadThenCancel test to host w/o Let's Encrypt cert
  app/src/androidTest/java/org/fdroid/fdroid/net/HttpDownloaderTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

update CHANGELOG
  CHANGELOG.md
Due: none

version code 1019052
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] wikipedia uses letsencrypt, so that needs SDK >= 26
  app/src/androidTest/java/org/fdroid/fdroid/net/HttpDownloaderTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Set install location to AUTO for SessionInstaller
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  app/src/main/res/values-ar/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  app/src/main/res/values-pl/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Italian (it) by Random <random-r@users.noreply.hosted.weblate.org>
  app/src/main/res/values-it/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by VfBFan <VfBFan@users.noreply.hosted.weblate.org>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by full name <hosted-weblate.5w160@dralias.com>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  app/src/main/res/values-ro/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Simplified) (zh-rCN) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  app/src/main/res/values-zh-rCN/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Yue (Traditional) (yue) by Ray <ray@users.noreply.hosted.weblate.org>
  app/src/main/res/values-yue/strings.xml
  app/src/main/res/values-zh-rHK/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (Brazil) (pt-rBR) by lucasmz <github@lucasmz.dev>
  app/src/main/res/values-pt-rBR/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Czech (cs) by Fjuro <ifjuro@proton.me>
  app/src/main/res/values-cs/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  app/src/main/res/values-uk/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Ukrainian (uk) by Сергій <sergiy.goncharuk.1@gmail.com>
  app/src/main/res/values-uk/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
