Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

fix missing quantity "one" in es, it
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-it/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

run tools/update-mirrors-in-default_repos.xml.py
  app/src/main/res/values/default_repos.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

update CHANGELOG
  CHANGELOG.md
Due: none

version code 1019050
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

removing all translations less than 70% complete
  app/src/main/res/values-az/strings.xml
  app/src/main/res/values-ber/strings.xml
  app/src/main/res/values-br/strings.xml
  app/src/main/res/values-ckb/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-fy/strings.xml
  app/src/main/res/values-hy/strings.xml
  app/src/main/res/values-ka/strings.xml
  app/src/main/res/values-kab/strings.xml
  app/src/main/res/values-kk/strings.xml
  app/src/main/res/values-kmr/strings.xml
  app/src/main/res/values-lb/strings.xml
  app/src/main/res/values-mk/strings.xml
  app/src/main/res/values-mr/strings.xml
  app/src/main/res/values-my/strings.xml
  app/src/main/res/values-nah/strings.xml
  app/src/main/res/values-ne/strings.xml
  app/src/main/res/values-oc/strings.xml
  app/src/main/res/values-or/strings.xml
  app/src/main/res/values-pa-rPK/strings.xml
  app/src/main/res/values-ps/strings.xml
  app/src/main/res/values-si/strings.xml
  app/src/main/res/values-sn/strings.xml
  app/src/main/res/values-so/strings.xml
  app/src/main/res/values-tt/strings.xml
  app/src/main/res/values-tzm/strings.xml
  app/src/main/res/values-ug/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] Add a share sheet receiver for plain text
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoActivity.kt
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Added a dns class that caches dns lookups
  app/build.gradle
  app/src/androidTest/java/org/fdroid/fdroid/net/DnsWithCacheTest.java
  app/src/androidTest/java/org/fdroid/fdroid/net/HttpDownloaderTest.java
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/net/DnsWithCache.java
  app/src/main/java/org/fdroid/fdroid/net/DownloaderFactory.java
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
  gradle/verification-metadata.xml
  libs/database/build.gradle
  libs/download/src/androidMain/kotlin/org/fdroid/download/HttpManager.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/HttpManager.kt
  libs/download/src/jvmMain/kotlin/org/fdroid/download/HttpManager.kt
  libs/download/src/nativeMain/kotlin/org/fdroid/download/HttpManager.kt
Due: app assembleFullRelease test, libs db test, libs download test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

[download] fix cleartext instrumentation test
  libs/download/src/androidInstrumentedTest/AndroidManifest.xml
  libs/download/src/androidInstrumentedTest/res/xml/network_security_config.xml
Due: libs download test, libs lint ktlintCheck

[download] fix broken TLS instrumentation tests
  libs/download/src/androidInstrumentedTest/kotlin/org/fdroid/download/HttpManagerInstrumentationTest.kt
Due: libs download test, libs lint ktlintCheck

stop allowing KVM failure, tests should be less flaky now
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

[app] fix debug logging for libraries
  app/build.gradle
  app/proguard-rules.pro
  app/src/main/assets/logback.xml
  gradle/verification-metadata.xml
  libs/database/build.gradle
  libs/index/build.gradle
Due: app assembleFullRelease test, libs db test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

[db] last minute change to fdroid.link format
  libs/database/src/main/java/org/fdroid/repo/RepoUriGetter.kt
  libs/database/src/test/java/org/fdroid/repo/RepoUriGetterTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Translated using Weblate: Dutch (nl) by Jeroen Hellingman <jeroen@bohol.ph>
  app/src/main/res/values-nl/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hungarian (hu) by Balázs Meskó <meskobalazs@mailbox.org>
  app/src/main/res/values-hu/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  app/src/main/res/values-pt/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hindi (hi) by Scrambled777 <weblate.scrambled777@simplelogin.com>
  app/src/main/res/values-hi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hungarian (hu) by Balázs Meskó <meskobalazs@mailbox.org>
  app/src/main/res/values-hu/strings.xml
  metadata/hu/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Romanian (ro) by Simona Iacob <s@zp1.net>
  metadata/ro/changelogs/1018050.txt
  metadata/ro/changelogs/default.txt
Due: none

[app] let compose activities respect app compat day/night theme
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewayAddActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewaySettingsActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoActivity.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Translated using Weblate: German (de) by Lacey Anaya <yecakeh263@anawalls.com>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Dutch (nl) by Dklfajsjfi49wefklsf32 <nlincus@users.noreply.hosted.weblate.org>
  app/src/main/res/values-nl/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (Brazil) (pt-rBR) by delvani <inavleb@users.noreply.hosted.weblate.org>
  app/src/main/res/values-pt-rBR/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Danish (da) by Peter stevens <peterstevens77@gmail.com>
  app/src/main/res/values-da/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Yue (Traditional) (yue) by Ray <ray@users.noreply.hosted.weblate.org>
  app/src/main/res/values-yue/strings.xml
  app/src/main/res/values-zh-rHK/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Estonian (et) by Priit Jõerüüt <hwlate@joeruut.com>
  app/src/main/res/values-et/strings.xml
  metadata/et/full_description.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: English (United Kingdom) (en-rGB) by Andi Chandler <andi@gowling.com>
  app/src/main/res/values-en-rGB/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hungarian (hu) by Bálint László <blaszlobors@gmail.com>
  app/src/main/res/values-hu/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

remove random 'PluralsCandidate' text that slipped in
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-en-rGB/strings.xml
  app/src/main/res/values-eo/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-fa/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-hi/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sc/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-yue/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rHK/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Always upload artifacts so we have APKs for testing
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

remove random 'PluralsCandidate' text that slipped in
  app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sc/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] cancel download when DownloadService is told to stop
  app/src/main/java/org/fdroid/fdroid/net/DownloaderService.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

gitlab-ci: allow manually triggering of pipelines
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

version code 1019051
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] reset the preferred repo when it gets disabled or deleted
  libs/database/src/dbTest/java/org/fdroid/database/AppDaoTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/AppPrefsDaoTest.kt
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Move InstantTaskExecutorRule into base DbTest class
  libs/database/src/dbTest/java/org/fdroid/database/AppTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/DbTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDaoTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/VersionTest.kt
  libs/database/src/dbTest/java/org/fdroid/index/v1/IndexV1UpdaterTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] allow setting a preferred repo per app
  libs/database/schemas/org.fdroid.database.FDroidDatabaseInt/2.json
  libs/database/src/dbTest/java/org/fdroid/database/AppDaoTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/AppListItemsTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/AppOverviewItemsTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/DbTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDaoTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/VersionTest.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
  libs/database/src/main/java/org/fdroid/database/AppPrefs.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
  libs/database/src/main/java/org/fdroid/database/VersionDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema
