Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Path conditions:
  app assembleRelease test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, libs/**/*, legacy/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/index/**/*)
  app lint: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, legacy/**/*)
  legacy checkstyle: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/**/*)
  legacy lint pmd: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/*
  legacy errorprone: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)

Simplify settings migration
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
Due: app assembleRelease test, app lint, app tools scripts

implement the migration table
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Implement more complete update settings migration
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Change approach for SettingsManagerTest
  app/src/test/java/org/fdroid/settings/SettingsManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

add unit tests to exercise all the migration code paths
  app/src/test/java/org/fdroid/settings/SettingsManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Translations update from weblate
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-tr/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Android does not support hi-Latn, so remove it
  app/src/main/res/values-b+hi+Latn/strings.xml
  app/src/main/res/xml/locales_config.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

print included locales when running a stable release build
  app/build.gradle.kts
Due: app assembleRelease test, app lint, app tools scripts

hooks/pre-push: add code format, remove tools no longer used
  hooks/pre-push
Due: none

run tools/update-most-downloaded-apps.py
  app/src/main/assets/most_downloaded_apps.json
Due: app assembleRelease test, app lint, app tools scripts

run tools/remove-unused-and-blank-translations.py
  app/src/main/res/values-az/strings.xml
  app/src/main/res/values-brh/strings.xml
  app/src/main/res/values-da/strings.xml
  app/src/main/res/values-ga/strings.xml
  app/src/main/res/values-gl/strings.xml
  app/src/main/res/values-gu/strings.xml
  app/src/main/res/values-hr/strings.xml
  app/src/main/res/values-hy/strings.xml
  app/src/main/res/values-kk/strings.xml
  app/src/main/res/values-kmr/strings.xml
  app/src/main/res/values-nb/strings.xml
  app/src/main/res/values-ne/strings.xml
  app/src/main/res/values-oc/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-ta/strings.xml
  app/src/main/res/values-tt/strings.xml
  app/src/main/res/values-uz/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

run tools/trim-incomplete-translations-for-release.py
  app/src/main/res/xml/locales_config.xml
Due: app assembleRelease test, app lint, app tools scripts

update CHANGELOG.md
  CHANGELOG.md
Due: none

Release 2.0.0
  app/build.gradle.kts
Due: app assembleRelease test, app lint, app tools scripts

Translations update from weblate
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-ro/strings.xml
  metadata/de/changelogs/1005050.txt
  metadata/de/changelogs/1007001.txt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Try to fix issues with osul02 KVM runner
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Try disabling useUnifiedTestPlatform as this may have issues for SDK 24
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

rename constant REPO_UDPATES -> REPO_AUTO_UPDATES
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
  app/src/test/java/org/fdroid/settings/SettingsManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

rename constant AUTO_UPDATES -> APP_AUTO_UPDATES
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
  app/src/test/java/org/fdroid/settings/SettingsManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

fix typo
  app/src/main/kotlin/org/fdroid/App.kt
Due: app assembleRelease test, app lint, app tools scripts

Show Calculator icon when app hiding is enabled
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettings.kt
Due: app assembleRelease test, app lint, app tools scripts

fix: invalid notification ID 0
  app/src/main/kotlin/org/fdroid/NotificationManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Fix Huawei/Honor crash when drawing adaptive app icons
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettings.kt
  app/src/main/kotlin/org/fdroid/ui/settings/AppIconDialog.kt
  app/src/main/kotlin/org/fdroid/ui/utils/AdaptiveIconImage.kt
Due: app assembleRelease test, app lint, app tools scripts

Translations update from weblate
  app/src/main/res/values-af/strings.xml
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-be/strings.xml
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-eo/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-ga/strings.xml
  app/src/main/res/values-he/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-vi/strings.xml
  metadata/fi/changelogs/1000011.txt
  metadata/he/changelogs/1019051.txt
  metadata/he/changelogs/1020050.txt
  metadata/he/changelogs/1021051.txt
  metadata/he/changelogs/1022050.txt
  metadata/he/changelogs/1023051.txt
  metadata/he/changelogs/default.txt
  metadata/pt-BR/changelogs/1022050.txt
  metadata/uk/changelogs/1023051.txt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Release 2.0.1
  CHANGELOG.md
  app/build.gradle.kts
  app/src/main/res/xml/locales_config.xml
Due: app assembleRelease test, app lint, app tools scripts

Remove legacy swap notification channel in basic flavor
  app/src/main/kotlin/org/fdroid/NotificationManager.kt
Due: app assembleRelease test, app lint, app tools scripts

refactor: avoid duplicate repo update notifications
  app/src/main/kotlin/org/fdroid/repo/RepoUpdateWorker.kt
  app/src/test/java/org/fdroid/repo/RepoUpdateWorkerUnitTest.kt
Due: app assembleRelease test, app lint, app tools scripts

refactor: remove redundant setForeground()
  app/src/main/kotlin/org/fdroid/repo/RepoUpdateWorker.kt
Due: app assembleRelease test, app lint, app tools scripts

Revert "refactor: remove redundant setForeground()"
  app/src/main/kotlin/org/fdroid/repo/RepoUpdateWorker.kt
Due: app assembleRelease test, app lint, app tools scripts

fix: notification not cleaned up
  app/src/main/kotlin/org/fdroid/repo/RepoUpdateWorker.kt
  app/src/test/java/org/fdroid/repo/RepoUpdateWorkerUnitTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Upgrade dependencies
  app/build.gradle.kts
  app/src/main/res/values-en-rGB/strings.xml
  app/src/screenshotTest/kotlin/org/fdroid/ui/AboutTest.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/crash/CrashTest.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/details/DetailsTest.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/settings/SettingsTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/AboutTestKt/AboutNightTest_ff277908_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/AboutTestKt/AboutTest_7c6500eb_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/crash/CrashTestKt/CrashNightTest_1781dd11_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/crash/CrashTestKt/CrashTest_18cb85ef_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsInstallTest_b7452683_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsNightTest_dd453d71_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsTest_b7452683_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/settings/SettingsTestKt/SettingsNightTest_d0a5f0d1_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/settings/SettingsTestKt/SettingsTest_92439fba_0.png
  app/src/screenshotTestFullDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverFirstStartTest_2ed8e27d_0.png
  app/src/screenshotTestFullDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverNoEnabledReposTest_2ed8e27d_0.png
  app/src/screenshotTestFullDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverTest_2ed8e27d_0.png
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  gradle/wrapper/gradle-wrapper.properties
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Fixing libs API surface checking
  libs/download/api/android/download.api
  libs/index/api/android/index.api
Due: app assembleRelease test, libs download test, libs index test, libs lint ktlintCheck

Add Audiobook category
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
Due: app assembleRelease test, app lint, app tools scripts

Sort new apps by date added instead of last updated
  app/src/main/kotlin/org/fdroid/ui/lists/AppListItem.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppsFilter.kt
  app/src/main/res/values/strings.xml
  app/src/screenshotTest/kotlin/org/fdroid/ui/lists/AppsFilterTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/lists/AppsFilterTestKt/AppsFilterTest_2ed8e27d_0.png
  app/src/test/java/org/fdroid/ui/lists/AppListSortTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/AppOverviewItemsTest.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: app assembleRelease test, libs db test, app lint, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, libs database schema

Revert "Remove legacy swap notification channel in basic flavor"
  app/src/main/kotlin/org/fdroid/NotificationManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Revert "Sort new apps by date added instead of last updated"
  app/src/main/kotlin/org/fdroid/ui/lists/AppListItem.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppsFilter.kt
  app/src/main/res/values/strings.xml
  app/src/screenshotTest/kotlin/org/fdroid/ui/lists/AppsFilterTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/lists/AppsFilterTestKt/AppsFilterTest_2ed8e27d_0.png
  app/src/test/java/org/fdroid/ui/lists/AppListSortTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/AppOverviewItemsTest.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: app assembleRelease test, libs db test, app lint, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, libs database schema

🫴 better icon for generic donate links
  app/src/main/kotlin/org/fdroid/ui/details/AppDonationLink.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsInstallTest_b7452683_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsNightTest_dd453d71_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsTest_b7452683_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsUpdateTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

Add shortcuts for My Apps and Search
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/org/fdroid/ui/MainViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/navigation/IntentRouter.kt
Due: app assembleRelease test, app lint, app tools scripts

add panic/hide explanation
  app/src/full/kotlin/org/fdroid/ui/panic/PanicActivity.kt
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettingsViewModel.kt
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Don't fail tests when SHA1 is not allowed locally
  libs/database/src/dbTest/java/org/fdroid/index/v1/IndexV1UpdaterTest.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema
