Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

set all swap PendingIntents with PendingIntent.FLAG_IMMUTABLE
  app/src/full/java/org/fdroid/fdroid/nearby/SwapService.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Upgrade kotlinx-serialization-json to 1.5.1 in hope to fix #2637
  gradle/verification-metadata.xml
  libs/database/build.gradle
  libs/index/build.gradle
  libs/sharedTest/build.gradle
Due: libs db test, libs index test, libs lint ktlintCheck, libs database schema

Downgrade kotlinx-serialization-json to 1.4.1 to fix #2637
  libs/database/build.gradle
  libs/index/build.gradle
  libs/sharedTest/build.gradle
Due: libs db test, libs index test, libs lint ktlintCheck, libs database schema

Hide Run button for yourself - redone
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

version code 1017000
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add changelog for 1.17-alpha0
  CHANGELOG.md
  metadata/en-US/changelogs/1017000.txt
Due: none

removing all translations less than 70% complete
  app/src/main/res/values-az/strings.xml
  app/src/main/res/values-ber/strings.xml
  app/src/main/res/values-bo/strings.xml
  app/src/main/res/values-br/strings.xml
  app/src/main/res/values-ckb/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-fy/strings.xml
  app/src/main/res/values-hy/strings.xml
  app/src/main/res/values-ka/strings.xml
  app/src/main/res/values-kk/strings.xml
  app/src/main/res/values-kmr/strings.xml
  app/src/main/res/values-lb/strings.xml
  app/src/main/res/values-mk/strings.xml
  app/src/main/res/values-mr/strings.xml
  app/src/main/res/values-my/strings.xml
  app/src/main/res/values-nah/strings.xml
  app/src/main/res/values-ne/strings.xml
  app/src/main/res/values-oc/strings.xml
  app/src/main/res/values-or/strings.xml
  app/src/main/res/values-pa-rPK/strings.xml
  app/src/main/res/values-ps/strings.xml
  app/src/main/res/values-si/strings.xml
  app/src/main/res/values-sn/strings.xml
  app/src/main/res/values-so/strings.xml
  app/src/main/res/values-th/strings.xml
  app/src/main/res/values-tt/strings.xml
  app/src/main/res/values-tzm/strings.xml
  app/src/main/res/values-ug/strings.xml
  app/src/main/res/values-ur/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

add 1.16.2 and 1.16.3 entries to master's CHANGELOG
  CHANGELOG.md
Due: none

Run app build and test also in lib changes
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Add hidden preference to store "show apps" state
  app/src/main/java/org/fdroid/fdroid/views/updates/UpdatesAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

fix typo
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] Fix tvBanner deserialization
  app/src/main/java/org/fdroid/fdroid/data/App.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Ensure existence of default categories
  app/src/main/java/org/fdroid/fdroid/views/categories/CategoryAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/categories/CategoryController.java
  app/src/main/java/org/fdroid/fdroid/views/categories/CategoryItem.java
  app/src/main/java/org/fdroid/fdroid/views/main/CategoriesViewBinder.java
  app/src/main/res/values/array.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

./gradlew spotlessXmlApply
  app/src/main/res/drawable/ic_video.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

fix name in TAG
  app/src/full/java/org/fdroid/fdroid/nearby/SwapSuccessView.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

fix import order for kellinwood files
  app/src/full/java/kellinwood/security/zipsigner/ZipSigner.java
  app/src/full/java/kellinwood/security/zipsigner/optional/SignatureBlockGenerator.java
  app/src/full/java/kellinwood/zipio/CentralEnd.java
  app/src/full/java/kellinwood/zipio/ZioEntry.java
  app/src/full/java/kellinwood/zipio/ZioEntryInputStream.java
  app/src/full/java/kellinwood/zipio/ZipInput.java
  app/src/full/java/kellinwood/zipio/ZipListingHelper.java
  app/src/full/java/kellinwood/zipio/ZipOutput.java
  app/src/testFull/java/kellinwood/security/zipsigner/ZipSignerTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

run Reformat Code from Android Studio Flamingo | 2022.2.1 Patch 2
  app/src/full/java/kellinwood/security/zipsigner/HexDumpEncoder.java
  app/src/full/java/kellinwood/security/zipsigner/ResourceAdapter.java
  app/src/full/java/kellinwood/zipio/CentralEnd.java
  app/src/full/java/kellinwood/zipio/ZioEntry.java
  app/src/full/java/kellinwood/zipio/ZioEntryInputStream.java
  app/src/full/java/kellinwood/zipio/ZipInput.java
  app/src/full/java/kellinwood/zipio/ZipListingHelper.java
  app/src/full/java/org/fdroid/fdroid/nearby/LocalHTTPD.java
  app/src/full/java/org/fdroid/fdroid/nearby/WifiStateChangeService.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

handle Samsung oddness with Environment.isExternalStorageRemovable()
  app/src/full/java/org/fdroid/fdroid/nearby/SDCardScannerService.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

update official Android/AOSP version names
  app/src/main/java/org/fdroid/fdroid/Utils.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

doc Preferences vs. PreferenceManager.getDefaultSharedPreferences()
  app/src/main/java/org/fdroid/fdroid/Preferences.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

fix tab highlight when programmatically showing tab
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

port external storage scanning services to JobIntentService
  app/src/full/AndroidManifest.xml
  app/src/full/java/org/fdroid/fdroid/nearby/SDCardScannerService.java
  app/src/full/java/org/fdroid/fdroid/nearby/TreeUriScannerIntentService.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

handle Intents that select a specific tab in MainActivity
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

save/restore selected tab when app gets killed
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Translated using Weblate: Thai (th) by Kys Fid <kysfid830@gmail.com>
  app/src/main/res/values-th/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Vietnamese (vi) by Quốc Trương <truongquoc03081997@gmail.com>
  app/src/main/res/values-vi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Dutch (Belgium) (nl-rBE) by CouldBeMathijs <mathijs.pittoors@gmail.com>
  app/src/main/res/values-nl-rBE/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  app/src/main/res/values-fr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: English (United Kingdom) (en-rGB) by Andi Chandler <andi@gowling.com>
  app/src/main/res/values-en-rGB/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Finnish (fi) by Tuomas Hietala <tuomas.hietala@iki.fi>
  app/src/main/res/values-fi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Punjabi (pa) by ShareASmile <aapshergill@gmail.com>
  app/src/main/res/values-hi/strings.xml
  app/src/main/res/values-pa/strings.xml
  metadata/hi/changelogs/1016050.txt
  metadata/pa/changelogs/1015050.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Romanian (ro) by Simona Iacob <s@zp1.net>
  app/src/main/res/values-ro/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  app/src/main/res/values-pt-rPT/strings.xml
  metadata/pt-PT/changelogs/1017000.txt
  metadata/pt/changelogs/1017000.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  app/src/main/res/values-es/strings.xml
  metadata/es/changelogs/1017000.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: French (fr) by Adalbert Saa-Mbili <groovandroid@gmail.com>
  app/src/main/res/values-fr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Simplified) (zh-CN) by Eric <hamburger2048@users.noreply.hosted.weblate.org>
  app/src/main/res/values-zh-rCN/strings.xml
  metadata/zh-CN/changelogs/1017000.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Finnish (fi) by Jiri Grönroos <jiri.gronroos@iki.fi>
  app/src/main/res/values-fi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone
