Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Path conditions:
  app assembleRelease test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, libs/**/*, legacy/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/index/**/*)
  app lint: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, legacy/**/*)
  legacy checkstyle: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/**/*)
  legacy lint pmd: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/*
  legacy errorprone: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)

Disable pre-approval for Chinese users
  app/src/main/kotlin/org/fdroid/download/FDroidMirrorParameterManager.kt
  app/src/main/kotlin/org/fdroid/install/SessionInstallManager.kt
  app/src/main/kotlin/org/fdroid/utils/Utils.kt
  app/src/test/java/org/fdroid/install/SessionInstallManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Enable pre-approval for Chinese users on userdebug builds
  app/src/main/kotlin/org/fdroid/install/SessionInstallManager.kt
Due: app assembleRelease test, app lint, app tools scripts

[db] Fix localization of updates
  libs/database/src/main/java/org/fdroid/database/DbAppChecker.kt
  libs/database/src/main/java/org/fdroid/database/DbUpdateChecker.kt
  libs/database/src/test/java/org/fdroid/database/DbAppCheckerTest.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Fix sorting by lastUpdated in MyApps
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsPresenter.kt
Due: app assembleRelease test, app lint, app tools scripts

Add new games categories
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryGroup.kt
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Also disable pre-approval for Chinese locales
  app/src/main/kotlin/org/fdroid/install/SessionInstallManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Fix new game categories
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
Due: app assembleRelease test, app lint, app tools scripts

Fix version code of basicNightly
  app/build.gradle.kts
Due: app assembleRelease test, app lint, app tools scripts

Show suggested version even if already installed
  app/src/main/kotlin/org/fdroid/ui/details/DetailsPresenter.kt
  app/src/test/java/org/fdroid/ui/details/DetailsPresenterTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Apply 1 suggestion(s) to 1 file(s)
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Fix bug with ignore all updates
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsItem.kt
  app/src/main/kotlin/org/fdroid/ui/details/DetailsPresenter.kt
  app/src/test/java/org/fdroid/ui/details/DetailsPresenterTest.kt
Due: app assembleRelease test, app lint, app tools scripts

[download] fix MirrorChooser always picking f-droid.org if there's no domestic mirror
  libs/download/src/commonMain/kotlin/org/fdroid/download/MirrorChooser.kt
  libs/download/src/commonTest/kotlin/org/fdroid/download/MirrorChooserTest.kt
Due: app assembleRelease test, libs download test, libs lint ktlintCheck

Add new categories: Timer, Download and File Manager
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
Due: app assembleRelease test, app lint, app tools scripts

Translations update from weblate
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-en-rGB/strings.xml
  app/src/main/res/values-eo/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-fa/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-ga/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-id/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-lv/strings.xml
  app/src/main/res/values-nb/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sq/strings.xml
  app/src/main/res/values-vi/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  metadata/fa/changelogs/2000010.txt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Don't offer to uninstall system apps
  app/src/main/kotlin/org/fdroid/ui/details/DetailsPresenter.kt
Due: app assembleRelease test, app lint, app tools scripts

Revert "Fix version code of basicNightly"
  app/build.gradle.kts
Due: app assembleRelease test, app lint, app tools scripts

Update dependencies
  app/build.gradle.kts
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Fix pre-approval for Chinese ROMs that just send USER ABORT
  app/src/main/kotlin/org/fdroid/install/SessionInstallManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Exclude translations below 70% from stable releases
  app/build.gradle.kts
  tools/trim-incomplete-translations-for-release.py
Due: app assembleRelease test, app lint, app tools scripts

Limit top bar title to one line
  app/src/main/kotlin/org/fdroid/ui/About.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyApps.kt
  app/src/main/kotlin/org/fdroid/ui/discover/Discover.kt
  app/src/main/kotlin/org/fdroid/ui/history/History.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/add/AddRepo.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
Due: app assembleRelease test, app lint, app tools scripts

Add new categories
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
Due: app assembleRelease test, app lint, app tools scripts

Only show self-update notification when the app was in foreground before update
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/org/fdroid/App.kt
  app/src/main/kotlin/org/fdroid/updates/SelfUpdateReceiver.kt
  app/src/main/kotlin/org/fdroid/updates/UpdateInstaller.kt
  app/src/main/kotlin/org/fdroid/updates/UpdatesManager.kt
  app/src/test/java/org/fdroid/updates/UpdateInstallerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Remove unused resources after removing legacy code
  app/src/full/res/drawable/check.xml
  app/src/full/res/drawable/ic_add_circle_outline.xml
  app/src/full/res/layout/swap_app_list_item.xml
  app/src/full/res/values-night/colors.xml
  app/src/full/res/values-night/themes.xml
  app/src/full/res/values/colors.xml
  app/src/full/res/values/styles.xml
  app/src/full/res/values/themes.xml
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Ignore unused resources in translations as well
  app/lint.xml
Due: app assembleRelease test, app lint, app tools scripts

Translated using Weblate: Estonian (et) by Priit Jõerüüt <jrthwlate@users.noreply.hosted.weblate.org>
  app/src/main/res/values-et/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Translated using Weblate: Tibetan (bo) by Byte Wisdom <byteofwisdom@gmail.com>
  app/src/main/res/values-bo/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  app/src/main/res/values-sq/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Translated using Weblate: Albanian (sq) by rubes <mail@armd.one>
  app/src/main/res/values-sq/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Translated using Weblate: Vietnamese (vi) by Hồ Nhất Duy <axicenia@gmail.com>
  app/src/main/res/values-vi/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Translated using Weblate: Swedish (sv) by Pixelody <jsprfrisk+github@gmail.com>
  app/src/main/res/values-sv/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Translated using Weblate: Greek (el) by Jim Kats <jim-kats@hotmail.com>
  app/src/main/res/values-el/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict
