Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Path conditions:
  app assembleRelease test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, libs/**/*, legacy/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/index/**/*)
  app lint: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, legacy/**/*)
  legacy checkstyle: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/**/*)
  legacy lint pmd: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/*
  legacy errorprone: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)

remove Nearby from menu on SDK<26, it is borked
  app/src/full/kotlin/org/fdroid/ui/navigation/ExtraNavigationEntries.kt
Due: app assembleRelease test, app lint, app tools scripts

🖼️ opencollective/liberapay/bitcoin/litecoin icons
  app/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsLink.kt
  app/src/main/kotlin/org/fdroid/ui/icons/Litecoin.kt
  app/src/main/res/drawable/ic_donation_bitcoin.xml
  app/src/main/res/drawable/ic_donation_liberapay.xml
  app/src/main/res/drawable/ic_donation_litecoin.xml
  app/src/main/res/drawable/ic_donation_opencollective.xml
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsInstallTest_9f4e7551_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsNightTest_150baa59_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsTestKt/DetailsTest_9f4e7551_0.png
Due: app assembleRelease test, app lint, app tools scripts

port 1.x swap startup to 2.x
  app/src/basic/kotlin/org/fdroid/AppFull.kt
  app/src/full/java/org/fdroid/fdroid/nearby/SwapService.java
  app/src/full/java/org/fdroid/fdroid/nearby/WifiStateChangeService.java
  app/src/full/kotlin/org/fdroid/AppFull.kt
  app/src/main/kotlin/org/fdroid/App.kt
Due: app assembleRelease test, app lint, app tools scripts

Translations update from weblate
  app/src/main/res/values-bo/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-lt/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

run tools/update-most-downloaded-apps.py
  app/src/main/assets/most_downloaded_apps.json
Due: app assembleRelease test, app lint, app tools scripts

update CHANGELOG.md
  CHANGELOG.md
Due: none

update-mirrors-in-default_repos.xml.py: default_repos.xml is no more
  tools/update-mirrors-in-default_repos.xml.py
Due: none

Release 2.0-alpha11
  app/build.gradle.kts
Due: app assembleRelease test, app lint, app tools scripts

Translations update from weblate
  app/src/main/res/values-lv/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

add the rest of the missing CHANGELOG.md entries
  CHANGELOG.md
Due: none

Reduce opacity of feature graphic overlay
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsHeader.kt
Due: app assembleRelease test, app lint, app tools scripts

Add icon changing feature to settings
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/org/fdroid/ui/Main.kt
  app/src/main/kotlin/org/fdroid/ui/settings/AppIcon.kt
  app/src/main/kotlin/org/fdroid/ui/settings/AppIconDialog.kt
  app/src/main/kotlin/org/fdroid/ui/settings/AppIconManager.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
  app/src/main/kotlin/org/fdroid/ui/settings/SettingsModel.kt
  app/src/main/kotlin/org/fdroid/ui/settings/SettingsViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/utils/AdaptiveIconImage.kt
  app/src/main/res/drawable/ic_calculator_foreground.xml
  app/src/main/res/mipmap-anydpi-v26/ic_calculator.xml
  app/src/main/res/mipmap-hdpi/ic_calculator.png
  app/src/main/res/mipmap-mdpi/ic_calculator.png
  app/src/main/res/mipmap-xhdpi/ic_calculator.png
  app/src/main/res/mipmap-xxhdpi/ic_calculator.png
  app/src/main/res/mipmap-xxxhdpi/ic_calculator.png
  app/src/main/res/values/strings.xml
  app/src/screenshotTest/kotlin/org/fdroid/ui/settings/SettingsTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/settings/SettingsTestKt/SettingsNightTest_58c50acd_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/settings/SettingsTestKt/SettingsTest_4fcdc4d2_0.png
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Show Migration dialog for users of old app hiding feature
  app/src/androidTest/java/org/fdroid/ui/screenshots/LocalizedScreenshotTest.kt
  app/src/basic/kotlin/org/fdroid/ui/MainOnboarding.kt
  app/src/basic/kotlin/org/fdroid/ui/settings/LegacyOnboardingManager.kt
  app/src/full/AndroidManifest.xml
  app/src/full/kotlin/org/fdroid/ui/MainOnboarding.kt
  app/src/full/kotlin/org/fdroid/ui/settings/LegacyOnboardingManager.kt
  app/src/main/kotlin/org/fdroid/settings/OnboardingManager.kt
  app/src/main/kotlin/org/fdroid/ui/Main.kt
  app/src/main/kotlin/org/fdroid/ui/MainContent.kt
  app/src/main/kotlin/org/fdroid/ui/MainPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/MainViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/navigation/BottomBar.kt
  app/src/main/kotlin/org/fdroid/ui/settings/AppIconManager.kt
  app/src/main/res/values/strings.xml
  app/src/screenshotTest/kotlin/org/fdroid/ui/ScreenshotTest.kt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Change panic strings to refer to "App icon"
  app/src/main/res/values/strings.xml
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/settings/SettingsTestKt/SettingsNightTest_58c50acd_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/settings/SettingsTestKt/SettingsTest_4fcdc4d2_0.png
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Apply 1 suggestion(s) to 1 file(s)
  app/src/main/res/values/strings.xml
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/settings/SettingsTestKt/SettingsNightTest_58c50acd_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/settings/SettingsTestKt/SettingsTest_4fcdc4d2_0.png
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

add option for changing app icon with panic trigger
  app/src/full/kotlin/org/fdroid/ui/panic/PanicResponderActivity.kt
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettings.kt
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettingsViewModel.kt
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Fix more coding style issues
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettings.kt
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettingsViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/MainContent.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsItem.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsLink.kt
  gradle.properties
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  libs/sharedTest/src/commonMain/kotlin/org/fdroid/test/TestUtils.kt
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Translations update from weblate
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-fa/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-lt/strings.xml
  app/src/main/res/values-nn/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-sq/strings.xml
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-ta/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-vi/strings.xml
  src/basic/fastlane/metadata/android/nl/full_description.txt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Translations update from weblate
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

restored panic app confirmation dialog behavior
  app/src/full/kotlin/org/fdroid/ui/panic/PanicActivity.kt
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettingsViewModel.kt
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Fix email URI for contacting app authors
  app/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
Due: app assembleRelease test, app lint, app tools scripts

Translations update from weblate
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-eo/strings.xml
  app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-fa/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-ga/strings.xml
  app/src/main/res/values-id/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-lt/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Restart after changing app icon
  app/src/main/kotlin/org/fdroid/ui/settings/SettingsViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

fixed issue with panic dialog ignoring theme
  app/src/full/kotlin/org/fdroid/ui/panic/PanicActivity.kt
Due: app assembleRelease test, app lint, app tools scripts

Show incompatible Swap apps before download
  app/src/full/kotlin/org/fdroid/ui/nearby/SwapSuccessAppRow.kt
  app/src/full/kotlin/org/fdroid/ui/nearby/SwapSuccessModel.kt
  app/src/full/kotlin/org/fdroid/ui/nearby/SwapSuccessViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

run ./gradlew :app:ktfmtFormat
  app/src/full/kotlin/org/fdroid/ui/nearby/SwapSuccessAppRow.kt
  app/src/full/kotlin/org/fdroid/ui/nearby/SwapSuccessViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

Add new categories
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
Due: app assembleRelease test, app lint, app tools scripts

Add new Health category group
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryGroup.kt
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

manage interactions between exit and hide switches
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettingsViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

Translations update from weblate
  app/src/main/res/values-af/strings.xml
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-eo/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-fa/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-ga/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Mention panic icon hiding in onboarding
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Translations update from weblate
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-cs/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-eo/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-fa/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-id/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pa/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-uk/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Prevent panic migration onboarding from showing up outside of migrations
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettingsViewModel.kt
  app/src/main/kotlin/org/fdroid/settings/OnboardingManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Add migration test for Tor toggle
  app/src/test/java/org/fdroid/settings/SettingsManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Fix preference removal for Proxy migration
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
Due: app assembleRelease test, app lint, app tools scripts

migrate preferForeign pref to MirrorChooserValues.PreferForeign
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Warn when app auto updates are disabled
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
Due: app assembleRelease test, app lint, app tools scripts

Migrate update settings from 1.x
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
Due: app assembleRelease test, app lint, app tools scripts
