Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

app assembleFullRelease test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs db test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs download test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs index test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app lint pmd checkstyle:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs lint ktlintCheck:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app tools scripts:
  stage: lint
  image: debian:bullseye-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

app errorprone:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs database schema:
  stage: lint
  image: debian:bullseye-backports
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install default-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  - export ANDROID_COMPILE_SDK=`sed -n 's,.*compileSdkVersion\s*\([0-9][0-9]*\).*,\1,p' app/build.gradle`
  ...

Translated using Weblate: Greek (el) by Λευθέρης Τρόμπακας <lefteristrompakas@gmail.com>
  app/src/main/res/values-el/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: English (United Kingdom) (en-rGB) by Andi Chandler <andi@gowling.com>
  app/src/main/res/values-en-rGB/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: English (United Kingdom) (en-rGB) by Rob Pearson <rob.dunedin@gmail.com>
  app/src/main/res/values-en-rGB/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Esperanto (eo) by ☆Verdulo <tomek@disroot.org>
  app/src/main/res/values-eo/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Estonian (et) by Priit Jõerüüt <hwlate@joeruut.com>
  app/src/main/res/values-et/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Italian (it) by Random <random-r@users.noreply.hosted.weblate.org>
  app/src/main/res/values-it/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Estonian (et) by kovabait12 <gamingugandaknuckles@gmail.com>
  app/src/main/res/values-et/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  app/src/main/res/values-pl/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-pt/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (Brazil) (pt-BR) by lucasmz-dev <git@lucasmz.dev>
  app/src/main/res/values-pt-rBR/strings.xml
  metadata/pt-BR/changelogs/1000001.txt
  metadata/pt-BR/changelogs/1000010.txt
  metadata/pt-BR/changelogs/1000011.txt
  metadata/pt-BR/changelogs/1004050.txt
  metadata/pt-BR/changelogs/1005050.txt
  metadata/pt-BR/changelogs/1007001.txt
  metadata/pt-BR/full_description.txt
  metadata/pt-BR/short_description.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  app/src/main/res/values-ro/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Serbian (sr) by Đorđe Vasiljević <djordje.vasiljevich@gmail.com>
  app/src/main/res/values-sr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Ukrainian (uk) by Tymofii Lytvynenko <till.svit@gmail.com>
  app/src/main/res/values-uk/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Simplified) (zh-rCN) by 大王叫我来巡山 <hamburger2048@users.noreply.hosted.weblate.org>
  app/src/main/res/values-zh-rCN/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  app/src/main/res/values-uk/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] Release 1.21-alpha0
  CHANGELOG.md
  app/build.gradle
  metadata/en-US/changelogs/1020050.txt
  metadata/en-US/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] Fix bug where disabled repos were considered for preferred repo calculation
  libs/database/schemas/org.fdroid.database.FDroidDatabaseInt/5.json
  libs/database/src/dbTest/java/org/fdroid/database/AppPrefsDaoTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/DbUpdateCheckerTest.kt
  libs/database/src/main/java/org/fdroid/database/AppPrefs.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] return the repoId of the archive when adding/enabling it
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] add RepoUpdateManager and RepoUpdateWorker
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/NotificationManager.kt
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/RepoUpdateManager.kt
  app/src/main/java/org/fdroid/fdroid/work/RepoUpdateWorker.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Give AppUpdateStatusManager the responsibility to queue app updates
  app/src/main/java/org/fdroid/fdroid/AppUpdateStatusManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Add new RepoUpdateReceiver for system apps to trigger repository updates
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/receiver/RepoUpdateReceiver.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] replace all usages of UpdateService with new alternatives
  app/src/full/java/org/fdroid/fdroid/nearby/SwapSuccessView.java
  app/src/full/java/org/fdroid/fdroid/nearby/WifiStateChangeService.java
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
  app/src/main/java/org/fdroid/fdroid/data/DBHelper.java
  app/src/main/java/org/fdroid/fdroid/receiver/StartupReceiver.java
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
  app/src/main/java/org/fdroid/fdroid/views/StatusBanner.java
  app/src/main/java/org/fdroid/fdroid/views/main/CategoriesViewBinder.java
  app/src/main/java/org/fdroid/fdroid/views/main/LatestViewBinder.java
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsViewModel.kt
  app/src/main/java/org/fdroid/fdroid/views/updates/UpdatesViewBinder.java
  app/src/main/java/org/fdroid/fdroid/views/updates/items/UpdateableAppsHeader.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] show earliest next update check in the UI
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] Remove unused UpdateService and related classes
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/UpdateJobService.java
  app/src/main/java/org/fdroid/fdroid/UpdateService.java
  app/src/main/java/org/fdroid/fdroid/UpdateServiceListener.java
  app/src/testFull/java/org/fdroid/fdroid/updater/UpdateServiceTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] add ktlint checking and fix complaints it has
  .gitlab-ci.yml
  app/build.gradle
  app/src/main/java/org/fdroid/fdroid/NotificationManager.kt
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewayAddActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewaySettingsActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
  app/src/main/java/org/fdroid/fdroid/work/RepoUpdateWorker.kt
  config/errorprone.gradle
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

[app] don't require device to be idle for RepoUpdateWorker to run
  app/src/main/java/org/fdroid/fdroid/work/RepoUpdateWorker.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] don't report negative update scheduling times in settings
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Fix crash when deleting repository
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix detecting repo as user mirror when adding a repo URL with preceeding or trailing whitespace characters
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoActivity.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix visibility of install/update button when no compatible versions are available
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Remove unnecessary null check
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Update NFN text
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Update tests to use new db schema and migrations
  libs/database/src/dbTest/java/org/fdroid/database/MultiRepoMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/RepoCertNonNullMigrationTest.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabaseHolder.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Fix case insensitive search containing diacritics by changing FTS4 tokenizer
  libs/database/schemas/org.fdroid.database.FDroidDatabaseInt/6.json
  libs/database/src/main/java/org/fdroid/database/App.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
  libs/database/src/main/java/org/fdroid/database/Migrations.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Add test for AppMetadataFTS table migration
  libs/database/src/dbTest/java/org/fdroid/database/FtsCaseInsensitiveMigrationTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Update hidden AFs text
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Apply 1 suggestion(s) to 1 file(s)
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
