Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

Translated using Weblate: Turkish (tr) by Oğuz Ersen <oguz@ersen.moe>
  app/src/main/res/values-tr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Turkish (tr) by Yusuf <koyuncuo@itu.edu.tr>
  app/src/main/res/values-tr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  app/src/main/res/values-uk/strings.xml
  metadata/uk/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: English (United Kingdom) (en-rGB) by Andi Chandler <andi@gowling.com>
  app/src/main/res/values-en-rGB/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Traditional) (zh-rTW) by Xinglu Chen <yoctocell@disroot.org>
  app/src/main/res/values-zh-rTW/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by "Jorge - vitrubio.net" <jorge@vitrubio.net>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Belarusian (be) by Макар Разин <makarrazin14@gmail.com>
  app/src/main/res/values-be/strings.xml
  app/src/main/res/values-uk/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by carlosm2 <carlosm2@riseup.net>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Indonesian (id) by Linerly <linerly@proton.me>
  app/src/main/res/values-id/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  app/src/main/res/values-he/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by Eduardo Malaspina <vaio0@swismail.com>
  app/src/main/res/values-es/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: English (United Kingdom) (en-rGB) by Freshwater Shrimp <freshwater-shrimp@outlook.com>
  app/src/main/res/values-en-rGB/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by VfBFan <VfBFan@users.noreply.hosted.weblate.org>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Traditional) (zh-rTW) by Jeff Huang <s8321414@gmail.com>
  app/src/main/res/values-zh-rTW/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  app/src/main/res/values-ro/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Simplified) (zh-rCN) by Eric <hamburger2048@users.noreply.hosted.weblate.org>
  app/src/main/res/values-zh-rCN/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Yue (Traditional) (yue) by Ray <ray@users.noreply.hosted.weblate.org>
  app/src/main/res/values-yue/strings.xml
  app/src/main/res/values-zh-rHK/strings.xml
  metadata/yue/changelogs/default.txt
  metadata/zh-Hant-HK/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (Brazil) (pt-rBR) by pedrolinharesmoreira <pedrolinhares@unifei.edu.br>
  app/src/main/res/values-pt-rBR/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by Andreas Kromke <Andreas.Kromke@web.de>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by Frau Gülle <frauguelle@gmail.com>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by "C. Rüdinger" <Mail-an-CR@web.de>
  app/src/main/res/values-de/strings.xml
  metadata/de/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

sed -i 's, mirror, espelho,g' app/src/main/res/values-pt*/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

sed -i s,Memoria,Memória,g app/src/main/res/values-pt*/strings.xml
  app/src/main/res/values-pt/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

version code 1019001
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add per-app language selection
  app/src/main/AndroidManifest.xml
  app/src/main/res/xml/locales_config.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

tools/trim-incomplete-translations-for-release.py: update locales_config.xml
  app/src/main/res/xml/locales_config.xml
  tools/trim-incomplete-translations-for-release.py
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Adapt to DB lib API change
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] Add URL as mirror if repo was added with unofficial mirror
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

ci: use xlarge machine type
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

gitlab-ci: add job to show that KVM jobs got skipped
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Migrate CheckBoxPreference to SwitchPreferenceCompat
  app/src/basic/res/xml/preferences.xml
  app/src/full/java/org/fdroid/fdroid/panic/DestructiveSwitchPreference.java
  app/src/full/java/org/fdroid/fdroid/panic/PanicPreferencesFragment.java
  app/src/full/res/xml/preferences_panic.xml
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
  app/src/main/res/xml/preferences.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🍸 display number of active IPFS gateways
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

🍱 implement basic UI for IPFS Gateway settings
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewaySettingsActivity.kt
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

🎚️ define IPFS gate related preferences
  app/src/main/java/org/fdroid/fdroid/IPreferencesIpfs.java
  app/src/main/java/org/fdroid/fdroid/Preferences.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🧹 move some code from downloader to prefs
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/net/DownloaderFactory.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🔌 use new ipfs gateway prefs in downloader
  app/src/main/java/org/fdroid/fdroid/net/DownloaderFactory.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🦩 prevent double adding the same ipfs gateway
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewayAddActivity.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🥙 added UI for configuring custom IPFS gateways
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/compose/ComposeUtils.kt
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewayAddActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewaySettingsActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoIntroScreen.kt
  app/src/main/res/values-night/colors.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

🏗️ hide IPFS Gateways config in expert settings
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

✏️ fix some spelling
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone
