Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

When clearing all data, also reset ETags
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Release 1.21.1
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Release 1.20.1
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Fix InstallConstraints once more
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Don't update repos twice on fresh start
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
  app/src/main/java/org/fdroid/fdroid/work/RepoUpdateWorker.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Don't show error dialog for (un)installs when user actively aborted
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

knownvuln - reword scary text
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[db] Allow AppPrefs.preferredRepoId to be set to a repo that doesn't contain the app
  libs/database/schemas/org.fdroid.database.FDroidDatabaseInt/7.json
  libs/database/src/dbTest/java/org/fdroid/database/AppDaoTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/AppListItemsTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/AppPrefsDaoTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/PreferredRepoMigrationTest.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
  libs/database/src/main/java/org/fdroid/database/AppPrefs.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] Implement RxJava error handler, so it doesn't complain
  app/src/main/java/org/fdroid/fdroid/Utils.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[index] rename location to countryCode in MirrorV2
  libs/index/src/commonMain/kotlin/org/fdroid/index/v2/IndexV2.kt
Due: libs index test, libs lint ktlintCheck

[db] rename location to countryCode in Mirror
  libs/database/schemas/org.fdroid.database.FDroidDatabaseInt/8.json
  libs/database/src/dbTest/java/org/fdroid/database/CountryCodeMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDiffTest.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
  libs/database/src/main/java/org/fdroid/database/Migrations.kt
  libs/database/src/main/java/org/fdroid/database/Repository.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/Mirror.kt
  libs/sharedTest/src/main/assets/diff-empty-max/1337.json
  libs/sharedTest/src/main/assets/diff-empty-max/23.json
  libs/sharedTest/src/main/assets/diff-empty-max/42.json
  libs/sharedTest/src/main/assets/index-max-v2.json
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestRepoUtils.kt
Due: libs db test, libs download test, libs lint ktlintCheck, libs database schema

Update Open Collective and Liberapay URL
  app/src/main/java/org/fdroid/fdroid/data/App.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Reorder donation badges to match website
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

gitlab-ci: use runner tag available to those not in fdroid group
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

basic: copy summary.txt translations from fdroiddata
  src/basic/fastlane/metadata/android/ar/short_description.txt
  src/basic/fastlane/metadata/android/ca/short_description.txt
  src/basic/fastlane/metadata/android/cs/short_description.txt
  src/basic/fastlane/metadata/android/de/short_description.txt
  src/basic/fastlane/metadata/android/eo/short_description.txt
  src/basic/fastlane/metadata/android/es/short_description.txt
  src/basic/fastlane/metadata/android/et/short_description.txt
  src/basic/fastlane/metadata/android/fr/short_description.txt
  src/basic/fastlane/metadata/android/ga/short_description.txt
  src/basic/fastlane/metadata/android/he/short_description.txt
  src/basic/fastlane/metadata/android/ja/short_description.txt
  src/basic/fastlane/metadata/android/pl/short_description.txt
  src/basic/fastlane/metadata/android/pt-BR/short_description.txt
  src/basic/fastlane/metadata/android/pt-PT/short_description.txt
  src/basic/fastlane/metadata/android/pt/short_description.txt
  src/basic/fastlane/metadata/android/ro/short_description.txt
  src/basic/fastlane/metadata/android/ru/short_description.txt
  src/basic/fastlane/metadata/android/sr/short_description.txt
  src/basic/fastlane/metadata/android/sw/short_description.txt
  src/basic/fastlane/metadata/android/tr/short_description.txt
  src/basic/fastlane/metadata/android/uk/short_description.txt
  src/basic/fastlane/metadata/android/zh-CN/short_description.txt
Due: none

[app] Don't require app to not be in foreground when using install constraints
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

MirrorChooser orders mirrors using location and error counts
  app/src/androidTest/java/org/fdroid/fdroid/net/HttpDownloaderTest.java
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/RepoUpdateManager.kt
  app/src/main/java/org/fdroid/fdroid/net/DownloaderFactory.java
  app/src/main/java/org/fdroid/fdroid/net/FDroidMirrorParameterManager.java
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
  gradle/wrapper/gradle-wrapper.properties
  libs/download/build.gradle
  libs/download/src/commonMain/kotlin/org/fdroid/download/HttpManager.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/MirrorChooser.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/MirrorParameterManager.kt
  libs/download/src/commonTest/kotlin/org/fdroid/download/MirrorChooserTest.kt
Due: app assembleFullRelease test, libs download test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone

Upgrade libraries
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: none

Log more info when using SessionInstaller
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Use InstallConstraints.GENTLE_UPDATE "for the system knows best how to do it"
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix linting
  app/src/main/java/org/fdroid/fdroid/installer/ApkCache.java
  app/src/main/java/org/fdroid/fdroid/work/CleanCacheWorker.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Reduce requirements of CleanCacheWorker so that it runs more often.
  app/src/main/java/org/fdroid/fdroid/work/CleanCacheWorker.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Trigger a cache cleanup at the same time while the repo is updated
  app/src/main/java/org/fdroid/fdroid/work/RepoUpdateWorker.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Logs during cache cleaning
  app/src/main/java/org/fdroid/fdroid/installer/ApkCache.java
  app/src/main/java/org/fdroid/fdroid/work/CleanCacheWorker.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Trigger CleanCache after job and always on force
  app/src/main/java/org/fdroid/fdroid/work/RepoUpdateWorker.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Only trigger CleanCacheJob when all repos are updated; bit more documentation
  app/src/main/java/org/fdroid/fdroid/work/RepoUpdateWorker.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

fix MR Comment
  app/src/main/java/org/fdroid/fdroid/work/RepoUpdateWorker.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Do not chain Workers as that is understandably controversial
  app/src/main/java/org/fdroid/fdroid/work/RepoUpdateWorker.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Linting
  app/src/main/java/org/fdroid/fdroid/work/CleanCacheWorker.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[download] check hash for images loaded with glide
  libs/download/src/androidMain/kotlin/org/fdroid/download/glide/AutoVerifyingInputStream.kt
  libs/download/src/androidMain/kotlin/org/fdroid/download/glide/HttpFetcher.kt
Due: libs download test, libs lint ktlintCheck

[app] don't update repos if they already have been updated in last 15s
  app/src/main/java/org/fdroid/fdroid/RepoUpdateManager.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Translated using Weblate: Basque (eu) by Alex Gabilondo <alexgabi@disroot.org>
  app/src/main/res/values-eu/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  app/src/main/res/values-es/strings.xml
  src/basic/fastlane/metadata/android/es/full_description.txt
  src/basic/fastlane/metadata/android/es/title.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Danish (da) by Luna <social.pvxuu@slmail.me>
  app/src/main/res/values-da/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  app/src/main/res/values-ru/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: French (fr) by Ldm Public <ldmpub@gmail.com>
  app/src/main/res/values-fr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Russian (ru) by sergio <sergio+it@outerface.net>
  metadata/ru/changelogs/default.txt
Due: none
