Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

update CHANGELOG.md
  CHANGELOG.md
Due: none

version code 1020050
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

removing all translations less than 70% complete
  app/src/main/res/values-az/strings.xml
  app/src/main/res/values-ber/strings.xml
  app/src/main/res/values-bo/strings.xml
  app/src/main/res/values-br/strings.xml
  app/src/main/res/values-ckb/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-fy/strings.xml
  app/src/main/res/values-hy/strings.xml
  app/src/main/res/values-ka/strings.xml
  app/src/main/res/values-kab/strings.xml
  app/src/main/res/values-kk/strings.xml
  app/src/main/res/values-kmr/strings.xml
  app/src/main/res/values-lb/strings.xml
  app/src/main/res/values-mk/strings.xml
  app/src/main/res/values-mr/strings.xml
  app/src/main/res/values-my/strings.xml
  app/src/main/res/values-nah/strings.xml
  app/src/main/res/values-ne/strings.xml
  app/src/main/res/values-oc/strings.xml
  app/src/main/res/values-or/strings.xml
  app/src/main/res/values-pa-rPK/strings.xml
  app/src/main/res/values-ps/strings.xml
  app/src/main/res/values-si/strings.xml
  app/src/main/res/values-sn/strings.xml
  app/src/main/res/values-so/strings.xml
  app/src/main/res/values-tt/strings.xml
  app/src/main/res/values-tzm/strings.xml
  app/src/main/res/values-ug/strings.xml
  app/src/main/res/values-ur/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] split up name and summary in app list items
  app/src/basic/java/org/fdroid/fdroid/views/main/LatestLayoutPolicy.java
  app/src/main/java/org/fdroid/fdroid/views/categories/AppCardController.java
  app/src/main/res/layout/app_card_horizontal.xml
  app/src/main/res/layout/app_card_large.xml
  app/src/main/res/layout/app_card_list_item.xml
  app/src/main/res/layout/app_card_normal.xml
  app/src/main/res/values/dimens.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[index] remove some warnings on CompatibilityChecker
  libs/index/src/androidMain/kotlin/org/fdroid/CompatibilityChecker.kt
Due: libs index test, libs lint ktlintCheck

[index] adapt minInstallableTargetSdk for Android 15
  libs/index/src/androidMain/kotlin/org/fdroid/CompatibilityChecker.kt
Due: libs index test, libs lint ktlintCheck

[index] stop passing certificates around
  libs/index/src/androidMain/kotlin/org/fdroid/index/v1/IndexV1StreamProcessor.kt
  libs/index/src/androidMain/kotlin/org/fdroid/index/v2/IndexV2FullStreamProcessor.kt
  libs/index/src/androidUnitTest/kotlin/org/fdroid/index/v1/IndexV1StreamProcessorTest.kt
  libs/index/src/androidUnitTest/kotlin/org/fdroid/index/v2/IndexV2FullStreamProcessorTest.kt
  libs/index/src/commonMain/kotlin/org/fdroid/index/v1/IndexV1StreamReceiver.kt
  libs/index/src/commonMain/kotlin/org/fdroid/index/v2/IndexV2StreamReceiver.kt
Due: libs index test, libs lint ktlintCheck

[app] Adapt to library changes related to non-null repo certs in the DB
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
  app/src/main/java/org/fdroid/fdroid/UpdateService.java
  app/src/main/java/org/fdroid/fdroid/views/appdetails/RepoChooser.kt
  app/src/testFull/java/org/fdroid/fdroid/updater/UpdateServiceTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] make repo certs non-null and remove repos without cert
  libs/database/schemas/org.fdroid.database.FDroidDatabaseInt/3.json
  libs/database/schemas/org.fdroid.database.FDroidDatabaseInt/4.json
  libs/database/src/dbTest/java/org/fdroid/database/DbTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/IndexV1InsertTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/IndexV2InsertTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/MultiRepoMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/RepoCertNonNullMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDaoTest.kt
  libs/database/src/dbTest/java/org/fdroid/index/IndexUpdaterTest.kt
  libs/database/src/dbTest/java/org/fdroid/index/v1/IndexV1UpdaterTest.kt
  libs/database/src/dbTest/java/org/fdroid/index/v2/IndexV2UpdaterTest.kt
  libs/database/src/main/java/org/fdroid/database/DbV1StreamReceiver.kt
  libs/database/src/main/java/org/fdroid/database/DbV2StreamReceiver.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabaseHolder.kt
  libs/database/src/main/java/org/fdroid/database/Migrations.kt
  libs/database/src/main/java/org/fdroid/database/Repository.kt
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
  libs/database/src/main/java/org/fdroid/index/IndexUpdater.kt
  libs/database/src/main/java/org/fdroid/index/RepoUpdater.kt
  libs/database/src/main/java/org/fdroid/index/v1/IndexV1Updater.kt
  libs/database/src/main/java/org/fdroid/index/v2/IndexV2Updater.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/main/java/org/fdroid/repo/RepoV2Fetcher.kt
  libs/database/src/main/java/org/fdroid/repo/RepoV2StreamReceiver.kt
  libs/database/src/test/java/org/fdroid/database/DbV2StreamReceiverTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Clarify FetchResult computation
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Design feedback
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
  app/src/main/res/layout/app_details2_header.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Rename Fetching.repo to Fetching.receivedRepo
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoIntroScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderIntegrationTest.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

Fully spell out repository
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Increase padding between repo icon and short info
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Make Scan-QR-Code string translatable
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoIntroScreen.kt
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Make hardcoded string translatable
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Move mirror info text below Add button
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Remove unused Repository.canAdd and Repository.isMirror functions
  app/src/androidTest/java/org/fdroid/repo/RepoManagerAddAllIntegrationTest.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

Use shorter Add-Mirror string
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Refactor: Move fetchUrl up from FetchResult into Fetching
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

Set app bar title depending on repo vs mirror
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoIntroScreen.kt
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Distinguish IsExistingRepository from IsExistingMirror
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
  app/src/main/res/values/strings.xml
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Refactor: Rename isPreview to isDevPreview
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

fix: Use existingRepoId instead of receivedRepoId to launch existing details
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

Make ktlint happy
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Explain what is being tested
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Distinguish IsNewRepoAndNewMirror in UI
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
  app/src/main/res/values/strings.xml
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

SessionInstaller: refine Xiaomi check
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

add trust for user-added root certs (fixes #2797)
  app/src/main/res/xml/network_security_config.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Improve locales list ordering of less common languages
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
  app/src/main/java/org/fdroid/fdroid/data/App.java
  libs/database/src/main/java/org/fdroid/database/DbV1StreamReceiver.kt
  libs/database/src/main/java/org/fdroid/database/DbV2DiffStreamReceiver.kt
  libs/database/src/main/java/org/fdroid/database/DbV2StreamReceiver.kt
  libs/database/src/main/java/org/fdroid/repo/RepoV1Fetcher.kt
  libs/database/src/main/java/org/fdroid/repo/RepoV2StreamReceiver.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

remove NFC related intent filter since support has been dropped
  app/src/main/AndroidManifest.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Don't add a fake installed version to app's version list when it isn't from current repo
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Fix all warnings in AppDetailsRecyclerViewAdapter
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Don't suggest incompatible versions in app details
  app/src/main/java/org/fdroid/fdroid/data/App.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Show a warning in app details, if no compatible versions available
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  app/src/main/res/values-ar/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by VfBFan <VfBFan@users.noreply.hosted.weblate.org>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Bulgarian (bg) by 109247019824 <stoyan@gmx.com>
  app/src/main/res/values-bg/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  app/src/main/res/values-cs/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Greek (el) by ΣΤΑΥΡΟΣ ΔΑΛΙΑΚΟΠΟΥΛΟΣ <stavros.daliakopoulos@gmail.com>
  app/src/main/res/values-el/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone
