Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

Fix deprecated code
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add whitespace between "New:" and permission nanme in app details
  app/src/main/java/org/fdroid/fdroid/privileged/views/AppSecurityPermissions.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Use different messages when copying URLs, permissions and version names
  app/src/main/java/org/fdroid/fdroid/Utils.java
  app/src/main/java/org/fdroid/fdroid/privileged/views/AppSecurityPermissions.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Remove Android API level checks for Android 23 and below
  app/src/main/res/values/themes.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add missing `@Override` annotation
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Mark apps with target SDK lower than 23 as incompatiable
  app/src/main/java/org/fdroid/fdroid/CompatibilityChecker.java
  app/src/main/res/values/strings.xml
  libs/database/src/main/java/org/fdroid/database/Version.kt
  libs/index/src/androidMain/kotlin/org/fdroid/CompatibilityChecker.kt
  libs/index/src/androidUnitTest/kotlin/org/fdroid/CompatibilityCheckerTest.kt
  libs/index/src/androidUnitTest/kotlin/org/fdroid/UpdateCheckerTest.kt
  libs/index/src/commonMain/kotlin/org/fdroid/index/v2/PackageV2.kt
Due: app assembleFullRelease test, libs db test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

[db] Handle fdroidrepos:// Uris as well
  libs/database/src/main/java/org/fdroid/repo/RepoUriGetter.kt
  libs/database/src/test/java/org/fdroid/repo/RepoUriGetterTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Initial support for fdroid.link URIs
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoActivity.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/main/java/org/fdroid/repo/RepoUriGetter.kt
  libs/database/src/test/java/org/fdroid/repo/RepoUriGetterTest.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

[db] Reject invalid URIs when adding repos
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] upgrade robolectric to fix strange test crash
  app/build.gradle
  gradle/verification-metadata.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] use DB methods for repo app list
  app/src/main/java/org/fdroid/fdroid/views/apps/AppListActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] update repo cache right after new repo got added
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] add https:// scheme if it is missing from given repo URI
  libs/database/src/main/java/org/fdroid/repo/RepoUriGetter.kt
  libs/database/src/test/java/org/fdroid/repo/RepoUriGetterTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Add execution delay in attempt to fix flaky RepoAdder test
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Catch NotFoundException in RepoAdder
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] add support for detecting swap repos
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
  libs/database/src/main/java/org/fdroid/repo/RepoUriGetter.kt
  libs/database/src/test/java/org/fdroid/repo/RepoUriGetterTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] support adding repos protected with basic auth
  app/src/androidTest/java/org/fdroid/repo/RepoManagerAddAllIntegrationTest.kt
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/main/java/org/fdroid/repo/RepoUriGetter.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderIntegrationTest.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
  libs/database/src/test/java/org/fdroid/repo/RepoUriGetterTest.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

[app] prototype: show all apps from one repo
  app/src/main/java/org/fdroid/fdroid/views/RepoDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/apps/AppListActivity.java
  app/src/main/res/layout/activity_repo_details.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[db] add queries for getting app list items by repo
  libs/database/src/dbTest/java/org/fdroid/database/AppListItemsTest.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[download] Add HttpManager method for checking URI validity
  libs/download/src/commonMain/kotlin/org/fdroid/download/HttpManager.kt
Due: libs download test, libs lint ktlintCheck

[app] open list of apps of a repo after adding it
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoActivity.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Use FAB instead of menu item for adding repos
  app/src/main/java/org/fdroid/fdroid/views/ManageReposActivity.java
  app/src/main/res/layout/repo_list_activity.xml
  app/src/main/res/menu/manage_repos.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] show which repo an app is from on app details screen
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/res/layout/app_details2_header.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add RepoManagerAddAllIntegrationTest which adds all known (stable) repos
  app/build.gradle
  app/src/androidTest/java/org/fdroid/repo/RepoManagerAddAllIntegrationTest.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

move default changelog to 1018050
  metadata/ar/changelogs/1018050.txt
  metadata/cs/changelogs/1018050.txt
  metadata/de/changelogs/1018050.txt
  metadata/en-US/changelogs/1018050.txt
  metadata/es/changelogs/1018050.txt
  metadata/hu/changelogs/1018050.txt
  metadata/it/changelogs/1018050.txt
  metadata/pl/changelogs/1018050.txt
  metadata/ru/changelogs/1018050.txt
  metadata/uk/changelogs/1018050.txt
  metadata/yue/changelogs/1018050.txt
  metadata/zh-CN/changelogs/1018050.txt
  metadata/zh-Hant-HK/changelogs/1018050.txt
Due: none

add changelogs for 1.19.0-alpha0
  CHANGELOG.md
  metadata/en-US/changelogs/default.txt
Due: none

gitlab-ci: include metadata/ in Weblate merge conflict check
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

[db] remove deprecated insertEmptyRepo() method
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] let repos on SD cards and flash drives use the new AddRepoActivity
  app/src/full/java/org/fdroid/fdroid/nearby/SDCardScannerService.java
  app/src/full/java/org/fdroid/fdroid/nearby/TreeUriScannerIntentService.java
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] add support for adding repos on content:// and file:// URIs
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/main/java/org/fdroid/repo/RepoUriGetter.kt
  libs/database/src/main/java/org/fdroid/repo/RepoV1Fetcher.kt
  libs/database/src/main/java/org/fdroid/repo/RepoV2Fetcher.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] Move old repo related classes into new package
  app/src/basic/res/xml/preferences.xml
  app/src/full/java/org/fdroid/fdroid/nearby/NewRepoConfig.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoErrorScreen.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.java
  app/src/main/res/xml/preferences.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] kill old code for adding repos
  app/src/basic/java/org/fdroid/fdroid/nearby/peers/WifiPeer.java
  app/src/full/java/org/fdroid/fdroid/nearby/NewRepoConfig.java
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
  app/src/full/java/org/fdroid/fdroid/nearby/peers/WifiPeer.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/AddRepoIntentService.java
  app/src/main/java/org/fdroid/fdroid/views/ManageReposActivity.java
  app/src/main/java/org/fdroid/fdroid/views/main/MainActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoActivity.kt
  app/src/main/res/layout/addrepo.xml
  app/src/main/res/values/donottranslate.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] verify fingerprint of known repositories
  libs/database/src/main/java/org/fdroid/repo/KnownRepos.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
  libs/sharedTest/src/main/assets/guardianproject_entry.jar
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] start SwapService when trying to add a swap repo
  app/src/full/java/org/fdroid/fdroid/nearby/SwapService.java
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoActivity.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Upgrade the libraries we can still upgrade
  app/build.gradle
  gradle/verification-metadata.xml
  libs/database/build.gradle
  libs/download/build.gradle
  libs/index/build.gradle
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

remove Guardian Project repo as a default
  app/src/main/res/values/default_repos.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Translated using Weblate: Bulgarian (bg) by 109247019824 <stoyan@gmx.com>
  app/src/main/res/values-bg/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Czech (cs) by Fjuro <ifjuro@proton.me>
  app/src/main/res/values-cs/strings.xml
  metadata/cs/changelogs/1018050.txt
  metadata/cs/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  app/src/main/res/values-fa/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Simplified) (zh-rCN) by linsui <linsui@inbox.lv>
  app/src/main/res/values-zh-rCN/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone
