Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

app assembleFullRelease test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs db test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs download test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs index test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app lint pmd checkstyle:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs lint ktlintCheck:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app tools scripts:
  stage: lint
  image: debian:bullseye-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

app errorprone:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs database schema:
  stage: lint
  image: debian:bullseye-backports
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install default-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  - export ANDROID_COMPILE_SDK=`sed -n 's,.*compileSdkVersion\s*\([0-9][0-9]*\).*,\1,p' app/build.gradle`
  ...

[app] adapt to new AppPrefs constructor
  app/src/main/java/org/fdroid/fdroid/data/ContentProviderMigrator.java
  app/src/test/java/org/fdroid/fdroid/data/SuggestedVersionTest.java
  app/src/test/java/org/fdroid/fdroid/views/AppDetailsAdapterTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] Add DB query for getting repos an app is in
  libs/database/src/dbTest/java/org/fdroid/database/AppDaoTest.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] Only request updates and suggested versions from preferred repositories
  app/src/main/java/org/fdroid/fdroid/AppUpdateStatusManager.java
  app/src/main/java/org/fdroid/fdroid/UpdateService.java
  app/src/main/java/org/fdroid/fdroid/views/apps/AppListItemController.java
  app/src/main/java/org/fdroid/fdroid/views/updates/UpdatesAdapter.java
  app/src/main/res/values/strings.xml
  libs/database/src/main/java/org/fdroid/database/DbUpdateChecker.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

[db] New repos now get lower weight than older ones
  libs/database/src/dbTest/java/org/fdroid/database/AppDaoTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/AppListItemsTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/AppOverviewItemsTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/AppPrefsDaoTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/DbUpdateCheckerTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDaoTest.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Migrate repo weights and test migration
  gradle/verification-metadata.xml
  libs/database/build.gradle
  libs/database/src/dbTest/java/org/fdroid/database/MultiRepoMigrationTest.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
  libs/database/src/main/java/org/fdroid/database/Migrations.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Only consider preferred versions for updates and suggested version
  libs/database/schemas/org.fdroid.database.FDroidDatabaseInt/2.json
  libs/database/src/dbTest/java/org/fdroid/database/AppPrefsDaoTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/DbUpdateCheckerTest.kt
  libs/database/src/main/java/org/fdroid/database/App.kt
  libs/database/src/main/java/org/fdroid/database/AppPrefs.kt
  libs/database/src/main/java/org/fdroid/database/AppPrefsDao.kt
  libs/database/src/main/java/org/fdroid/database/DbUpdateChecker.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabase.kt
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestVersionUtils.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[db] Add convenience method for setting preferred repo via RepoManager
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] stop assigning a weight to repos as the DB handles this now
  app/src/main/java/org/fdroid/fdroid/data/ContentProviderMigrator.java
  app/src/main/java/org/fdroid/fdroid/data/DBHelper.java
  app/src/main/res/values/default_repos.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] allow re-ordering repo list and thus priorities
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDaoTest.kt
  libs/database/src/main/java/org/fdroid/database/Repository.kt
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] Allow repo position/priority to be reordered by long tap + drag
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] don't allow initial repos from fixtures to provide weight
  libs/database/src/dbTest/java/org/fdroid/database/RepositoryDaoTest.kt
  libs/database/src/main/java/org/fdroid/database/Repository.kt
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] allow changing preferred repo in app details
  app/src/main/java/org/fdroid/fdroid/compose/ComposeUtils.kt
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/appdetails/RepoChooser.kt
  app/src/main/res/layout/app_details2_header.xml
  app/src/main/res/values/strings.xml
  app/src/test/java/org/fdroid/fdroid/views/AppDetailsAdapterTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] Show/consider only versions from selected repo in app details
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/appdetails/AppDetailsViewModel.kt
  app/src/main/res/layout/app_details2_header.xml
  app/src/main/res/layout/app_details2_loading.xml
  app/src/main/res/layout/app_details2_version_item.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] Wrap repo items in a card
  app/src/main/res/layout/repo_item.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Warn user about resetting preferred repo when disabling repo
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoAdapter.java
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] refactor RepoIcon into its own Composable
  app/src/main/java/org/fdroid/fdroid/views/appdetails/RepoChooser.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoIconComposable.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Show a frame around repo on app details screen
  app/src/main/java/org/fdroid/fdroid/views/appdetails/RepoChooser.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[db] add archive repo adding to RepoAdder
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] Hide install button in repo app lists
  app/src/main/java/org/fdroid/fdroid/views/apps/AppListActivity.java
  app/src/main/java/org/fdroid/fdroid/views/apps/AppListAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/apps/AppListItemController.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] move archive repos to toggle of main repo
  app/build.gradle
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.java
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsViewModel.kt
  app/src/main/res/layout/activity_repo_details.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] show repo list info dialog in ManageReposActivity
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
  app/src/main/res/drawable/ic_info.xml
  app/src/main/res/menu/repo_list.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] use material progress bar for versions list loading indicator
  app/src/main/res/layout/app_details2_loading.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Show special error when user tries to add archive repo directly
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoErrorScreen.kt
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[db] return error when trying to add archive repo
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/main/java/org/fdroid/repo/RepoUriGetter.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] fix NPE race-condition in app details
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] show repo dropdown only if app is in more than one repo or if not in default repo
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/data/DBHelper.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] remove star icon for preferred repos
  app/src/main/java/org/fdroid/fdroid/views/appdetails/RepoChooser.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Improve archive toggle in repo details
  app/src/main/res/layout/activity_repo_details.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] hide install/update/open buttons in app details when not seeing preferred repo
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/res/layout/app_details2_header.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] improve RepoChooser drop-down style
  app/src/main/java/org/fdroid/fdroid/views/appdetails/RepoChooser.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] use keyboard action for repo Url input
  app/src/main/java/org/fdroid/fdroid/views/repos/AddRepoIntroScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix new badge sometimes being hidden
  app/src/main/res/drawable/app_version_item_status_new.xml
  app/src/main/res/layout/app_card_horizontal.xml
  app/src/main/res/layout/app_card_large.xml
  app/src/main/res/layout/app_card_list_item.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[download] test that session gets only resumed for a short time (10s)
  libs/download/src/androidInstrumentedTest/kotlin/org/fdroid/download/HttpManagerInstrumentationTest.kt
  libs/download/src/androidMain/kotlin/org/fdroid/download/HttpManager.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/HttpManager.kt
Due: libs download test, libs lint ktlintCheck

[app] log when receiving BOOT_COMPLETED
  app/src/main/java/org/fdroid/fdroid/receiver/StartupReceiver.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] expose last repo update time in UI
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/views/repos/ManageReposActivity.java
  app/src/main/res/layout/repo_list_activity.xml
  app/src/main/res/menu/repo_list.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] set update job as persisted
  app/src/main/java/org/fdroid/fdroid/UpdateService.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Rephrase preferred from
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

rephrase
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Update 2 files
  app/src/main/res/values-en-rGB/strings.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

AF Other - on by default
  app/src/main/res/values/array.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
