Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

Translated using Weblate: Esperanto (eo) by ☆Verdulo <tomek@disroot.org>
  app/src/main/res/values-eo/strings.xml
  metadata/eo/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  app/src/main/res/values-cs/strings.xml
  metadata/cs/changelogs/default.txt
  metadata/cs/short_description.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: English (United Kingdom) (en-rGB) by Andi Chandler <andi@gowling.com>
  app/src/main/res/values-en-rGB/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

run tools/check-fastlane-whitespace.py
  metadata/en-US/changelogs/default.txt
Due: none

fix TypographyEllipsis
  app/src/main/res/values-ca/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  app/src/main/res/values-ar/strings.xml
  metadata/ar/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Catalan (ca) by BennyBeat <bennybeat@gmail.com>
  app/src/main/res/values-ca/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Bulgarian (bg) by 109247019824 <stoyan@gmx.com>
  app/src/main/res/values-bg/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (pt) by ssantos <ssantos@web.de>
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-pt/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Estonian (et) by Priit Jõerüüt <hwlate@joeruut.com>
  app/src/main/res/values-et/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Latvian (lv) by Edgars Andersons <Edgars+Weblate@gaitenis.id.lv>
  app/src/main/res/values-lv/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  app/src/main/res/values-es/strings.xml
  metadata/es/changelogs/1014050.txt
  metadata/es/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  app/src/main/res/values-pl/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (Portugal) (pt-PT) by Fat Potato <mjwany48@gmail.com>
  app/src/main/res/values-pt-rPT/strings.xml
  metadata/pt-PT/changelogs/1000000.txt
  metadata/pt-PT/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Turkish (tr) by Oğuz Ersen <oguz@ersen.moe>
  app/src/main/res/values-tr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Simplified Han script) (zh-rCN) by linsui <linsui@inbox.lv>
  app/src/main/res/values-zh-rCN/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Release 1.21.0
  CHANGELOG.md
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

removing all translations less than 70% complete
  app/src/main/res/values-az/strings.xml
  app/src/main/res/values-ber/strings.xml
  app/src/main/res/values-bo/strings.xml
  app/src/main/res/values-br/strings.xml
  app/src/main/res/values-ckb/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-fy/strings.xml
  app/src/main/res/values-hy/strings.xml
  app/src/main/res/values-ka/strings.xml
  app/src/main/res/values-kab/strings.xml
  app/src/main/res/values-kk/strings.xml
  app/src/main/res/values-kmr/strings.xml
  app/src/main/res/values-lb/strings.xml
  app/src/main/res/values-mk/strings.xml
  app/src/main/res/values-mr/strings.xml
  app/src/main/res/values-my/strings.xml
  app/src/main/res/values-nah/strings.xml
  app/src/main/res/values-ne/strings.xml
  app/src/main/res/values-oc/strings.xml
  app/src/main/res/values-or/strings.xml
  app/src/main/res/values-pa-rPK/strings.xml
  app/src/main/res/values-ps/strings.xml
  app/src/main/res/values-si/strings.xml
  app/src/main/res/values-sn/strings.xml
  app/src/main/res/values-so/strings.xml
  app/src/main/res/values-te/strings.xml
  app/src/main/res/values-tok/strings.xml
  app/src/main/res/values-tt/strings.xml
  app/src/main/res/values-tzm/strings.xml
  app/src/main/res/values-ug/strings.xml
  app/src/main/res/values-ur/strings.xml
  app/src/main/res/xml/locales_config.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

reduce the number of files included in META-INF
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

DB: Force a wal_checkpoint after every repo update to keep the wal file small (fixes #2588)
  app/src/main/java/org/fdroid/fdroid/RepoUpdateManager.kt
  libs/database/src/main/java/org/fdroid/database/AppPrefsDao.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

Move walCheckpoint to RepositoryDao
  app/src/main/java/org/fdroid/fdroid/RepoUpdateManager.kt
  libs/database/src/main/java/org/fdroid/database/AppPrefsDao.kt
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

MR comments
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Always create `Repo(Update)Manager` with application context
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Wait for app not being used when updating
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

There's an official DigestInputStream, no need to make our own
  libs/database/src/main/java/org/fdroid/repo/RepoV2Fetcher.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
  libs/download/src/androidMain/kotlin/org/fdroid/download/HttpManager.kt
  libs/download/src/androidMain/kotlin/org/fdroid/fdroid/DigestInputStream.kt
Due: libs db test, libs download test, libs lint ktlintCheck, libs database schema

Fall back to other installer if priv-ext doesn't have permissions
  app/src/main/java/org/fdroid/fdroid/installer/PrivilegedInstaller.java
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Don't use InstallConstraints when updating ourselves
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

app.license no longer needs to be split
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Link to Wikipedia if app.license == PublicDomain
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] show toast when APK has more permissions than expected
  app/src/androidTest/java/org/fdroid/fdroid/installer/ApkVerifierTest.java
  app/src/main/java/org/fdroid/fdroid/installer/ApkVerifier.java
  app/src/main/java/org/fdroid/fdroid/installer/Installer.java
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Fixing Kotlin style issues ahead of ktlint upgrade
  app/src/androidTest/java/org/fdroid/repo/RepoManagerAddAllIntegrationTest.kt
  app/src/main/java/org/fdroid/fdroid/compose/ComposeUtils.kt
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewayAddActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewaySettingsActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoPreviewScreen.kt
  app/src/main/java/org/fdroid/fdroid/work/RepoUpdateWorker.kt
  libs/database/src/dbTest/java/org/fdroid/database/AppTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/DbUpdateCheckerTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/FtsCaseInsensitiveMigrationTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/IndexV2DiffTest.kt
  libs/database/src/dbTest/java/org/fdroid/database/RepoCertNonNullMigrationTest.kt
  libs/database/src/main/java/org/fdroid/database/App.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
  libs/database/src/main/java/org/fdroid/database/FDroidDatabaseHolder.kt
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
  libs/database/src/main/java/org/fdroid/database/Version.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
  libs/index/src/androidInstrumentedTest/kotlin/org/fdroid/BestLocaleTest.kt
  libs/index/src/androidMain/kotlin/org/fdroid/UpdateChecker.kt
  libs/index/src/androidMain/kotlin/org/fdroid/index/v1/IndexV1StreamProcessor.kt
  libs/index/src/androidMain/kotlin/org/fdroid/index/v2/IndexV2DiffStreamProcessor.kt
  libs/index/src/androidMain/kotlin/org/fdroid/index/v2/IndexV2FullStreamProcessor.kt
  libs/index/src/androidUnitTest/kotlin/org/fdroid/index/v1/IndexV1StreamProcessorTest.kt
  libs/index/src/androidUnitTest/kotlin/org/fdroid/index/v2/IndexV2FullStreamProcessorTest.kt
  libs/index/src/androidUnitTest/kotlin/org/fdroid/index/v2/ReflectionDifferTest.kt
  libs/index/src/commonMain/kotlin/org/fdroid/index/IndexParser.kt
  libs/index/src/commonTest/kotlin/org/fdroid/index/IndexConverterTest.kt
  libs/index/src/commonTest/kotlin/org/fdroid/index/v1/IndexV1Test.kt
  libs/index/src/commonTest/kotlin/org/fdroid/index/v2/EntryTest.kt
  libs/index/src/commonTest/kotlin/org/fdroid/index/v2/IndexV2DiffStreamProcessorTest.kt
  libs/index/src/commonTest/kotlin/org/fdroid/index/v2/IndexV2Test.kt
  libs/sharedTest/src/main/kotlin/org/fdroid/test/DiffUtils.kt
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestDataV1.kt
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestDataV2.kt
Due: app assembleFullRelease test, libs db test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

Upgrade all the things!
  .editorconfig
  .gitlab-ci.yml
  app/build.gradle
  app/src/full/java/cc/mvdan/accesspoint/WifiApControl.java
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/test/java/org/fdroid/fdroid/data/ApkTest.java
  build.gradle
  gradle/ktlint.gradle
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  gradle/wrapper/gradle-wrapper.properties
  libs/database/build.gradle
  libs/download/build.gradle
  libs/download/src/androidMain/kotlin/org/fdroid/download/Downloader.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/HttpManager.kt
  libs/index/build.gradle
  libs/sharedTest/build.gradle
  settings.gradle
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

change compileSdk to 35
  .gitlab-ci.yml
  app/build.gradle
  gradle/libs.versions.toml
  libs/database/build.gradle
  libs/download/build.gradle
  libs/index/build.gradle
  libs/sharedTest/build.gradle
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Increase heap space, because D8 is running out of memory
  gradle.properties
Due: none

[app] experimental support for un-archiving apps on Android 15
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/receiver/UnarchivePackageReceiver.kt
  app/src/main/java/org/fdroid/fdroid/work/UnarchiveWorker.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] separate link and file sharing in app details
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
  app/src/main/res/menu/details2.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Add APP_MARKET category for MainActivity
  app/src/main/AndroidManifest.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Don't show apps with bad anti-features in category view
  app/src/main/java/org/fdroid/fdroid/views/categories/AppPreviewAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/categories/CategoryAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/categories/CategoryController.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Disable cache for KVM jobs
  .gitlab-ci.yml
Due: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Append packageName to webBaseUrl
  app/src/main/java/org/fdroid/fdroid/data/App.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone
