Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

🤌 fix linter nits on IpfsGatewaySettingsActivity
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewaySettingsActivity.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🤌 fix linter nit-picks on IPreferencesIpfs
  app/src/main/java/org/fdroid/fdroid/IPreferencesIpfs.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

💂 IPFS preferences store as List instead of Set
  app/src/main/java/org/fdroid/fdroid/IPreferencesIpfs.java
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/Utils.java
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewayAddActivity.kt
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewaySettingsActivity.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🏓 add javadoc for LifecycleEventListener
  app/src/main/java/org/fdroid/fdroid/compose/ComposeUtils.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

✍ fix grammar a little.
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

🚦 update default IPFS gateways (fdroidclient#2668)
  app/src/main/java/org/fdroid/fdroid/Preferences.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🤌 fix plurals linst issue
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

🪀 more lint fixes
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/Utils.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🍃 rename loadIpfsMirrors to loadIpfsGateways
  app/src/main/java/org/fdroid/fdroid/net/DownloaderFactory.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Migrate to MDC progress indicators
  app/src/full/java/org/fdroid/fdroid/nearby/StartSwapView.java
  app/src/full/java/org/fdroid/fdroid/nearby/SwapSuccessView.java
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
  app/src/full/res/layout/swap_app_list_item.xml
  app/src/full/res/layout/swap_connecting.xml
  app/src/full/res/layout/swap_start_swap.xml
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/java/org/fdroid/fdroid/views/apps/AppListItemController.java
  app/src/main/java/org/fdroid/fdroid/views/main/LatestViewBinder.java
  app/src/main/java/org/fdroid/fdroid/views/updates/UpdatesViewBinder.java
  app/src/main/res/layout/app_details2_header.xml
  app/src/main/res/layout/app_details2_version_item.xml
  app/src/main/res/layout/main_tab_updates.xml
  app/src/main/res/layout/updateable_app_status_item.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

update CHANGELOG
  CHANGELOG.md
  metadata/en-US/changelogs/default.txt
Due: none

version code 1019002
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🪲 fix settings crash in basic build flavor
  app/src/basic/res/xml/preferences.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

"Expert mode" category in Settings to show which settings belong
  app/src/basic/res/xml/preferences.xml
  app/src/main/res/xml/preferences.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

✂️ caption text sytling into composable
  app/src/main/java/org/fdroid/fdroid/compose/ComposeUtils.kt
  app/src/main/java/org/fdroid/fdroid/views/IpfsGatewaySettingsActivity.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] unify preferences.xml from build flavors
  app/src/basic/res/values/attrs.xml
  app/src/basic/res/xml/preferences.xml
  app/src/full/res/values/attrs.xml
  app/src/main/res/xml/preferences.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🍜 move IPFS Gateway settings to proxy section.
  app/src/main/res/xml/preferences.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  app/src/main/res/values-ar/strings.xml
  metadata/ar/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Czech (cs) by Fjuro <ifjuro@proton.me>
  app/src/main/res/values-cs/strings.xml
  metadata/cs/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Arabic (ar) by Ahm Asm <asm49995@gmail.com>
  app/src/main/res/values-ar/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by VfBFan <VfBFan@users.noreply.hosted.weblate.org>
  app/src/main/res/values-de/strings.xml
  metadata/de/changelogs/1000000.txt
  metadata/de/changelogs/1000010.txt
  metadata/de/changelogs/1000011.txt
  metadata/de/changelogs/1002050.txt
  metadata/de/changelogs/1002051.txt
  metadata/de/changelogs/1010001.txt
  metadata/de/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  app/src/main/res/values-ru/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Sardinian (sc) by Ajeje Brazorf <lmelonimamo@yahoo.it>
  app/src/main/res/values-sc/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  app/src/main/res/values-ro/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Esperanto (eo) by ☆Verdulo <tomek@disroot.org>
  app/src/main/res/values-eo/strings.xml
  metadata/eo/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Persian (fa) by Goudarz Jafari <goudarz.jafari@gmail.com>
  app/src/main/res/values-fa/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Traditional) (zh-rTW) by Jeff Huang <s8321414@gmail.com>
  app/src/main/res/values-zh-rTW/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  app/src/main/res/values-fa/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Basque (eu) by Alexander Gabilondo <alexgabi@openmailbox.org>
  app/src/main/res/values-eu/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Simplified) (zh-CN) by Eric <zxmegaxqug@hldrive.com>
  app/src/main/res/values-zh-rCN/strings.xml
  metadata/zh-CN/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Serbian (sr) by NEXI <nexiphotographer@gmail.com>
  app/src/main/res/values-sr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Basque (eu) by Laquin <anderaginaga2@gmail.com>
  app/src/main/res/values-eu/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Icelandic (is) by Sveinn í Felli <sv1@fellsnet.is>
  app/src/main/res/values-is/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Italian (it) by Random <random-r@users.noreply.hosted.weblate.org>
  app/src/main/res/values-it/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Russian (ru) by Макар Разин <makarrazin14@gmail.com>
  app/src/main/res/values-ru/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Polish (pl) by Agnieszka C <aga_04@o2.pl>
  app/src/main/res/values-pl/strings.xml
  metadata/pl/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Swedish (sv) by "P.O" <rasmusson.mikael@protonmail.com>
  app/src/main/res/values-sv/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Dutch (nl) by CouldBeMathijs <mathijs.pittoors@gmail.com>
  app/src/main/res/values-nl-rBE/strings.xml
  app/src/main/res/values-nl/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Swedish (sv) by Jonatan Nyberg <jonatan@autistici.org>
  app/src/main/res/values-sv/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone
