Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

app assembleFullRelease test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs db test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs download test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs index test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app lint pmd checkstyle:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs lint ktlintCheck:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app tools scripts:
  stage: lint
  image: debian:bullseye-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

app errorprone:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs database schema:
  stage: lint
  image: debian:bullseye-backports
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install default-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  - export ANDROID_COMPILE_SDK=`sed -n 's,.*compileSdkVersion\s*\([0-9][0-9]*\).*,\1,p' app/build.gradle`
  ...

script to automatically set up a new alpha release
  tools/start-alpha-cycle.py
Due: none

Do not show "download failed" toast if download was cancelled manually
  app/src/main/java/org/fdroid/fdroid/AppUpdateStatusManager.java
  app/src/main/java/org/fdroid/fdroid/installer/InstallManagerService.java
  app/src/main/java/org/fdroid/fdroid/net/DownloaderService.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
  libs/download/src/androidMain/kotlin/org/fdroid/download/Downloader.kt
Due: app assembleFullRelease test, libs download test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone

Support logcat export from SDK 24 onwards
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Support Intent.ACTION_SHOW_APP_INFO
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add test that identifies issue with missing primaryConstructor
  app/build.gradle
  app/src/androidTest/java/org/fdroid/database/PrimaryConstructorTest.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Allow duplicate permissions in DbTest
  libs/database/src/dbTest/java/org/fdroid/database/DbTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Using -dontshrink in test(!) proguard file somehow causes primary constructor to vanish
  app/src/androidTest/proguard-rules.pro
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Make color tweaks
  app/src/main/res/layout/activity_main.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/values/themes.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

pick-complete-translations.py: use new Weblate API
  tools/pick-complete-translations.py
Due: none

Translated using Weblate: German (de) by VfBFan <drop0815@posteo.de>
  app/src/main/res/values-de/strings.xml
  metadata/de/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Portuguese (Brazil) (pt-rBR) by LucasMZ <git@lucasmz.dev>
  app/src/main/res/values-pt-rBR/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Russian (ru) by Golubev Alexander <fatzer2@gmail.com>
  app/src/main/res/values-ru/strings.xml
  metadata/ru/changelogs/1000010.txt
  metadata/ru/changelogs/1000011.txt
  metadata/ru/changelogs/1006000.txt
  metadata/ru/changelogs/1006050.txt
  metadata/ru/changelogs/1007000.txt
  metadata/ru/changelogs/1017050.txt
  metadata/ru/changelogs/default.txt
  src/basic/fastlane/metadata/android/ru/full_description.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Simplified Han script) (zh-rCN) by linsui <linsui@users.noreply.hosted.weblate.org>
  app/src/main/res/values-zh-rCN/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Tatar (tt) by Altos <blackisnewyellow@gmail.com>
  app/src/main/res/values-tt/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Czech (cs) by Fjuro <fjuro@users.noreply.hosted.weblate.org>
  app/src/main/res/values-cs/strings.xml
  metadata/cs/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate (Catalan)
  app/src/main/res/values-ca/strings.xml
  metadata/ca/changelogs/1003050.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate (Hungarian)
  app/src/main/res/values-hu/strings.xml
  metadata/hu/changelogs/1000010.txt
  metadata/hu/changelogs/1000011.txt
  metadata/hu/changelogs/1016050.txt
  metadata/hu/changelogs/1021051.txt
  metadata/hu/changelogs/default.txt
  src/basic/fastlane/metadata/android/hu-HU/full_description.txt
  src/basic/fastlane/metadata/android/hu-HU/short_description.txt
  src/basic/fastlane/metadata/android/hu-HU/title.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Russian (ru) by Andrey <andrey@mailbox.org>
  app/src/main/res/values-ru/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Azerbaijani (az) by Mücteba Nesiri <muctebanesiri@gmail.com>
  app/src/main/res/values-az/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Azerbaijani (az) by Cyber <thehouseofrecord@proton.me>
  app/src/main/res/values-az/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate (Portuguese (Brazil))
  metadata/pt-BR/changelogs/default.txt
Due: none

Translated using Weblate: Macedonian (mk) by "Kristijan \"Fremen\" Velkovski" <me@krisfremen.com>
  app/src/main/res/values-mk/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Chinese (Traditional Han script) (zh-rTW) by Jeff Huang <s8321414@gmail.com>
  app/src/main/res/values-zh-rTW/strings.xml
  metadata/zh-TW/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Albanian (sq) by Besnik Bleta <besnik@programeshqip.org>
  app/src/main/res/values-sq/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Japanese (ja) by Liner Seven <linour7gmekiblo@gmail.com>
  app/src/main/res/values-ja/strings.xml
  metadata/ja/changelogs/default.txt
  src/full/fastlane/metadata/android/ja/full_description.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Esperanto (eo) by ☆Verdulo <tomek@disroot.org>
  app/src/main/res/values-eo/strings.xml
  metadata/eo/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Romanian (ro) by Viorel-Cătălin Răpițeanu <rapiteanu.catalin@gmail.com>
  app/src/main/res/values-ro/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate (English (United Kingdom))
  app/src/main/res/values-en-rGB/strings.xml
  metadata/en-GB/changelogs/1000000.txt
  metadata/en-GB/changelogs/1000001.txt
  metadata/en-GB/changelogs/1000002.txt
  src/basic/fastlane/metadata/android/en-GB/full_description.txt
  src/basic/fastlane/metadata/android/en-GB/short_description.txt
  src/basic/fastlane/metadata/android/en-GB/title.txt
  src/full/fastlane/metadata/android/en-GB/full_description.txt
  src/full/fastlane/metadata/android/en-GB/short_description.txt
  src/full/fastlane/metadata/android/en-GB/title.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Burmese (my) by --//-- <htetoh2006@outlook.com>
  app/src/main/res/values-my/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  app/src/main/res/values-ar/strings.xml
  metadata/ar/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Turkish (tr) by polarwood <polarwood@users.noreply.hosted.weblate.org>
  src/full/fastlane/metadata/android/tr/short_description.txt
Due: none

Translated using Weblate: Romanian (ro) by Licaon Kter <licaon.kter@protonmail.com>
  app/src/main/res/values-ro/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate (French)
  app/src/main/res/values-fr/strings.xml
  metadata/fr/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate (Latvian)
  metadata/lv/changelogs/1021051.txt
  metadata/lv/changelogs/default.txt
Due: none

Translated using Weblate: Nepali (ne) by Prabin <acharyaprabin101@gmail.com>
  app/src/main/res/values-ne/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Ukrainian (uk) by Максим Горпиніч <maksimgorpinic2005a@gmail.com>
  app/src/main/res/values-uk/strings.xml
  metadata/uk/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Kazakh (kk) by Fontan 030 <pomanfedurin@gmail.com>
  app/src/main/res/values-kk/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Armenian (hy) by At protom <atprotom@gmail.com>
  app/src/main/res/values-hy/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Irish (ga) by Aindriú Mac Giolla Eoin <aindriu80@gmail.com>
  app/src/main/res/values-ga/strings.xml
  metadata/ga/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
