Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

app assembleRelease test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs db test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs download test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs index test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

app lint:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

legacy checkstyle:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs lint ktlintCheck:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

legacy lint pmd:
  stage: lint
  image:
    name: registry.gitlab.com/gitlab-ci-utils/gitlab-pmd-cpd:latest
    entrypoint:
    - ''
  parallel:
    matrix:
    - PMD_VARIANT: main
      PMD_RULESETS: config/pmd/rules.xml,config/pmd/rules-main.xml
      PMD_FILE_PATHS:
      - legacy/src/main/java
    - PMD_VARIANT: test
  ...

app tools scripts:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

legacy errorprone:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs database schema:
  stage: lint
  image: debian:bookworm-backports
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install openjdk-17-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  ...

Re-load updates after a new repo was added
  app/src/main/kotlin/org/fdroid/ui/repositories/add/AddRepoViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

Make filter sections collapsible
  app/src/main/kotlin/org/fdroid/ui/lists/AppList.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListInfo.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppsFilter.kt
  app/src/main/kotlin/org/fdroid/ui/lists/FilterSection.kt
  app/src/main/res/values/new-strings.xml
Due: app assembleRelease test, app lint, app tools scripts

Allow filtering app lists by anti-features
  app/src/main/kotlin/org/fdroid/ui/lists/AntiFeatureItem.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppList.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListInfo.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListItem.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListRow.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppsFilter.kt
  app/src/main/kotlin/org/fdroid/ui/search/ExpandedSearch.kt
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
Due: app assembleRelease test, app lint, app tools scripts

[db] add method for retrieving anti-features
  libs/database/api/database.api
  libs/database/src/main/java/org/fdroid/database/Repository.kt
  libs/database/src/main/java/org/fdroid/database/RepositoryDao.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Release 2.0-alpha4
  app/build.gradle.kts
  src/basic/fastlane/metadata/android/en-US/changelogs/2000004.txt
Due: app assembleRelease test, app lint, app tools scripts

Fix anti-feature filter icons in both themes
  app/src/main/kotlin/org/fdroid/ui/lists/AppsFilter.kt
Due: app assembleRelease test, app lint, app tools scripts

Reformat XML files
  app/src/main/res/drawable/ic_banner_foreground.xml
  app/src/main/res/drawable/ic_launcher_foreground.xml
  app/src/main/res/mipmap-anydpi-v26/ic_banner.xml
  app/src/main/res/values/themes.xml
  libs/download/lint.xml
  libs/download/src/androidInstrumentedTest/AndroidManifest.xml
  libs/sharedTest/src/main/AndroidManifest.xml
Due: app assembleRelease test, libs download test, app lint, libs lint ktlintCheck, app tools scripts

Migrate CI to Debian trixie
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Fix remove-unused-and-blank-translations.py
  tools/remove-unused-and-blank-translations.py
Due: none

concise wording for fingerprint
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Banner - use same text as website
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Translations update from weblate
  app/src/main/res/values-az/strings.xml
  app/src/main/res/values-da/strings.xml
  app/src/main/res/values-he/strings.xml
  app/src/main/res/values-hr/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-sw/strings.xml
  metadata/sw/changelogs/1021051.txt
  metadata/sw/changelogs/1023051.txt
  src/basic/fastlane/metadata/android/ga/changelogs/2000004.txt
  src/basic/fastlane/metadata/android/sw/changelogs/2000004.txt
  src/basic/fastlane/metadata/android/zh-TW/changelogs/2000004.txt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Improve loading of app details
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsHeader.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsItem.kt
  app/src/main/kotlin/org/fdroid/ui/details/DetailsPresenter.kt
Due: app assembleRelease test, app lint, app tools scripts

Fix long tap description of update repo button
  app/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetails.kt
  app/src/main/kotlin/org/fdroid/ui/utils/TopAppBarButton.kt
Due: app assembleRelease test, app lint, app tools scripts

Reload discover screen when installed apps change
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverModel.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

[db] Fix detection of new apps
  libs/database/api/database.api
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Don't jump app details when feature graphic has loaded
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsHeader.kt
Due: app assembleRelease test, app lint, app tools scripts

Reload app list when installed apps change
  app/src/main/kotlin/org/fdroid/ui/lists/AppListViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

Fix app details updating after uninstalling app
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsMenu.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsTopAppBar.kt
Due: app assembleRelease test, app lint, app tools scripts

Make repo fingerprint selectable
  app/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetailsContent.kt
Due: app assembleRelease test, app lint, app tools scripts

Don't spam log with huge NullRequestDataException
  app/src/main/kotlin/org/fdroid/App.kt
Due: app assembleRelease test, app lint, app tools scripts

Make AppInstallService a bit more robust
  app/src/main/kotlin/org/fdroid/install/AppInstallManager.kt
  app/src/main/kotlin/org/fdroid/install/AppInstallService.kt
Due: app assembleRelease test, app lint, app tools scripts

Fix subtle coroutine issue
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/details/DetailsPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/search/SearchManager.kt
  app/src/main/kotlin/org/fdroid/utils/CoroutinesScopesModule.kt
Due: app assembleRelease test, app lint, app tools scripts

Migrate to com.android.kotlin.multiplatform.library plugin
  build.gradle
  gradle/libs.versions.toml
  libs/core/build.gradle.kts
  libs/download/build.gradle.kts
  libs/download/src/androidDeviceTest/AndroidManifest.xml
  libs/download/src/androidDeviceTest/kotlin/org/fdroid/download/HttpManagerInstrumentationTest.kt
  libs/download/src/androidDeviceTest/res/xml/network_security_config.xml
  libs/download/src/androidHostTest/kotlin/org/fdroid/download/HttpDownloaderTest.kt
  libs/download/src/androidHostTest/kotlin/org/fdroid/download/HttpPosterTest.kt
  libs/download/src/androidHostTest/kotlin/org/fdroid/download/glide/AutoVerifyingInputStreamTest.kt
  libs/index/build.gradle.kts
  libs/index/src/androidDeviceTest/kotlin/org/fdroid/BestLocaleTest.kt
  libs/index/src/androidDeviceTest/kotlin/org/fdroid/index/v1/IndexV1CreatorTest.kt
  libs/index/src/androidHostTest/kotlin/org/fdroid/CompatibilityCheckerTest.kt
  libs/index/src/androidHostTest/kotlin/org/fdroid/UpdateCheckerTest.kt
  libs/index/src/androidHostTest/kotlin/org/fdroid/index/IndexUtilsTest.kt
  libs/index/src/androidHostTest/kotlin/org/fdroid/index/v1/IndexV1StreamProcessorTest.kt
  libs/index/src/androidHostTest/kotlin/org/fdroid/index/v1/IndexV1VerifierTest.kt
  libs/index/src/androidHostTest/kotlin/org/fdroid/index/v2/EntryVerifierTest.kt
  libs/index/src/androidHostTest/kotlin/org/fdroid/index/v2/IndexV2FullStreamProcessorTest.kt
  libs/index/src/androidHostTest/kotlin/org/fdroid/index/v2/ReflectionDifferTest.kt
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Fix multi-platform issue with custom DNS
  libs/download/src/androidMain/kotlin/org/fdroid/download/CustomDns.kt
  libs/download/src/androidMain/kotlin/org/fdroid/download/HttpManager.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/CustomDns.kt
  libs/download/src/commonMain/kotlin/org/fdroid/download/HttpManager.kt
  libs/download/src/jvmMain/kotlin/org/fdroid/download/CustomDns.kt
  libs/download/src/jvmMain/kotlin/org/fdroid/download/HttpManager.kt
Due: app assembleRelease test, libs download test, libs lint ktlintCheck

Improve readability of DbAppChecker and add tests
  libs/database/src/main/java/org/fdroid/database/DbAppChecker.kt
  libs/database/src/test/java/org/fdroid/database/DbAppCheckerTest.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Add localized screenshot creation
  app/build.gradle.kts
  app/src/androidTest/java/org/fdroid/ui/screenshots/CategoryItems.kt
  app/src/androidTest/java/org/fdroid/ui/screenshots/DetailsItem.kt
  app/src/androidTest/java/org/fdroid/ui/screenshots/DetailsScreenshotTest.kt
  app/src/androidTest/java/org/fdroid/ui/screenshots/DiscoverItems.kt
  app/src/androidTest/java/org/fdroid/ui/screenshots/DiscoverScreenshotTest.kt
  app/src/androidTest/java/org/fdroid/ui/screenshots/IdlingEventListener.kt
  app/src/androidTest/java/org/fdroid/ui/screenshots/LocalizedScreenshotTest.kt
  app/src/androidTest/java/org/fdroid/ui/screenshots/MyAppsItems.kt
  app/src/androidTest/java/org/fdroid/ui/screenshots/MyAppsScreenshotTest.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsHeader.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsItem.kt
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
  gradle.properties
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  tools/update-screenshot-data.py
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Don't close screenshot when rotating phone
  app/src/main/kotlin/org/fdroid/ui/details/Screenshots.kt
Due: app assembleRelease test, app lint, app tools scripts

Proguard fix for legacy
  legacy/proguard-rules.pro
Due: app assembleRelease test, app lint, legacy checkstyle, legacy lint pmd, legacy errorprone

Fix RTL language presentation of updates
  app/src/main/kotlin/org/fdroid/ui/apps/UpdatableAppRow.kt
Due: app assembleRelease test, app lint, app tools scripts

Translations update from weblate
  app/src/main/res/values-bn-rBD/strings.xml
  app/src/main/res/values-brh/strings.xml
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-el/strings.xml
  app/src/main/res/values-en-rGB/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-hr/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-kab/strings.xml
  app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-sv/strings.xml
  app/src/main/res/values-sw/strings.xml
  app/src/main/res/values-vi/strings.xml
  metadata/en-GB/changelogs/1002051.txt
  metadata/en-GB/changelogs/1003050.txt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Move Firewall to Network
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
Due: app assembleRelease test, app lint, app tools scripts

Move Network Analyzer to Network
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
Due: app assembleRelease test, app lint, app tools scripts

Translations update from weblate
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-bg/strings.xml
  app/src/main/res/values-brh/strings.xml
  app/src/main/res/values-da/strings.xml
  app/src/main/res/values-de/strings.xml
  app/src/main/res/values-en-rGB/strings.xml
  app/src/main/res/values-eo/strings.xml
  app/src/main/res/values-es-rAR/strings.xml
  app/src/main/res/values-fi/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-gl/strings.xml
  app/src/main/res/values-hr/strings.xml
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-kab/strings.xml
  app/src/main/res/values-lt/strings.xml
  app/src/main/res/values-nb/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pt-rBR/strings.xml
  app/src/main/res/values-sk/strings.xml
  app/src/main/res/values-so/strings.xml
  metadata/en-GB/changelogs/1003051.txt
  metadata/en-GB/changelogs/1004050.txt
  metadata/en-GB/changelogs/1005050.txt
  metadata/en-GB/changelogs/1014050.txt
  metadata/en-GB/changelogs/1023051.txt
  src/basic/fastlane/metadata/android/hu-HU/changelogs/2000005.txt
  src/basic/fastlane/metadata/android/pt-PT/changelogs/2000005.txt
  src/basic/fastlane/metadata/android/pt/changelogs/2000005.txt
  src/full/fastlane/metadata/android/gl/full_description.txt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Move "Browser" and "Internet" category items to network group
  app/src/main/kotlin/org/fdroid/ui/categories/CategoryItem.kt
Due: app assembleRelease test, app lint, app tools scripts

Path conditions:
  app assembleRelease test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, libs/**/*, legacy/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/index/**/*)
  app lint: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, legacy/**/*)
  legacy checkstyle: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/**/*)
  legacy lint pmd: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/*
  legacy errorprone: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
