Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

app assembleRelease test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs db test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs download test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs index test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

app lint:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

legacy checkstyle:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs lint ktlintCheck:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

legacy lint pmd:
  stage: lint
  image:
    name: registry.gitlab.com/gitlab-ci-utils/gitlab-pmd-cpd:latest
    entrypoint:
    - ''
  parallel:
    matrix:
    - PMD_VARIANT: main
      PMD_RULESETS: config/pmd/rules.xml,config/pmd/rules-main.xml
      PMD_FILE_PATHS:
      - legacy/src/main/java
    - PMD_VARIANT: test
  ...

app tools scripts:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

legacy errorprone:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs database schema:
  stage: lint
  image: debian:bookworm-backports
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install openjdk-17-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  ...

Add screenshot test for AddRepo screen
  app/src/main/kotlin/org/fdroid/ui/repositories/add/AddRepoIntro.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/repositories/AddRepoTest.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/search/GlobalSearchTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/AddRepoTestKt/AddRepoAddingTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/AddRepoTestKt/AddRepoErrorTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/AddRepoTestKt/AddRepoFetchingPreviewTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/AddRepoTestKt/AddRepoFetchingProgressTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/AddRepoTestKt/AddRepoIntroNightTest_1def2e7f_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/AddRepoTestKt/AddRepoIntroTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

Add screenshot test for AppList screen
  app/src/main/kotlin/org/fdroid/ui/lists/AppList.kt
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/lists/AppListTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/lists/AppListTestKt/AppListLoadingTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/lists/AppListTestKt/AppListNightTest_1def2e7f_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/lists/AppListTestKt/AppListTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

Add screenshot test for AppListFilter screen
  app/src/main/kotlin/org/fdroid/ui/lists/AppsFilter.kt
  app/src/main/kotlin/org/fdroid/ui/utils/PreviewUtils.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/lists/AppsFilterTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/lists/AppsFilterTestKt/AppsFilterNightTest_1def2e7f_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/lists/AppsFilterTestKt/AppsFilterTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

Add download speed and size remaining including screenshot tests
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsHeader.kt
  app/src/main/res/values/strings.xml
  app/src/screenshotTest/kotlin/org/fdroid/ui/details/DetailsHeaderTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderDownloadingNightTest_3534351a_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderDownloadingTest_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderInstallTest_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderLoadingTest_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderOpenTest_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderStartingTest_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderUpdateTest_0.png
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Add screenshot test for GlobalSearch screen
  app/src/main/kotlin/org/fdroid/ui/Main.kt
  app/src/main/kotlin/org/fdroid/ui/search/GlobalSearch.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/search/GlobalSearchTestKt/GlobalSearchEmptyTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/search/GlobalSearchTestKt/GlobalSearchLoadingTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/search/GlobalSearchTestKt/GlobalSearchNoResultsTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/search/GlobalSearchTestKt/GlobalSearchOnlyCategoriesTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/search/GlobalSearchTestKt/GlobalSearchResultsNightTest_1def2e7f_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/search/GlobalSearchTestKt/GlobalSearchResultsTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

Add screenshot test for Installation History screen
  app/src/main/kotlin/org/fdroid/ui/apps/UpdatableAppRow.kt
  app/src/main/kotlin/org/fdroid/ui/history/HistoryList.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/history/HistoryTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/history/HistoryTestKt/HistoryEmptyDisabledTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/history/HistoryTestKt/HistoryEmptyTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/history/HistoryTestKt/HistoryLoadingTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/history/HistoryTestKt/HistoryNightTest_1def2e7f_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/history/HistoryTestKt/HistoryPopulatedTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

Make screenshot test AboutTest deterministic
  app/src/main/kotlin/org/fdroid/ui/About.kt
  app/src/main/kotlin/org/fdroid/ui/details/NoAppSelected.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/AboutTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/AboutTestKt/AboutNightTest_2fbe6c79_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/AboutTestKt/AboutTest_7d15032b_0.png
Due: app assembleRelease test, app lint, app tools scripts

Update repository used for image loading
  app/src/main/kotlin/org/fdroid/ui/details/DetailsPresenter.kt
Due: app assembleRelease test, app lint, app tools scripts

Release 2.0-alpha7
  app/build.gradle.kts
  src/basic/fastlane/metadata/android/ar/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/cs/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/de/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/en-GB/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/en-US/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/eo/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/es/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/et/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/fr/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/ga/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/hu-HU/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/ja/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/pl/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/pt-BR/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/pt-PT/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/pt/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/ru/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/sv-SE/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/sw/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/tr/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/uk/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/zh-CN/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/zh-TW/changelogs/2000007.txt
Due: app assembleRelease test, app lint, app tools scripts

Translations update from weblate
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-bn-rBD/strings.xml
  app/src/main/res/values-ca/strings.xml
  app/src/main/res/values-eo/strings.xml
  app/src/main/res/values-es/strings.xml
  app/src/main/res/values-et/strings.xml
  app/src/main/res/values-fr/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-mk/strings.xml
  app/src/main/res/values-nb/strings.xml
  app/src/main/res/values-nl/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-pt-rPT/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-ro/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-tr/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  src/basic/fastlane/metadata/android/en-GB/changelogs/2000007.txt
  src/basic/fastlane/metadata/android/zh-TW/full_description.txt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Use the standard string for 3 dots button
  app/src/main/kotlin/org/fdroid/ui/utils/TopAppBarOverflowButton.kt
Due: app assembleRelease test, app lint, app tools scripts

ScreenShotsActivity: migrate ViewPager to ViewPager2
  app/build.gradle
  app/src/main/java/org/fdroid/fdroid/views/ScreenShotsActivity.java
  app/src/main/res/layout/activity_screenshots.xml
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Make hard-coded strings translatable
  app/src/main/kotlin/org/fdroid/ui/history/HistoryList.kt
  app/src/main/res/values/strings.xml
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/history/HistoryTestKt/HistoryEmptyDisabledTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/history/HistoryTestKt/HistoryEmptyTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/history/HistoryTestKt/HistoryNightTest_1def2e7f_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/history/HistoryTestKt/HistoryPopulatedTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Move SearchManager out of ui package
  app/src/main/kotlin/org/fdroid/search/SearchManager.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/search/SearchManager.kt
  app/src/main/kotlin/org/fdroid/ui/search/SearchViewModel.kt
  app/src/test/java/org/fdroid/ui/search/SearchManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Add search history feature
  app/src/main/kotlin/org/fdroid/search/SearchHistoryManager.kt
  app/src/main/kotlin/org/fdroid/search/SearchManager.kt
  app/src/main/kotlin/org/fdroid/ui/Main.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverContent.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverModel.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/search/GlobalSearch.kt
  app/src/main/kotlin/org/fdroid/ui/search/SearchResults.kt
  app/src/main/kotlin/org/fdroid/ui/search/SearchViewModel.kt
  app/src/main/res/values/strings.xml
  app/src/screenshotTest/kotlin/org/fdroid/ui/discover/DiscoverTest.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/search/GlobalSearchTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/search/GlobalSearchTestKt/GlobalSearchEmptyStateTest_2ed8e27d_0.png
  app/src/test/java/org/fdroid/search/SearchHistoryManagerTest.kt
  app/src/test/java/org/fdroid/search/SearchManagerTest.kt
  app/src/test/java/org/fdroid/ui/search/SearchManagerTest.kt
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Move search into bottom nav bar
  app/src/androidTest/java/org/fdroid/ui/screenshots/DiscoverScreenshotTest.kt
  app/src/androidTest/java/org/fdroid/ui/screenshots/LocalizedScreenshotTest.kt
  app/src/main/kotlin/org/fdroid/search/SearchHelper.kt
  app/src/main/kotlin/org/fdroid/search/SearchManager.kt
  app/src/main/kotlin/org/fdroid/ui/Main.kt
  app/src/main/kotlin/org/fdroid/ui/MainContent.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsItem.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverContent.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppListPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/navigation/BottomBar.kt
  app/src/main/kotlin/org/fdroid/ui/navigation/NavigationKey.kt
  app/src/main/kotlin/org/fdroid/ui/navigation/SceneDecorator.kt
  app/src/main/kotlin/org/fdroid/ui/search/AppSearchInputField.kt
  app/src/main/kotlin/org/fdroid/ui/search/AppsSearch.kt
  app/src/main/kotlin/org/fdroid/ui/search/GlobalSearch.kt
  app/src/main/kotlin/org/fdroid/ui/search/PastSearches.kt
  app/src/main/kotlin/org/fdroid/ui/search/SearchResults.kt
  app/src/main/kotlin/org/fdroid/ui/search/TopSearchBar.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/ScreenshotTest.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/search/GlobalSearchTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/apps/MyAppsTestKt/MyAppsFullList_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/apps/MyAppsTestKt/MyAppsInstalledAndIssues_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/apps/MyAppsTestKt/MyAppsOnlyInstalledAppsAndNoInternet_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/apps/MyAppsTestKt/MyAppsUpdatesOnlyAndNoInternet_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverFirstStartTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverNoEnabledReposTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverSmallBottomBarTest_1def2e7f_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/search/GlobalSearchTestKt/GlobalSearchEmptyTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/search/GlobalSearchTestKt/GlobalSearchLoadingTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/search/GlobalSearchTestKt/GlobalSearchNoResultsTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/search/GlobalSearchTestKt/GlobalSearchOnlyCategoriesTest_2ed8e27d_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/search/GlobalSearchTestKt/GlobalSearchResultsNightTest_1def2e7f_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/search/GlobalSearchTestKt/GlobalSearchResultsTest_2ed8e27d_0.png
  app/src/test/java/org/fdroid/ui/lists/AppListSearchTest.kt
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, legacy errorprone, libs database schema

Update copy for download speed
  app/src/main/res/values/strings.xml
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderDownloadingNightTest_3534351a_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/details/DetailsHeaderTestKt/DetailsHeaderDownloadingTest_0.png
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Remove compact nav bar setting
  app/src/androidTest/java/org/fdroid/ui/screenshots/LocalizedScreenshotTest.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  app/src/main/kotlin/org/fdroid/ui/Main.kt
  app/src/main/kotlin/org/fdroid/ui/MainPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/MainViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/navigation/BottomBar.kt
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values-it/strings.xml
  app/src/main/res/values-pl/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values/strings.xml
  app/src/screenshotTest/kotlin/org/fdroid/ui/ScreenshotTest.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/discover/DiscoverTest.kt
  app/src/screenshotTest/kotlin/org/fdroid/ui/settings/SettingsTest.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/discover/DiscoverTestKt/DiscoverSmallBottomBarTest_1def2e7f_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/settings/SettingsTestKt/SettingsNightTest_58c50acd_0.png
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/settings/SettingsTestKt/SettingsTest_4fcdc4d2_0.png
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Fix proguard issue with nearby
  app/proguard-rules.pro
Due: app assembleRelease test, app lint, app tools scripts

Move VersionLine into its own file
  app/src/full/kotlin/org/fdroid/ui/nearby/SwapSuccessAppRow.kt
  app/src/main/kotlin/org/fdroid/ui/apps/InstallingAppRow.kt
  app/src/main/kotlin/org/fdroid/ui/apps/UpdatableAppRow.kt
  app/src/main/kotlin/org/fdroid/ui/history/HistoryList.kt
  app/src/main/kotlin/org/fdroid/ui/utils/VersionLine.kt
Due: app assembleRelease test, app lint, app tools scripts

Fix discover icon loading for non-HTTP repos
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverPresenter.kt
Due: app assembleRelease test, app lint, app tools scripts

[db] More fixes to RepoAdder
  libs/database/src/main/java/org/fdroid/repo/RepoAdder.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Don't let user escape from adding a repo
  app/src/main/kotlin/org/fdroid/ui/repositories/RepositoriesViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/add/AddRepo.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/add/AddRepoProgressScreen.kt
  app/src/screenshotTestBasicDefaultDebug/reference/org/fdroid/ui/repositories/AddRepoTestKt/AddRepoAddingTest_2ed8e27d_0.png
Due: app assembleRelease test, app lint, app tools scripts

Use locales from locale_config.xml for localized screenshots
  app/src/androidTest/java/org/fdroid/ui/screenshots/LocalizedScreenshotTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Add localized screenshot for search
  app/src/androidTest/java/org/fdroid/ui/screenshots/DetailsScreenshotTest.kt
  app/src/androidTest/java/org/fdroid/ui/screenshots/DiscoverScreenshotTest.kt
  app/src/androidTest/java/org/fdroid/ui/screenshots/LocalizedScreenshotTest.kt
  app/src/androidTest/java/org/fdroid/ui/screenshots/MyAppsScreenshotTest.kt
  app/src/androidTest/java/org/fdroid/ui/screenshots/SearchItems.kt
  app/src/androidTest/java/org/fdroid/ui/screenshots/SearchScreenshotTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Add scripts for taking localized screenshots
  app/src/androidTest/java/org/fdroid/ui/screenshots/LocalizedScreenshotTest.kt
  tools/screenshot-demo-mode.sh
  tools/take-screenshots.py
Due: app assembleRelease test, app lint, app tools scripts

Disable DnsCacheTest for now as it is failing
  app/src/androidTest/java/org/fdroid/download/DnsCacheTest.kt
Due: app assembleRelease test, app lint, app tools scripts

Show screenshot test report in UI
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Warn when KVM job didn't run
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

fix KVM warning
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint, legacy checkstyle, libs lint ktlintCheck, legacy lint pmd, app tools scripts, app weblate merge conflict, legacy errorprone, libs database schema

Show keyboard in search when no results are shown
  app/src/main/kotlin/org/fdroid/ui/search/GlobalSearch.kt
Due: app assembleRelease test, app lint, app tools scripts

Allow per second speed unit to be translated
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsHeader.kt
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint, app tools scripts, app weblate merge conflict

Remove cloudflare mirror from CI tests as this is flaky
  libs/download/src/commonTest/kotlin/org/fdroid/download/HttpManagerIntegrationTest.kt
Due: app assembleRelease test, libs download test, libs lint ktlintCheck

Don't crash if user has 'night' in their theme settings
  app/src/main/kotlin/org/fdroid/ui/settings/Settings.kt
Due: app assembleRelease test, app lint, app tools scripts

Don't crash when sending a PendingIntent isn't possible
  app/src/main/kotlin/org/fdroid/install/SessionInstallManager.kt
Due: app assembleRelease test, app lint, app tools scripts

Disable HttpManagerIntegrationTest
  libs/download/src/commonTest/kotlin/org/fdroid/download/HttpManagerIntegrationTest.kt
Due: app assembleRelease test, libs download test, libs lint ktlintCheck

Fix crash in PanicSettings
  app/src/full/kotlin/org/fdroid/ui/panic/PanicSettingsViewModel.kt
Due: app assembleRelease test, app lint, app tools scripts

[db] only add added repo to list, if not already there
  libs/database/src/main/java/org/fdroid/index/RepoManager.kt
Due: app assembleRelease test, libs db test, libs lint ktlintCheck, libs database schema

Add more info to crash reports
  app/src/main/kotlin/org/fdroid/App.kt
  app/src/main/kotlin/org/fdroid/ui/crash/ShortHashCollector.kt
  app/src/main/resources/META-INF/services/org.acra.collector.Collector
Due: app assembleRelease test, app lint, app tools scripts

Path conditions:
  app assembleRelease test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, libs/**/*, legacy/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/index/**/*)
  app lint: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, legacy/**/*)
  legacy checkstyle: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/**/*)
  legacy lint pmd: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/*
  legacy errorprone: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: legacy/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
