Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

Translated using Weblate: English (United Kingdom) (en-rGB) by Andi Chandler <andi@gowling.com>
  app/src/main/res/values-en-rGB/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Vietnamese (vi) by bruh <quangtrung02hn16@gmail.com>
  app/src/main/res/values-vi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Lithuanian (lt) by Mantas Kriaučiūnas <mantas@akl.lt>
  app/src/main/res/values-lt/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Japanese (ja) by Kazushi Hayama <hosted.weblate.3yoe@1984.pmail.li>
  app/src/main/res/values-ja/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Persian (fa) by Danial Behzadi <dani.behzi@ubuntu.com>
  app/src/main/res/values-fa/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Lithuanian (lt) by Hans-Christoph Steiner <hans@guardianproject.info>
  app/src/main/res/values-lt/strings.xml
  app/src/main/res/values-sw/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Greek (el) by Syrodil Eventalious <giannis.yalanskyi@gmail.com>
  app/src/main/res/values-el/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Slovenian (sl) by Heki <linuxheki-accounts+hosted-weblate@proton.me>
  app/src/main/res/values-sl/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Danish (da) by Victor Yttesen <victor.yttesen@outlook.com>
  app/src/main/res/values-da/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Filipino (fil) by Karl Santisteban <ksantix@proton.me>
  app/src/main/res/values-fil/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Belarusian (be) by flac <flac_twin@keemail.me>
  app/src/main/res/values-be/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hebrew (he) by Yaron Shahrabani <sh.yaron@gmail.com>
  app/src/main/res/values-he/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Icelandic (is) by Sveinn í Felli <sv1@fellsnet.is>
  app/src/main/res/values-is/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Galician (gl) by Jorge Teijeiro <jorge.teijeiro.ramos@gmail.com>
  app/src/main/res/values-gl/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Finnish (fi) by Jiri Grönroos <jiri.gronroos@iki.fi>
  app/src/main/res/values-fi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Sardinian (sc) by Ajeje Brazorf <lmelonimamo@yahoo.it>
  app/src/main/res/values-sc/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Hungarian (hu) by Balázs Meskó <meskobalazs@mailbox.org>
  app/src/main/res/values-hu/strings.xml
  metadata/hu/changelogs/1017050.txt
  metadata/hu/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Basque (eu) by Alexander Gabilondo <alexgabi@openmailbox.org>
  app/src/main/res/values-eu/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Kazakh (kk) by Fontan 030 <pomanfedurin@gmail.com>
  app/src/main/res/values-kk/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

fix ellipsis
  app/src/main/res/values-th/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Update app list when toggling showIncompatible
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/views/main/LatestViewBinder.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Follow showIncompatibleVersion
  app/src/main/java/org/fdroid/fdroid/views/main/LatestViewBinder.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Do not list incompatible app
  app/src/main/java/org/fdroid/fdroid/views/main/LatestViewBinder.java
  libs/database/src/main/java/org/fdroid/database/App.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: app assembleFullRelease test, libs db test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app errorprone, libs database schema

Fix missing flag in RepoV2StreamReceiver
  libs/database/src/main/java/org/fdroid/repo/RepoV2StreamReceiver.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Add test for compat flag in AppOverviewItems
  libs/database/src/dbTest/java/org/fdroid/database/AppOverviewItemsTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Cache value of showIncompatibleVersions and remove empty listeners
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
  app/src/main/java/org/fdroid/fdroid/views/main/LatestViewBinder.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

🚚 use session install in full build flavor
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Expert Setting to disable the SessionInstaller
  app/src/basic/res/xml/preferences.xml
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
  app/src/main/res/values/strings.xml
  app/src/main/res/xml/preferences.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

run tools/remove-unused-and-blank-translations.py
  app/src/main/res/values-bn/strings.xml
  app/src/main/res/values-eu/strings.xml
  app/src/main/res/values-fa/strings.xml
  app/src/main/res/values-gd/strings.xml
  app/src/main/res/values-hu/strings.xml
  app/src/main/res/values-is/strings.xml
  app/src/main/res/values-sl/strings.xml
  app/src/main/res/values-sr/strings.xml
  app/src/main/res/values-sw/strings.xml
  app/src/main/res/values-th/strings.xml
  app/src/main/res/values-vi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

update CHANGELOG
  CHANGELOG.md
Due: none

version code 1018050
  app/build.gradle
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

removing all translations less than 70% complete
  app/src/main/res/values-az/strings.xml
  app/src/main/res/values-ber/strings.xml
  app/src/main/res/values-bo/strings.xml
  app/src/main/res/values-br/strings.xml
  app/src/main/res/values-ckb/strings.xml
  app/src/main/res/values-es-rMX/strings.xml
  app/src/main/res/values-fy/strings.xml
  app/src/main/res/values-hy/strings.xml
  app/src/main/res/values-ka/strings.xml
  app/src/main/res/values-kk/strings.xml
  app/src/main/res/values-kmr/strings.xml
  app/src/main/res/values-lb/strings.xml
  app/src/main/res/values-mk/strings.xml
  app/src/main/res/values-mr/strings.xml
  app/src/main/res/values-my/strings.xml
  app/src/main/res/values-nah/strings.xml
  app/src/main/res/values-ne/strings.xml
  app/src/main/res/values-oc/strings.xml
  app/src/main/res/values-or/strings.xml
  app/src/main/res/values-pa-rPK/strings.xml
  app/src/main/res/values-ps/strings.xml
  app/src/main/res/values-si/strings.xml
  app/src/main/res/values-sn/strings.xml
  app/src/main/res/values-so/strings.xml
  app/src/main/res/values-tt/strings.xml
  app/src/main/res/values-tzm/strings.xml
  app/src/main/res/values-ug/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Fix litecoin button linking bitcoin address
  app/src/main/java/org/fdroid/fdroid/data/App.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Adapt when no user action is required for app updates
  app/src/main/java/org/fdroid/fdroid/installer/SessionInstallManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

include new official mirror: lysator's onion service
  app/src/main/res/values/default_repos.xml
  tools/update-mirrors-in-default_repos.xml.py
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Copy version name and links to clipboard on long click in app details.
  app/src/main/java/org/fdroid/fdroid/Utils.java
  app/src/main/java/org/fdroid/fdroid/privileged/views/AppSecurityPermissions.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone
