Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)

remove odd quoting from strings
  app/src/main/res/values-ne/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

fix lint MissingQuantity "Missing quantity translation"
  app/src/main/res/values-he/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

fix lint Typos "Spelling error"
  app/src/main/res/values-pt/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

fix lint StringFormatInvalid "Invalid format string"
  app/src/main/res/values-vi/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

fix lint ImpliedQuantity "Implied Quantities"
  app/src/main/res/values-bn/strings.xml
  app/src/main/res/values-fa/strings.xml
  app/src/main/res/values-pt/strings.xml
  app/src/main/res/values-ru/strings.xml
  app/src/main/res/values-sr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Prepare 1.23.0-alpha0 release
  CHANGELOG.md
  app/build.gradle
  metadata/ar/changelogs/1022050.txt
  metadata/ca/changelogs/1022050.txt
  metadata/cs/changelogs/1022050.txt
  metadata/de/changelogs/1022050.txt
  metadata/en-US/changelogs/1022050.txt
  metadata/en-US/changelogs/default.txt
  metadata/eo/changelogs/1022050.txt
  metadata/es/changelogs/1022050.txt
  metadata/fr/changelogs/1022050.txt
  metadata/ga/changelogs/1022050.txt
  metadata/hu/changelogs/1022050.txt
  metadata/id/changelogs/1022050.txt
  metadata/ja/changelogs/1022050.txt
  metadata/kn/changelogs/1022050.txt
  metadata/pl/changelogs/1022050.txt
  metadata/pt-BR/changelogs/1022050.txt
  metadata/pt-PT/changelogs/1022050.txt
  metadata/pt/changelogs/1022050.txt
  metadata/ro/changelogs/1022050.txt
  metadata/ru/changelogs/1022050.txt
  metadata/sr/changelogs/1022050.txt
  metadata/sw/changelogs/1022050.txt
  metadata/ta/changelogs/1022050.txt
  metadata/tr/changelogs/1022050.txt
  metadata/uk/changelogs/1022050.txt
  metadata/yue/changelogs/1022050.txt
  metadata/zh-CN/changelogs/1022050.txt
  metadata/zh-Hant-HK/changelogs/1022050.txt
  metadata/zh-TW/changelogs/1022050.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

added better handling for unexpected error count values
  app/src/main/java/org/fdroid/fdroid/Preferences.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

added additional error checking and unit test
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/test/java/org/fdroid/fdroid/PreferencesTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

additional changes to reduce concurrency risk
  app/src/main/java/org/fdroid/fdroid/Preferences.java
  app/src/main/java/org/fdroid/fdroid/net/FDroidMirrorParameterManager.java
  app/src/test/java/org/fdroid/fdroid/PreferencesTest.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

fix lint error
  app/src/main/java/org/fdroid/fdroid/net/FDroidMirrorParameterManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

replace flag with atomicboolean
  app/src/main/java/org/fdroid/fdroid/net/FDroidMirrorParameterManager.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Respect preferred repo for category apps count
  libs/database/src/dbTest/java/org/fdroid/database/AppDaoTest.kt
  libs/database/src/main/java/org/fdroid/database/AppDao.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Don't crash when context is gone after saving logcat
  app/src/main/java/org/fdroid/fdroid/views/PreferencesFragment.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix scrambled User Mirrors list
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsScreen.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Improve RepoAdderTest by changing test data
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
  libs/sharedTest/src/main/assets/diff-empty-min/23.json
  libs/sharedTest/src/main/assets/index-min-reordered-v2.json
  libs/sharedTest/src/main/assets/index-min-v1.json
  libs/sharedTest/src/main/assets/index-min-v2.json
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestDataV1.kt
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestDataV2.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Also fix URL of mid and max test data
  libs/sharedTest/src/main/assets/diff-empty-max/1337.json
  libs/sharedTest/src/main/assets/diff-empty-max/23.json
  libs/sharedTest/src/main/assets/diff-empty-max/42.json
  libs/sharedTest/src/main/assets/diff-empty-mid/23.json
  libs/sharedTest/src/main/assets/diff-empty-mid/42.json
  libs/sharedTest/src/main/assets/index-max-v1.json
  libs/sharedTest/src/main/assets/index-max-v2.json
  libs/sharedTest/src/main/assets/index-mid-v1.json
  libs/sharedTest/src/main/assets/index-mid-v2.json
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestDataV1.kt
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestDataV2.kt
Due: libs lint ktlintCheck

Add /repo suffix to mid-v1.com official mirror
  libs/sharedTest/src/main/assets/diff-empty-mid/23.json
  libs/sharedTest/src/main/assets/diff-empty-mid/42.json
  libs/sharedTest/src/main/assets/index-mid-v1.json
  libs/sharedTest/src/main/assets/index-mid-v2.json
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestDataV1.kt
  libs/sharedTest/src/main/kotlin/org/fdroid/test/TestDataV2.kt
Due: libs lint ktlintCheck

Clean up RepoAdderTest
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Add testAddingMinRepoByUserMirror
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Add testAddingMidRepoByOfficialMirror
  libs/database/src/dbTest/java/org/fdroid/database/TestUtils.kt
  libs/database/src/main/java/org/fdroid/database/Repository.kt
  libs/database/src/test/java/org/fdroid/repo/RepoAdderTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Don't add official mirror as user mirror when adding repo via official mirror
  libs/database/src/main/java/org/fdroid/repo/RepoV2StreamReceiver.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

Update screenshots for Material 3
  metadata/en-US/images/phoneScreenshots/screenshot-app-details.png
  metadata/en-US/images/phoneScreenshots/screenshot-dark-details.png
  metadata/en-US/images/phoneScreenshots/screenshot-dark-home.png
  metadata/en-US/images/phoneScreenshots/screenshot-dark-knownvuln.png
  metadata/en-US/images/phoneScreenshots/screenshot-knownvuln.png
  metadata/en-US/images/phoneScreenshots/screenshot-search.png
  metadata/en-US/images/phoneScreenshots/screenshot-updates.png
  src/basic/fastlane/metadata/android/en-US/images/phoneScreenshots/01-latest.png
  src/basic/fastlane/metadata/android/en-US/images/phoneScreenshots/02-categories.png
  src/basic/fastlane/metadata/android/en-US/images/phoneScreenshots/03-updates.png
  src/basic/fastlane/metadata/android/en-US/images/phoneScreenshots/04-settings.png
  src/basic/fastlane/metadata/android/en-US/images/phoneScreenshots/10-search.png
  src/basic/fastlane/metadata/android/en-US/images/phoneScreenshots/11-app-details.png
  src/basic/fastlane/metadata/android/en-US/images/phoneScreenshots/20-repos.png
  src/basic/fastlane/metadata/android/en-US/images/phoneScreenshots/21-repo-details.png
  src/full/fastlane/metadata/android/en-US/images/phoneScreenshots/01-latest.png
  src/full/fastlane/metadata/android/en-US/images/phoneScreenshots/02-categories.png
  src/full/fastlane/metadata/android/en-US/images/phoneScreenshots/03-nearby.png
  src/full/fastlane/metadata/android/en-US/images/phoneScreenshots/04-updates.png
  src/full/fastlane/metadata/android/en-US/images/phoneScreenshots/05-settings.png
  src/full/fastlane/metadata/android/en-US/images/phoneScreenshots/10-search.png
  src/full/fastlane/metadata/android/en-US/images/phoneScreenshots/11-app-details.png
  src/full/fastlane/metadata/android/en-US/images/phoneScreenshots/20-repos.png
  src/full/fastlane/metadata/android/en-US/images/phoneScreenshots/21-repo-details.png
Due: none

fixup! Use a more consistent casing in strings
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Don't crash when user clicks Anti-feature link without browser
  app/src/main/java/org/fdroid/fdroid/views/appdetails/AntiFeaturesListingView.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Remove explicit dependency on `androidx.cardview:cardview`
  app/build.gradle
  gradle/libs.versions.toml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Remove unused `androidx.palette:palette-ktx` dependency
  app/build.gradle
  app/src/main/java/org/fdroid/fdroid/views/apps/FeatureImage.java
  gradle/libs.versions.toml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

lint: don't ignore MissingQuantity for French
  app/lint.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Make cards rounder
  app/src/full/res/layout/swap_start_swap.xml
  app/src/main/res/layout/activity_app_list.xml
  app/src/main/res/layout/app_card_horizontal.xml
  app/src/main/res/layout/app_card_large.xml
  app/src/main/res/layout/app_card_list_item.xml
  app/src/main/res/layout/app_card_normal.xml
  app/src/main/res/layout/app_details2_donate.xml
  app/src/main/res/layout/app_details2_screenshot_item.xml
  app/src/main/res/layout/repo_item.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  app/src/main/res/values-cs/strings.xml
  metadata/cs/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  app/src/main/res/values-ar/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate (German)
  metadata/de/changelogs/default.txt
Due: none

Translated using Weblate: Catalan (ca) by Marco Moreno <hibarioath@proton.me>
  app/src/main/res/values-ca/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Czech (cs) by Fjuro <git@alius.cz>
  app/src/main/res/values-cs/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate (Catalan)
  metadata/ca/changelogs/default.txt
Due: none

Translated using Weblate: German (de) by Severin Hamader <severin.hamader@yahoo.de>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Catalan (ca) by Joan Pujolar <joan.pujolar@gmail.com>
  app/src/main/res/values-ca/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Arabic (ar) by Laachir <LaachirDeeper@users.noreply.hosted.weblate.org>
  app/src/main/res/values-ar/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  app/src/main/res/values-ar/strings.xml
  metadata/ar/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Irish (ga) by Aindriú Mac Giolla Eoin <aindriu80@gmail.com>
  app/src/main/res/values-ga/strings.xml
  metadata/ga/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Indonesian (id) by cyberboh <cybermay686@gmail.com>
  app/src/main/res/values-id/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone
