Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

app assembleRelease test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs db test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs download test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs index test:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

app lint checkstyle:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs lint ktlintCheck:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

app lint pmd:
  stage: lint
  image:
    name: registry.gitlab.com/gitlab-ci-utils/gitlab-pmd-cpd:latest
    entrypoint:
    - ''
  parallel:
    matrix:
    - PMD_VARIANT: main
      PMD_RULESETS: config/pmd/rules.xml,config/pmd/rules-main.xml
      PMD_FILE_PATHS:
      - app/src/main/java
    - PMD_VARIANT: test
  ...

app tools scripts:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

app errorprone:
  tags:
  - saas-linux-medium-amd64
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  ...

libs database schema:
  stage: lint
  image: debian:bookworm-backports
  variables:
    JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install openjdk-17-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  ...

Improve presentation of main Discover screen
  next/src/main/kotlin/org/fdroid/ui/Main.kt
  next/src/main/kotlin/org/fdroid/ui/discover/AppsSearch.kt
  next/src/main/kotlin/org/fdroid/ui/discover/Discover.kt
  next/src/main/kotlin/org/fdroid/ui/discover/DiscoverContent.kt
  next/src/main/kotlin/org/fdroid/ui/discover/DiscoverEntry.kt
  next/src/main/kotlin/org/fdroid/ui/discover/FirstStart.kt
  next/src/main/kotlin/org/fdroid/ui/utils/BigLoadingIndicator.kt
Due: none

Update our own app last
  next/src/main/kotlin/org/fdroid/ui/apps/MyAppsViewModel.kt
  next/src/main/kotlin/org/fdroid/updates/AppUpdateWorker.kt
  next/src/main/kotlin/org/fdroid/updates/UpdatesManager.kt
Due: none

Improve About screen
  next/src/main/kotlin/org/fdroid/ui/About.kt
  next/src/main/kotlin/org/fdroid/ui/details/NoAppSelected.kt
  next/src/main/kotlin/org/fdroid/ui/repositories/NoRepoSelected.kt
  next/src/main/res/values/strings-next.xml
Due: none

Init repo update progress as soon as possible
  next/src/main/kotlin/org/fdroid/repo/RepoUpdateManager.kt
  next/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetails.kt
  next/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetailsInfo.kt
Due: none

Change last update check key
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Adapt CI to new module structure
  .gitlab-ci.yml
  app/build.gradle.kts
  app/lint.xml
  app/src/full/res/values/strings.xml
  app/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetailsHeader.kt
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Only show one app confirmation dialog at a time
  app/src/main/kotlin/org/fdroid/install/InstallState.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyApps.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsInfo.kt
  app/src/main/kotlin/org/fdroid/ui/apps/MyAppsPresenter.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Update update-mirrors-in-default_repos.xml.py
  app/src/main/assets/default_repos.json
  legacy/src/main/res/values/default_repos.xml
  tools/update-mirrors-in-default_repos.xml.py
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Ignore failing test testGetReportingWeekStart()
  legacy/src/test/java/org/fdroid/fdroid/work/FDroidMetricsWorkerTest.java
Due: none

Allow one more year of SHA1 in index v1 tests
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Remove 2.0 dev cruft
  .gitlab-ci.yml
  app/build.gradle.kts
  gradle/verification-metadata.xml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Adapt nightly builds to 2.0 basic
  .gitlab-ci.yml
  config/nightly-repo/repo.json
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Handle disabled pre-approval
  app/src/main/kotlin/org/fdroid/install/SessionInstallManager.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Don't claim no apps installed when all apps have issues
  app/src/main/kotlin/org/fdroid/ui/apps/MyApps.kt
  app/src/main/kotlin/org/fdroid/updates/UpdatesManager.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Fix top spacer when changing repos in app details
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsHeader.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Don't keep retrying sending ACRA reports
  app/src/main/kotlin/org/fdroid/App.kt
  app/src/main/kotlin/org/fdroid/ui/crash/NoRetryPolicy.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Use proper Litecoin icon
  app/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
  app/src/main/kotlin/org/fdroid/ui/icons/Litecoin.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Show changelog of update (if existing) in app details
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsItem.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Make repo error text selectable
  app/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetailsHeader.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Only show repo errors if the repo is enabled
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/repositories/RepositoryItem.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Remove int preferences hack, because library now supports Long
  app/src/main/kotlin/org/fdroid/settings/SettingsConstants.kt
  app/src/main/kotlin/org/fdroid/settings/SettingsManager.kt
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app errorprone, libs database schema

Take signer into account when finding installed version in app details
  app/src/main/kotlin/org/fdroid/ui/details/DetailsPresenter.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Improve behavior of updating our own app last
  app/src/main/kotlin/org/fdroid/install/AppInstallManager.kt
  app/src/main/kotlin/org/fdroid/install/InstallState.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsHeader.kt
  app/src/main/kotlin/org/fdroid/updates/UpdatesManager.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Move new strings into a separate file
  app/src/main/res/values/new-strings.xml
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app weblate merge conflict, app errorprone

remove all diffs in app/src/main/res/values/strings.xml
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app weblate merge conflict, app errorprone

Reload updates after deleting a repository
  app/src/main/kotlin/org/fdroid/ui/repositories/details/RepoDetailsViewModel.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Warn when we ignore external intent
  app/src/main/kotlin/org/fdroid/MainActivity.kt
  app/src/main/kotlin/org/fdroid/ui/navigation/IntentRouter.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Fix versionCode of nightly builds
  .gitlab-ci.yml
Due: app assembleRelease test, libs db test, libs download test, libs index test, app lint checkstyle, libs lint ktlintCheck, app lint pmd, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

Don't show an 'Open' button for ourselves
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsViewModel.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Don't show an 'More' button for short descriptions
  app/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Simplify dynamic feature graphic handling
  app/src/main/kotlin/org/fdroid/ui/details/AppDetails.kt
  app/src/main/kotlin/org/fdroid/ui/details/AppDetailsHeader.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Treat old crash reports differently
  app/src/main/kotlin/org/fdroid/ui/crash/Crash.kt
  app/src/main/kotlin/org/fdroid/ui/crash/CrashActivity.kt
  app/src/main/kotlin/org/fdroid/ui/crash/CrashContent.kt
  app/src/main/res/values/strings.xml
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app weblate merge conflict, app errorprone

Close search results when selecting an app
  app/src/main/kotlin/org/fdroid/ui/discover/AppsSearch.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Implement custom search screen
  app/src/main/kotlin/org/fdroid/NotificationManager.kt
  app/src/main/kotlin/org/fdroid/ui/Main.kt
  app/src/main/kotlin/org/fdroid/ui/discover/AppsSearch.kt
  app/src/main/kotlin/org/fdroid/ui/discover/Discover.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverContent.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverEntry.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverPresenter.kt
  app/src/main/kotlin/org/fdroid/ui/discover/DiscoverViewModel.kt
  app/src/main/kotlin/org/fdroid/ui/discover/SearchResults.kt
  app/src/main/kotlin/org/fdroid/ui/lists/TopSearchBar.kt
  app/src/main/kotlin/org/fdroid/ui/navigation/NavigationKey.kt
  app/src/main/kotlin/org/fdroid/ui/search/AppSearchInputField.kt
  app/src/main/kotlin/org/fdroid/ui/search/AppsSearch.kt
  app/src/main/kotlin/org/fdroid/ui/search/ExpandedSearch.kt
  app/src/main/kotlin/org/fdroid/ui/search/SearchManager.kt
  app/src/main/kotlin/org/fdroid/ui/search/SearchResults.kt
  app/src/main/kotlin/org/fdroid/ui/search/SearchViewModel.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

update start-alpha-cycle.py for 2.0
  tools/start-alpha-cycle.py
Due: none

Add changelog
  metadata/ar/changelogs/1023051.txt
  metadata/ca/changelogs/1023051.txt
  metadata/cs/changelogs/1023051.txt
  metadata/de/changelogs/1023051.txt
  metadata/en-US/changelogs/1023051.txt
  metadata/eo/changelogs/1023051.txt
  metadata/fr/changelogs/1023051.txt
  metadata/ga/changelogs/1023051.txt
  metadata/id/changelogs/1023051.txt
  metadata/ja/changelogs/1023051.txt
  metadata/lv/changelogs/1023051.txt
  metadata/pt-BR/changelogs/1023051.txt
  metadata/tr/changelogs/1023051.txt
  metadata/uk/changelogs/1023051.txt
  metadata/zh-CN/changelogs/1023051.txt
  metadata/zh-TW/changelogs/1023051.txt
  src/basic/fastlane/metadata/android/en-US/changelogs/default.txt
Due: none

Clean up top app bar search bar
  app/src/main/kotlin/org/fdroid/ui/apps/MyApps.kt
  app/src/main/kotlin/org/fdroid/ui/lists/AppList.kt
  app/src/main/kotlin/org/fdroid/ui/lists/TopSearchBar.kt
  app/src/main/kotlin/org/fdroid/ui/search/ExpandedSearch.kt
  app/src/main/kotlin/org/fdroid/ui/search/TopSearchBar.kt
Due: app assembleRelease test, app lint checkstyle, app lint pmd, app tools scripts, app errorprone

Windows artifact hash for aapt2 8.13.2
  gradle/verification-metadata.xml
Due: none

Path conditions:
  app assembleRelease test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*, libs/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/index/**/*)
  app lint checkstyle: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/**/*)
  app lint pmd: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml, metadata/*
  app errorprone: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle, settings.gradle, gradle/libs.versions.toml) or (any of: libs/database/**/*)
