Repository f-droid/fdroidclient: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app assembleFullRelease test, libs db test, libs download test, libs index test, app lint pmd checkstyle, libs lint ktlintCheck, app tools scripts, app weblate merge conflict, app errorprone, libs database schema

app assembleFullRelease test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs db test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs download test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs index test:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app lint pmd checkstyle:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs lint ktlintCheck:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

app tools scripts:
  stage: lint
  image: debian:bullseye-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends git python3
  - ./tools/check-format-strings.py
  - ./tools/check-fastlane-whitespace.py
  - ./tools/remove-unused-and-blank-translations.py
  ...

app weblate merge conflict:
  stage: lint
  image: debian:bookworm-slim
  script:
  - apt-get update
  - apt-get -qy install --no-install-recommends ca-certificates git
  - git config user.name "$CI_PIPELINE_ID/$CI_JOB_ID"
  - git config user.email $CI_PROJECT_PATH@f-droid.org
  - git fetch https://hosted.weblate.org/git/f-droid/f-droid
  ...

app errorprone:
  before_script:
  - echo "org.gradle.caching=true" >> gradle.properties
  - test -e /etc/apt/sources.list.d/bullseye-backports.list || echo "deb http://deb.debian.org/debian bullseye-backports main" >> /etc/apt/sources.list
  - apt update
  ...

libs database schema:
  stage: lint
  image: debian:bullseye-backports
  script:
  - apt-get update
  - apt-get -qy --no-install-recommends install default-jdk-headless git sdkmanager
  - export ANDROID_HOME=/opt/android-sdk
  - export ANDROID_COMPILE_SDK=`sed -n 's,.*compileSdkVersion\s*\([0-9][0-9]*\).*,\1,p' app/build.gradle`
  ...

standardize on spelling/caps: Anti-Features
  app/src/main/res/values-en-rGB/strings.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Add TetheredNet icon imported by Bene
  app/src/main/res/drawable/ic_antifeature_tetherednet.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add TetheredNet
  app/src/main/java/org/fdroid/fdroid/views/appdetails/AntiFeaturesListingView.java
  app/src/main/res/values/array.xml
  app/src/main/res/values/donottranslate.xml
  app/src/main/res/values/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

[app] don't change installer if APK permissions don't match
  app/src/main/java/org/fdroid/fdroid/installer/ApkVerifier.java
  app/src/main/java/org/fdroid/fdroid/installer/Installer.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Do not divide by zero
  app/src/main/java/org/fdroid/fdroid/Utils.java
  app/src/main/java/org/fdroid/fdroid/views/AppDetailsRecyclerViewAdapter.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Show Toast from UiThread to avoid crash
  app/src/main/java/org/fdroid/fdroid/RepoUpdateManager.kt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Don't crash when trying to enable Wi-Fi
  app/src/full/java/org/fdroid/fdroid/nearby/SwapWorkflowActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

[app] Don't crash on malformed fdroid.link Uri
  libs/database/src/main/java/org/fdroid/repo/RepoUriGetter.kt
  libs/database/src/test/java/org/fdroid/repo/RepoUriGetterTest.kt
Due: libs db test, libs lint ktlintCheck, libs database schema

[app] Don't crash RepoDetailsActivity when repo is gone
  app/src/main/java/org/fdroid/fdroid/views/repos/RepoDetailsActivity.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Simplify if-else block
  app/src/main/java/org/fdroid/fdroid/Utils.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add missing annotation from overriden method
  app/src/main/java/org/fdroid/fdroid/FDroidApp.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Complete TODO and use DisplayCompat.getMode
  app/src/main/java/org/fdroid/fdroid/Utils.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Fix getPercent to return the floored value instead of the rounded up val
  app/src/main/java/org/fdroid/fdroid/Utils.java
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app errorprone

Add .idea icon for toolbox and Android Studio
  .gitignore
  .idea/icon.svg
Due: none

Translated using Weblate: Ukrainian (uk) by Nazar <balaraz@tuta.io>
  app/src/main/res/values-uk/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by thereisno anderson <thereisnoanderson@users.noreply.hosted.weblate.org>
  metadata/de/changelogs/default.txt
Due: none

Translated using Weblate: Japanese (ja) by X <dieeeazpnnqbpddh@cock.email>
  app/src/main/res/values-ja/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Catalan (ca) by pitroig <ona@riseup.net>
  app/src/main/res/values-ca/strings.xml
  metadata/ca/changelogs/1000000.txt
  metadata/ca/changelogs/1000001.txt
  metadata/ca/changelogs/1000002.txt
  metadata/ca/changelogs/1000003.txt
  metadata/ca/changelogs/1000004.txt
  metadata/ca/changelogs/1000010.txt
  metadata/ca/changelogs/1000011.txt
  metadata/ca/changelogs/1001050.txt
  metadata/ca/changelogs/1002050.txt
  metadata/ca/changelogs/1002051.txt
  metadata/ca/changelogs/1003050.txt
  metadata/ca/changelogs/1003051.txt
  metadata/ca/changelogs/1004050.txt
  metadata/ca/changelogs/1005050.txt
  metadata/ca/changelogs/1006000.txt
  metadata/ca/changelogs/1006001.txt
  metadata/ca/changelogs/1006050.txt
  metadata/ca/changelogs/1007000.txt
  metadata/ca/changelogs/1007001.txt
  metadata/ca/changelogs/1007002.txt
  metadata/ca/changelogs/1007050.txt
  metadata/ca/changelogs/1008000.txt
  metadata/ca/changelogs/1008001.txt
  metadata/ca/changelogs/1008050.txt
  metadata/ca/changelogs/1009000.txt
  metadata/ca/changelogs/1010001.txt
  metadata/ca/changelogs/1010050.txt
  metadata/ca/changelogs/1012000.txt
  metadata/ca/changelogs/1012050.txt
  metadata/ca/changelogs/1013050.txt
  metadata/ca/changelogs/1014050.txt
  metadata/ca/changelogs/1016050.txt
  metadata/ca/changelogs/1017050.txt
  metadata/ca/changelogs/1018050.txt
  metadata/ca/changelogs/1019051.txt
  metadata/ca/changelogs/1020050.txt
  metadata/ca/changelogs/default.txt
  metadata/ca/full_description.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Catalan (ca) by Santiago Payà <santiagopim@gmail.com>
  app/src/main/res/values-ca/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Ukrainian (uk) by Ihor Hordiichuk <igor_ck@outlook.com>
  app/src/main/res/values-uk/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Catalan (ca) by omarmaciasmolina <omarmaciasmolina@gmail.com>
  app/src/main/res/values-ca/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Serbian (sr) by Đorđe Vasiljević <djordje.vasiljevich@gmail.com>
  app/src/main/res/values-sr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by thereisno anderson <thereisnoanderson@users.noreply.hosted.weblate.org>
  app/src/main/res/values-de/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Korean (ko) by SeonGn J <kitrew979@gmail.com>
  app/src/main/res/values-ko/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: German (de) by VfBFan <VfBFan@users.noreply.hosted.weblate.org>
  app/src/main/res/values-de/strings.xml
  metadata/de/changelogs/1020050.txt
  metadata/de/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Arabic (ar) by jonnysemon <jonnysemon@users.noreply.hosted.weblate.org>
  app/src/main/res/values-ar/strings.xml
  metadata/ar/changelogs/1020050.txt
  metadata/ar/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Esperanto (eo) by ☆Verdulo <tomek@disroot.org>
  app/src/main/res/values-eo/strings.xml
  metadata/eo/changelogs/1020050.txt
  metadata/eo/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Estonian (et) by Priit Jõerüüt <hwlate@joeruut.com>
  app/src/main/res/values-et/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Spanish (es) by gallegonovato <fran-carro@hotmail.es>
  app/src/main/res/values-es/strings.xml
  metadata/es/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Catalan (ca) by dtalens <databio@gmail.com>
  app/src/main/res/values-ca/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Catalan (ca) by pitroig <ona@riseup.net>
  app/src/main/res/values-ca/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Japanese (ja) by Assem Askarova <assask499@users.noreply.hosted.weblate.org>
  app/src/main/res/values-ja/strings.xml
  app/src/main/res/values-ko/strings.xml
  app/src/main/res/values-tok/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Serbian (sr) by Reno Tx <renotx@users.noreply.hosted.weblate.org>
  app/src/main/res/values-sr/strings.xml
  metadata/sr/changelogs/1000010.txt
  metadata/sr/changelogs/1002050.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Czech (cs) by Fjuro <fjuro@alius.cz>
  app/src/main/res/values-cs/strings.xml
  metadata/cs/changelogs/1000000.txt
  metadata/cs/changelogs/1002051.txt
  metadata/cs/changelogs/1003051.txt
  metadata/cs/changelogs/1020050.txt
  metadata/cs/changelogs/default.txt
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Catalan (ca) by OwO+UwU <gabrielmizrahi@protonmail.com>
  app/src/main/res/values-ca/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Translated using Weblate: Serbian (sr) by NEXI <nexiphotographer@gmail.com>
  app/src/main/res/values-sr/strings.xml
Due: app assembleFullRelease test, app lint pmd checkstyle, app tools scripts, app weblate merge conflict, app errorprone

Path conditions:
  app assembleFullRelease test: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs db test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
  libs download test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/download/**/*)
  libs index test: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/index/**/*)
  app lint pmd checkstyle: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs lint ktlintCheck: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/**/*)
  app tools scripts: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  app weblate merge conflict: any of: .gitlab-ci.yml, app/src/*/res/values*/strings.xml
  app errorprone: (any of: .gitlab-ci.yml, build.gradle) or (any of: app/**/*)
  libs database schema: (any of: .gitlab-ci.yml, build.gradle) or (any of: libs/database/**/*)
